body { width: 100%; height: 100%; }
body,div,p,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,select,button,textarea,blockquote {margin: 0; padding: 0;font-family: Tahoma,"Microsoft YaHei","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 12px; line-height:1.5em;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0); }

.footer{width:100%; height: 693px; border-top: 1px solid #d2d2d2; background: #ffffff;overflow: hidden;}
.foot_main{width:576px; height: 100%; margin: 0 auto; }
.foot_ad{width:480px; height: 122px; margin: 90px auto 0px;}
.foot_item{width: 25%; height: 100%; float: left;}
.foot_logo{width: 60px; height: 60px; margin: 0 auto; background: url(../img/btm_logo.png) no-repeat;}
.foot_item:nth-child(1) .foot_logo{width: 42px; background-position: -180px 0;}
.foot_item:nth-child(2) .foot_logo{background-position: -60px 0;}
.foot_item:nth-child(3) .foot_logo{background-position: -120px 0;}
.foot_item:nth-child(4) .foot_logo{background-position: 0 0;}
.foot_ad_name{width: 100%; height: 62px; line-height: 62px; font-size: 18px; color: #666666; text-align: center;}
.foot_txt{width: 100%; line-height: 34px; color: #999999; font-size: 20px; text-align: center; margin-top: 65px;}
.foot_txt span{font-size: 24px; color: #000000;}
.foot_cp{width: 100%; height: 120px; text-align: center; color: #999999; line-height: 120px; margin-top: 26px; font-size: 20px;}
.foot_cp span{color: #000000; margin: 0 6px;}
.foot_cp a{color: #999999; text-decoration: none; margin: 0 6px;}

/*多语言 start*/
.footer .f_lang{display: inline-block; position: relative;top:-2px;}
.footer .f_lang .slang{font-size: 20px;}
.footer .f_lang .slang span{vertical-align: -4px; margin: 0 6px;}
.footer .f_lang .wrraper{display: none; position: absolute; width: 240px; height: 40px; right: 0px; bottom: 50px; border:1px solid #5d0700;border-radius: 3px; background: #eeeeee;z-index:2;list-style: none;}
.f_lang .arrow{position: absolute; width: 20px; height: 20px; bottom: -10px; right: 20px; border:1px solid #5d0700; background: #eeeeee; z-index:1; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);}
.footer .f_lang .ls_lang{position: absolute; width: 240px; height: 40px; top: 0px; left: 0px; background: #eeeeee; z-index: 2;border-radius: 3px;}
.footer .f_lang .ls_lang span{vertical-align: -5px; margin: 0 10px;display: inline-block;}
.footer .f_lang .ls_lang a {display: block; width: 160px; height: 40px;  margin-left: 20px; font-size: 22px; color:#444; text-decoration: none;}
.footer .f_lang .ls_lang li { line-height: 40px; cursor: pointer; text-align: left;list-style-type:none;}
.footer .f_lang .ls_lang li:hover { background: #c2b8b6; color:#666; }
.footer .f_lang .ls_lang li.on:hover {background: none;}

.flag_zh_cn, .flag_zh_tw, .flag_en_gb, .flag_vi_vn{background: url(../img/flag.png); display: inline-block; width: 32px; height: 20px;}
.flag_zh_cn{background-position: 0 0;}
.flag_zh_tw{background-position: 0 -20px;}
.flag_en_gb{background-position: 0 -40px;}
.flag_vi_vn{background-position: 0 -60px;}
.flag_big_zh_cn, .flag_big_zh_tw, .flag_big_en_gb,.flag_big_vi_vn{background: url(../img/flag_42_26.jpg); display: inline-block; width: 42px; height: 26px;}
.flag_big_zh_cn{background-position: 0 0;}
.flag_big_zh_tw{background-position: 0 -26px;}
.flag_big_en_gb{background-position: 0 -52px;}
.flag_big_vi_vn{background-position: 0 -78px;}
/*多语言 end*/
/*.footer span{ color: #333333; margin:0px 10px;}
.footer a{color:#999999; text-decoration: none; margin:0px 10px;}
.footer a:hover{text-decoration: underline;}*/




#floatingBarsG{position:relative; width:62px; height:77px; margin: 40px auto 0px; z-index: 2;}
.blockG{position:absolute; background-color:#FFFFFF; width:10px; height:24px; -moz-border-radius:8px 8px 0 0; -webkit-border-radius:8px 8px 0 0; -webkit-transform:scale(0.4); -webkit-animation-name:fadeG; -webkit-animation-duration:1.6s; -webkit-animation-iteration-count:infinite; -webkit-animation-direction:linear; -moz-transform:scale(0.4); -moz-animation-name:fadeG; -moz-animation-duration:1.6s; -moz-animation-iteration-count:infinite; -moz-animation-direction:linear; border-radius:8px 8px 0 0; -o-transform:scale(0.4); -o-animation-name:fadeG; -o-animation-duration:1.6s; -o-animation-iteration-count:infinite; -o-animation-direction:linear; -ms-transform:scale(0.4); -ms-animation-name:fadeG; -ms-animation-duration:1.6s; -ms-animation-iteration-count:infinite; -ms-animation-direction:linear; }

#rotateG_01{left:0; top:28px; -webkit-animation-delay:0.6s; -webkit-transform:rotate(-90deg); -moz-animation-delay:0.6s; -moz-transform:rotate(-90deg); -o-animation-delay:0.6s; -o-transform:rotate(-90deg); -ms-animation-delay:0.6s; -ms-transform:rotate(-90deg); }

#rotateG_02{left:8px; top:10px; -webkit-animation-delay:0.8s; -webkit-transform:rotate(-45deg); -moz-animation-delay:0.8s; -moz-transform:rotate(-45deg); -o-animation-delay:0.8s; -o-transform:rotate(-45deg); -ms-animation-delay:0.8s; -ms-transform:rotate(-45deg); }

#rotateG_03{left:26px; top:3px; -webkit-animation-delay:1s; -webkit-transform:rotate(0deg); -moz-animation-delay:1s; -moz-transform:rotate(0deg); -o-animation-delay:1s; -o-transform:rotate(0deg); -ms-animation-delay:1s; -ms-transform:rotate(0deg); }

#rotateG_04{right:8px; top:10px; -webkit-animation-delay:1.2s; -webkit-transform:rotate(45deg); -moz-animation-delay:1.2s; -moz-transform:rotate(45deg); -o-animation-delay:1.2s; -o-transform:rotate(45deg); -ms-animation-delay:1.2s; -ms-transform:rotate(45deg); }

#rotateG_05{right:0; top:28px; -webkit-animation-delay:1.4s; -webkit-transform:rotate(90deg); -moz-animation-delay:1.4s; -moz-transform:rotate(90deg); -o-animation-delay:1.4s; -o-transform:rotate(90deg); -ms-animation-delay:1.4s; -ms-transform:rotate(90deg); }

#rotateG_06{right:8px; bottom:7px; -webkit-animation-delay:1.6s; -webkit-transform:rotate(135deg); -moz-animation-delay:1.6s; -moz-transform:rotate(135deg); -o-animation-delay:1.6s; -o-transform:rotate(135deg); -ms-animation-delay:1.6s; -ms-transform:rotate(135deg); }

#rotateG_07{bottom:0; left:26px; -webkit-animation-delay:1.8s; -webkit-transform:rotate(180deg); -moz-animation-delay:1.8s; -moz-transform:rotate(180deg); -o-animation-delay:1.8s; -o-transform:rotate(180deg); -ms-animation-delay:1.8s; -ms-transform:rotate(180deg); }

#rotateG_08{left:8px; bottom:7px; -webkit-animation-delay:2s; -webkit-transform:rotate(-135deg); -moz-animation-delay:2s; -moz-transform:rotate(-135deg); -o-animation-delay:2s; -o-transform:rotate(-135deg); -ms-animation-delay:2s; -ms-transform:rotate(-135deg); }

@-webkit-keyframes fadeG{0%{background-color:#000000} 100%{background-color:#FFFFFF} }
@-moz-keyframes fadeG{0%{background-color:#000000} 100%{background-color:#FFFFFF} }
@-o-keyframes fadeG{0%{background-color:#000000} 100%{background-color:#FFFFFF} }
@-ms-keyframes fadeG{0%{background-color:#000000} 100%{background-color:#FFFFFF} }

.com_fixed{width: 100%; height: 100%; position: fixed; display: none;top: 0px; left: 0px; z-index: 100;}
.com_fcnt{width:200px; height: 200px; position: absolute; left: 50%; top: 50%; margin-left: -100px; margin-top: -100px; border-radius: 15px; overflow: hidden;}
.com_fbg{width:100%; height:100%;position: absolute;top: 0px; left: 0px; background: #000000; opacity: 0.8; }
.com_ftxt{width:100%; height: 30px; line-height: 30px; font-size: 28px; text-align: center; color:#ffffff; margin-top: 10px; position: relative; z-index: 2;}


/*download app*/
.dl_app{width: 100%; height: 0px; opacity: 0; background: #fff; overflow: hidden;-webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.on_show{height: 168px; opacity: 1;}
/*.dl_app_close{width: 40px; height: 40px; float: left; margin: 64px 24px 64px 32px; background: url(../img/app/tc_09.png) no-repeat center; cursor: pointer;}*/
.dl_app_mid{width: 385px; height: 100px; float: left; margin: 34px 0;}
/*.dl_app_logo{width: 100px; height: 100px; float: left; background: url(../img/app/tc_03.png) no-repeat;}*/
.dl_app_txt{width: 285px; height: 72px; float: left; margin: 14px 0; font-size: 24px; color:#444444; line-height: 36px;}
.dl_app_btn{width: 76px; height: 70px; float: right; margin: 49px 32px;}
/*.dl_app_icon{width:100%; height: 36px; background: url(../img/app/tc_06.png) no-repeat center;}*/
.dl_app_dl{width:100%; height: 18px; margin-top: 16px; font-size: 18px; line-height: 18px; color: #0088ff;}
/*download app end*/