html {
    font-size: 20px;
}

input {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    font-family: 'Microsoft JhengHei';
}

button {
    font-weight: bold;
    font-family: 'Microsoft JhengHei';
}

::placeholder {
    color: #9D9D9D;
}

body {
    background-color: #FFFFFF;
}

select {
    font-family: 'Microsoft JhengHei';
}

.bodyStyle {
    background-color: #FFFFFF;
}

.skinbg {
    background-color: #FBE9AC;
}


/*會員中心*/

/*忘記密碼*/

/*修改密碼、修改帳號共用*/

.USER_box_right .error_tex {
    margin: 0;
    padding: 0.375rem;
    color: #fff;
    font-size: 0.75rem;
    text-align: center;
}

/*額度轉換、會員資料*/

#mainContent {
    font-size: 0.75rem;
    border: 0.0625rem solid #707161;
}

#pageTitle {
    background-color: #616A74;
    color: #FFFFFF;
    padding: 0.25rem 0 0 0.625rem;
}

#tableWrap {
    background-color: #CBD1D4;
    border-width: 0 0.0625rem 0.0625rem;
    border-color: #707161;
    border-style: solid;
    padding: 0.0625rem 0.125rem 0.125rem;
}

.tableStyle01 {
    border: 0.0625rem solid #666666;
    margin: 0rem auto;
    text-align: center;
    width: 100%;
}

.tableStyle01 th {
    background-color: #999999;
    border: 0.0625rem solid #666666;
    color: #000000;
    font-weight: normal;
    text-align: center;
    height: 1.4375rem;
    line-height: 1.4375rem;
}

.tableStyle01 td {
    background-color: #FFFFFF;
    border: 0.0625rem solid #666666;
    padding: 0.125rem;
}

.tableStyle01 tr .gameLimit {
    background-color: #FBE9AC;
    color: #000000;
}

.za_button {
    font-size: 0.75rem;
}

/*下注狀況*/

.tableStyle01 .wagers th {
    background-color: #F1EFEF;
    text-align: center;
}

#pageTitle #pageTitleEx {
    float: right;
    color: #FF0000;
}

#pageTitle #pageTitleEx a {
    color: #CC0000;
    text-decoration: none;
    font-weight: bold;
}

.tableStyle01 .b_rig .amountGold {
    background-color: #CCCCCC;
    text-align: right;
}

.tableStyle01 .b_rig .awinGold {
    background-color: #990000;
    color: #FFFFFF;
    text-align: right;
}

.tableStyle01 .red_border {
    border: 0.125rem solid #FF0000;
}

.tableStyle01 .b_rig_mor {
    background-color: #EDEDED;
    text-align: right;
}

.tableStyle01 .b_rig_mor td {
    background-color: #EDEDED;
}

.tableStyle01 .b_rig {
    background-color: #FFFFFF;
    text-align: right;
}

.b_cen {
    background-color: #FFFFFF;
    text-align: center;
    height: 4.375rem;
}

/*往來紀錄*/

#mainContent p.subject {
    width: 5.125rem;
    height: 1.125rem;
    line-height: 1.125rem;
    text-indent: 0.3125rem;
}

.Wdate {
    width: 5.625rem;
}

.BookTable td {
    padding: 0.0625rem 0rem;
}

#foot {
    text-align: left;
    color: #000000;
    font-size: 0.75rem;
    padding-left: 0.625rem;
}

#foot a {
    color: #CC0000;
    font-weight: bold;
    text-decoration: none;
}

/*線上存取款*/

#bank_body {
    background: #1C130E;
}

#bank_header {
    height: 6.25rem;
    margin: 0rem auto;
    width: 50rem;
    background: url(/cl/tpl/starball/ver1/image/rule_logo_bg.jpg) repeat-x;
}

#bank_logo {
    width: 15.625rem;
    height: 6.25rem;
    background: url(/cl/tpl/starball/ver1/image/rule_logo.jpg) no-repeat;
}

#bank_content {
    width: 50rem;
    margin: 0rem auto;
    background-color: #FFFFFF;
}

#bank_footer {
    margin: 0rem auto;
    width: 50rem;
    height: 1.875rem;
    color: #FFFFFF;
    font-size: 0.6875rem;
    line-height: 1.875rem;
    font-weight: normal;
    font-family: 'Microsoft JhengHei';
    background: #250F0E;
}

#bank_footer font {
    color: #FFFFFF;
}

#pay_system_option a {
    color: #FF0000;
    text-decoration: none;
}

/*會員註冊*/

#joinMember iframe {
    width: 45.625rem;
    height: 62.5rem;
}

#memCash_body {
    background-color: transparent;
    color: #FFE4CA;
    font-size: 0.75rem;
}

#memCash_body .memCash_tit {
    background: url(/cl/tpl/starball/ver1/image/welcome.png) no-repeat;
    padding: 1.5625rem 0rem 0rem 7.8125rem;
    height: 1.5625rem;
    width: 26.125rem;
    margin-left: 1.1875rem;
    overflow: hidden;
}

.JM_content_t {
    padding: 0.625rem 0.625rem 0.625rem 1.25rem;
}

#memCash_body fieldset {
    padding: 0.625rem;
    margin: 0.625rem;
    border: 0.1875rem solid #472E27;
    border-radius: 0.625rem;
}

#memCash_body legend {
    color: #FC9;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 0.1875rem;
}

#memCash_body .star {
    font-family: 'Microsoft JhengHei';
    font-size: 0.75rem;
    color: #FF0000;
    font-weight: bold;
    vertical-align: -0.125rem;
}

#memCash_body a {
    text-decoration: none;
    color: #A4845D;
}

#memCash_body .memCash_text {
    line-height: 0.9375rem;
    height: auto;
}

#myFORM input[type=text],
#myFORM input[type=password],
#myFORM select {
    border: 0.0625rem solid #ABADB3;
    -moz-border-radius: 0.1875rem;
    -webkit-border-radius: 0.1875rem;
    border-radius: 0.1875rem;
    box-shadow: 0 0 0.375rem #CFD1D8;
    -moz-box-shadow: 0 0 0.375rem #CFD1D8;
    -webkit-box-shadow: 0 0 0.375rem #CFD1D8;
}

/*main*/

body {
    background-color: #2B2B2B;
    font-family: "nunito sans",
        "noto sans tc",
        微軟正黑體,
        serif !important;
    font-size: 1rem;
}

#MACenter {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0 0 0.375rem #000;
}

#MAContent {
    width: 55rem;
    flex: 1 1 100%;
}

#MALeft {
    width: 11.25rem;
    padding-top: 2.5rem;
    box-sizing: border-box;
    flex: 0 0 auto;
    background: linear-gradient(to left, #3D3C3C 35%, #6A6767, #3D3C3C);
    box-shadow: 0.25rem 0 0.5rem rgba(0, 0, 0, 0.4);
}

#MAMain {
    width: 100%;
    padding: 0 1.25rem 1.25rem 1.25rem;
    box-sizing: border-box;
}

#MACenterContent table.MMain {
    margin-bottom: 0.5rem;
}

/*header*/

#MAHeader {
    background: linear-gradient(to top, gold, goldenrod, gold);
    width: 100%;
    height: 2.5rem;
    padding: 0 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-weight: bold;
}

.welcom_text {
    color: #fff;
    font-size: 1.25rem;
}

#est_bg {
    font-size: 0.75rem;
    color: #FFF;
}

#MADeposit {
    box-sizing: border-box;
    padding: 0 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*left menual*/

.sidebar {
    margin-bottom: 2.5rem;
}

.sidebar div,
.sidebar a {
    display: block;
    text-align: center;
    line-height: 2.5rem;
    color: #FFFFFF;
    text-shadow: 0 0 0.125rem rgba(255, 255, 255, 0.8);
    font-weight: bold;
    text-decoration: none;
    font-size: 0.875rem;
    transition: all 0.2s;
}

.sidebar div,
.sidebar a:hover {
    background-color: #0000002d;
    text-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.8);
    transition: all 0.2s;
}

.sidebar #sidebar-mem {
    height: 2.5rem;
    background: url("../img/icon001.png") center no-repeat;
}

.sidebar #sidebar-msg {
    height: 2.5rem;
    background: url("../img/icon002.png") center no-repeat;
}

.sidebar #sidebar-pay {
    height: 2.5rem;
    background: url("../img/icon004.png") center no-repeat;
}

.sidebar #sidebar-game {
    height: 2.5rem;
    background: url("../img/icon005.svg") center no-repeat;
    background-size: contain;
}

.sidebar #sidebar-home {
    height: 2.5rem;
    background: url("../img/home.png") center no-repeat;
    background-size: contain;
}

#MALeft a.mcurrent {
    background-position: bottom left;
    color: #000;
}

/*main menual*/

.MNav {
    background: linear-gradient(to top, #3D3C3C, #6A6767, #3D3C3C);
    width: 100%;
    font-family: 'Microsoft JhengHei';
    box-sizing: border-box;
    display: flex;
    height: 2.5rem;
}

.MNav .mbtn {
    padding: 0 1.25rem;
    line-height: 2.5rem;
    text-align: center;
    font-weight: bold;
    color: #D9D9D9;
    font-size: 0.875rem;
    text-shadow: rgba(0, 0, 0, 0.8) 0rem 0rem 0.125rem;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

.MNav .active.mbtn,
.MNav .mbtn:hover {
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.2s;
    color: rgb(255, 255, 255);
    border-bottom: 0.375rem solid gold
}

/* cont */

.transaction_box {
    box-sizing: border-box;
    padding: 1.25rem 0.625rem;
    background-color: #656565;
    min-height: 29.375rem;
    font-weight: bold;
}

.transaction_box .transaction_title {
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
}

.mybalance {
    padding: 0.625rem 0;
}

.mybalance_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #D9D9D9;
    border-radius: 0.3125rem;
    padding: 0.625rem 1.25rem;
    box-sizing: border-box;
    height: 3.75rem;
}

.mybalance_box:hover,
.balances .balance_box:hover {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.7);
    background-color: #ECECEC;
    transition: all 0.2s;
}

.mybalance_box p {
    font-size: 1rem;
    color: #B57606;
    padding-right: 1.25rem;
    border-right: 0.0625rem solid #BFBFBF;
    line-height: 2.5rem;
}

.mybalance_box dl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    padding-left: 1.25rem;
}

.mybalance_box dl dt {
    font-size: 1rem;
    color: #2B2B2B;
}

.mybalance_box dl dd {
    font-size: 1rem;
    color: #656565;
}

.mybalance_box dl dd span {
    font-size: 1.875rem;
    color: #2B2B2B;
}

.balance_time {
    text-align: center;
    color: #fff;
    line-height: 1.5rem;
}

.balance_time span {
    padding-left: 0.25rem;
}

.balance {
    display: flex;
    flex-wrap: wrap;
}

.balances {
    width: 16.25rem;
    margin: 0.625rem 0.625rem 0 0;
}

.balances:nth-child(3n) {
    margin-right: 0;
}

.balances .balance_box {
    background-color: #D9D9D9;
    border-radius: 0.3125rem;
    padding: 0.625rem 0.625rem 0;
    box-sizing: border-box;
    height: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.balances .balance_box dl {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.0625rem solid #BFBFBF;
    color: #474747;
    padding-bottom: 0.25rem;
    width: 100%;
}

.balances .balance_box dl dt {
    color: #B57606;
    font-size: 0.875rem;
}

.balances .balance_box dl dd {
    font-size: 0.75rem;
}

.balances .balance_box .balance_money {
    width: 100%;
    text-align: end;
    padding-top: 0.625rem;
    font-size: 0.875rem;
    color: #6A6767;
}

.balances .balance_box .balance_money span {
    color: #2B2B2B;
    font-size: 1.125rem;
}

.balances .balance_box ul {
    display: flex;
    justify-content: space-between;
    width: 13.75rem;
    margin-top: 1rem;
    padding: 0.25rem 0;
    background: linear-gradient(to bottom, gold, goldenrod);
    border-radius: 0.3125rem;
    box-sizing: border-box;
    height: 1.75rem;
}

.balances .balance_box ul li {
    width: 50%;
}

.balances .balance_box ul li button {
    width: 100%;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    font-size: 0.875rem;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.balances .balance_box ul li button:hover {
    text-shadow: 0 0 0.375rem rgba(255, 255, 255, 0.8);
    transition: all 0.2s;
}

.balances .balance_box ul li:first-child {
    border-right: 0.0625rem solid #fff;
}

/* 轉入轉出 */

.conversion_box {
    display: flex;
    padding-top: 0.625rem;
    background-color: #656565;
}

.conversion_box .left_box,
.conversion_box .right_box {
    width: 50%;
    min-height: 16.875rem;
    box-sizing: border-box;
}

.conversion_box .left_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, gold, goldenrod, gold);
}

.conversion_box .left_box.pay_bg {
    background: url(../img/pay_bg.png) center no-repeat;
    background-size: cover;
}

.conversion_box .left_box h2 {
    font-size: 1.5rem;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.7) 0rem 0rem 0.25rem;
    padding-bottom: 0.875rem;
}

.conversion_box .left_box a {
    font-size: 1rem;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0rem 0rem 0.125rem;
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.5);
    padding: 0.25rem 1.875rem;
    border: 0.0625rem solid #fff;
    border-radius: 0.3125rem;
    text-decoration: none;
    font-weight: bold;
}

.conversion_box .left_box a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.2s;
}

.conversion_box .right_box {
    padding: 1rem 1.25rem 1.25rem;
    background: linear-gradient(to bottom, #fff, #D9D9D9);
}

.conversion_box .right_box ul {
    display: flex;
}

.conversion_box .right_box ul li {
    width: 50%;
    padding-bottom: 0.25rem;
    font-size: 1.125rem;
    color: #474747;
    border-bottom: 0.375rem solid #BFBFBF;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.conversion_box .right_box ul .active {
    color: goldenrod;
    border-bottom: 0.375rem solid gold;
}

.money_box {
    padding-top: 1.25rem;
}

.money_box select,
.money_box input,
.otherpay_box .rightbox input,
.otherpay_box .rightbox select,
.USER_box_right .user_table input {
    width: 100%;
    background: linear-gradient(to bottom, #FFFFFF, #D9D9D9);
    height: 2rem;
    font-size: 1rem;
    border: 0.0625rem solid #474747;
    border-radius: 0.3125rem;
    color: #656565;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 0.625rem;
    cursor: pointer;
}

.money_box span {
    display: block;
    text-align: center;
    padding: 0.625rem 0;
    color: #F2694D;
    font-size: 0.875rem;
}

.money_box input.confirm_btn,
.btn_box .confirm_btn,
.otherpay_box .rightbox input.confirm_btn,
.USER_box_right .user_table .confirm_btn {
    width: 100%;
    background: linear-gradient(to bottom, gold, goldenrod);
    height: 2.5rem;
    font-size: 1rem;
    border: 0.0625rem solid #B57606;
    border-radius: 0.3125rem;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 0.625rem;
}

.money_box input.confirm_btn:hover,
.btn_box .confirm_btn:hover,
.otherpay_box .rightbox input.confirm_btn:hover,
.USER_box_right .user_table .confirm_btn:hover {
    border: 0.0625rem solid gold;
    box-shadow: 0 0 0.625rem gold;
    transition: all 0.2s;
}

/* 交易 */

.pay_cont {
    box-sizing: border-box;
    background-color: #656565;
    min-height: 29.375rem;
    font-family: 'Microsoft JhengHei';
    font-weight: bold;
}

.pay_cont .title_box {
    box-sizing: border-box;
    background: linear-gradient(to bottom, #fff, #D9D9D9);
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.pay_cont .title_box h1 {
    color: #656565;
    font-size: 1.25rem;
    border-bottom: 0.0625rem solid #BFBFBF;
    padding-bottom: 0.625rem;
    width: 26.25rem;
    text-align: center;
}

.pay_cont .title_box p {
    color: #F2694D;
    font-size: 0.75rem;
    padding-top: 0.625rem;
}

.pay_cont .cont_box {
    box-sizing: border-box;
    padding: 1.25rem 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pay_cont .cont_box .pay_btn_box li {
    padding-bottom: 0.625rem;
}

.pay_cont .cont_box .pay_btn_box li a {
    display: block;
    width: 26.25rem;
    font-size: 1.125rem;
    border: 0.0625rem solid #B57606;
    border-radius: 0.3125rem;
    line-height: 2.5rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.6) 0rem 0rem 0.125rem;
    background: linear-gradient(to bottom, gold, goldenrod);
    box-sizing: border-box;
}

/* .pay_cont .cont_box .pay_btn_box li .red_deposit {
    background: linear-gradient(to bottom, #dd524d, #b43934);
}

.pay_cont .cont_box .pay_btn_box li .green-wechat {
    background: linear-gradient(to bottom, #42c558, #18942c);
}

.pay_cont .cont_box .pay_btn_box li .LightBlue-alipay {
    background: linear-gradient(to bottom, gold, goldenrod);
} */

.pay_cont .cont_box .pay_btn_box li a:hover {
    border: 0.0625rem solid gold;
    box-shadow: 0 0 0.625rem gold;
    transition: all 0.2s;
}

.pay_cont .title_box h2 {
    color: #656565;
    font-size: 1.125rem;
}

.pay_cont .title_box .title_table {
    padding-top: 0.625rem;
    width: 100%;
}

.pay_cont .title_box .title_table table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-weight: bold;
}

.pay_cont .title_box .title_table table th {
    background-color: #656565;
    text-align: center;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.pay_cont .title_box .title_table table td {
    line-height: 1.5rem;
}

.pay_cont .title_box .title_table .table_cont {
    border-bottom: 0.0625rem solid #9D9D9D;
    font-size: 0.75rem;
    color: #2B2B2B;
    height: 1.625rem;
}

.pay_cont .title_box .title_table .table_cont:hover {
    background-color: #BFBFBF;
    border-bottom: 0.0625rem solid #BFBFBF;
    transition: all 0.2s;
}

.otherpay_box .rightbox input.user_pay_name {
    background: #656565;
    border: none;
    color: #fff;
    cursor: default;
    height: 1.625rem;
}

.copy_btn {
    padding: 0 0.375rem;
    font-size: 0.625rem;
    color: #fff;
    border-radius: 0.3125rem;
    line-height: 1.125rem;
    background-color: gold;
    outline: none;
    cursor: pointer;
    list-style: none;
    border: 0;
}

.copy_btn:hover {
    background-color: goldenrod;
    transition: all 0.2s;
}

.pay_cont .main_box {
    padding: 0.625rem 1.25rem 1.875rem;
    color: #fff;
    box-sizing: border-box;
}

.otherpay_box {
    display: flex;
    padding-top: 1.25rem;
    font-weight: bold;
}

.otherpay_box .leftbox,
.otherpay_box .rightbox {
    width: 50%;
    font-size: 0.75rem;
    box-sizing: border-box;
}

.otherpay_box .leftbox {
    padding: 1.25rem 0.625rem;
    border: 0.0625rem solid #fff;
}

.otherpay_box .rightbox {
    padding-left: 0.625rem;
}

.otherpay_box .rightbox .user_name {
    font-size: 1.25rem;
    padding-left: 0.625rem;
}

.otherpay_box .rightbox .ps {
    font-size: 0.75rem;
    padding-top: 0.25rem;
}

.otherpay_box .rightbox h4 {
    font-size: 1rem;
    margin: 0.625rem 0 -0.375rem;
}

.otherpay_box .rightbox span {
    margin-right: 0.125rem;
}

.otherpay_box .checkbox {
    display: none;
}

.otherpay_box label {
    padding: 0.3125rem 0 0.3125rem 1.75rem;
    line-height: 1.875rem;
    font-size: 0.75rem;
    cursor: pointer;
    background: url("../img/checkbox01.svg") left no-repeat;
}

.otherpay_box .checkbox:checked+label {
    background: url("../img/checkbox02.svg") left no-repeat;
}

.title_box h3 {
    color: #B57606;
    font-size: 1.25rem;
    padding-bottom: 0.25rem;
    width: 26.25rem;
    text-align: center;
}

.title_box .title_date {
    display: flex;
    align-items: center;
}

.title_box .title_date input {
    width: 9.375rem;
    font-size: 1.25rem;
    border: 0;
    text-align: center;
    color: #656565;
    outline: none;
    background-color: transparent;
    font-weight: bold;
}

.title_box .title_date span {
    width: 1rem;
    height: 1rem;
    transform: rotate(-90deg);
    background: url("../img/pay_down.svg") center no-repeat;
}

.title_data {
    width: 26.25rem;
    padding-top: 0.625rem;
}

.title_data table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font-weight: bold;
    font-size: 0.875rem;
    color: #656565;
}

.title_data table tr {
    border-bottom: 0.0625rem solid #BFBFBF;
    padding-bottom: 0.25rem;
}

.title_data table tr td {
    width: 25%;
    line-height: 1.625rem;
}

.title_data table tr td:nth-child(2n) {
    width: 75%;
    color: #2B2B2B;
}

.record_box table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-weight: bold;
    color: #fff;
}

.record_box th {
    background-color: #2B2B2B;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-align: center;
}

.record_box tr.table_cont {
    border-bottom: 0.0625rem solid #fff;
    font-size: 0.75rem;
    height: 1.625rem;
}

.record_box tr.table_cont:hover {
    background-color: #9D9D9D;
    border-bottom: 0.0625rem solid #9D9D9D;
    transition: all 0.2s;
    color: #2B2B2B;
}

.record_box table a {
    display: inline-block;
    width: 1.625rem;
    height: 1.625rem;
    background: url(../img/seemore01.svg) center no-repeat;
}

.record_box tr.table_cont:hover a {
    background: url(../img/seemore02.svg) center no-repeat;
    transition: all 0.2s;
}

.record_box tr.table_cont.total_box {
    border-bottom: none;
    height: 2rem;
}

.record_box tr.table_cont .total_tex {
    font-size: 1.125rem;
}

.main_box .btn_box {
    width: 26.25rem;
    margin: 2.5rem auto 0;
}

.time_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 0 0.625rem;
    font-size: 1rem;
}

.time_box input {
    border: 0;
    color: #fff;
    outline: none;
    background-color: transparent;
    text-align: end;
}

/*會員中心個人信息*/

.flex_space_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#general-msg .haveRead .msg_delete {
    background-color: #F2694D;
    color: #fff;
    padding: 0.125rem 0.625rem;
    border-radius: 0.3125rem;
    box-sizing: border-box;
}

#general-msg .haveRead .msg_delete:hover {
    background-color: #E95031;
    transition: all 0.2s;
}

#general-msg .haveRead .msg_look {
    padding-left: 1.375rem;
    background: url(../img/islook02.svg) left no-repeat;
}

#general-msg .haveRead .msg_nolook {
    padding-left: 1.375rem;
    color: goldenrod;
    background: url(../img/islook01.svg) left no-repeat;
}

.msg_index_box,
.new_pagebox {
    box-sizing: border-box;
    margin-top: 1.25rem;
    padding: 1.25rem 0.625rem;
    background-color: #656565;
    min-height: 30.625rem;
}

.news_order_reverse {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.news_order {
    display: flex;
    flex-direction: column;
}

.msg_index_box .MColor1 {
    box-sizing: border-box;
    margin-bottom: 0.625rem;
    padding: 0.625rem;
    background-color: #D9D9D9;
    border-radius: 0.3125rem;
    font-weight: bold;
}

.msg_index_box .MColor1:hover {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.7);
    background-color: #ECECEC;
    transition: all 0.2s;
}

.msg_index_box .news_order_reverse .MColor1:first-child {
    margin-bottom: 0;
}

.msg_index_box.news_order .MColor1:last-child {
    margin-bottom: 0;
}

.msg_index_box .MColor1 p {
    color: #656565;
    font-size: 0.875rem;
}

.msg_index_box .MColor1 span {
    color: #2B2B2B;
    font-size: 0.875rem;
}

.new_pagebox {
    color: #fff;
    font-weight: bold;
}

.new_pagebox .tittlebox,
.USER_box_right .tittlebox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 0.625rem;
    border-bottom: 0.0625rem solid #fff;
}

.new_pagebox .tittlebox a,
.USER_box_right .tittlebox a {
    position: absolute;
    left: 0.625rem;
    width: 1.5rem;
    height: 1.5rem;
    background: url(../img/icon003.svg) center no-repeat;
}

.new_pagebox .tittlebox a:hover,
.USER_box_right .tittlebox a:hover {
    -webkit-filter: drop-shadow(0 0 0.375rem rgba(255, 255, 255, 0.7));
    filter: drop-shadow(0 0 0.375rem rgba(255, 255, 255, 0.7));
    transition: all 0.2s;
}

.new_pagebox .tittlebox h2,
.USER_box_right .tittlebox h2 {
    font-size: 1.25rem;
    margin: 0;
    color: #fff
}

.new_pagebox .senderbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
}

.new_pagebox .senderbox .sender {
    font-size: 1rem;
}

.new_pagebox .senderbox .new_time {
    font-size: 0.875rem;
}

.new_pagebox .new_content {
    display: block;
    padding: 0 0.625rem;
    font-size: 1rem;
}

#general-msg .haveRead,
#general-msg .haveRead a,
#general-msg .haveRead span {
    color: #656565;
    font-size: 0.875rem;
    font-weight: bold;
    text-decoration: none;
}

#general-msg .haveRead .msg_tittle {
    font-size: 1rem;
    color: #2B2B2B;
}

#general-msg .haveRead .msg_tittle:hover {
    color: #656565;
}

#general-msg .msgcontent td {
    height: auto;
}

#msgfoot a.pagelink {
    margin-right: 0.5rem;
    color: #12C;
    font-size: 1rem;
    text-decoration: none;
}

#msgfoot a.pagelink:hover {
    text-decoration: underline;
}

#currentpage {
    margin-right: 0.5rem;
    color: #333;
    font-size: 1rem;
}

#general-msg .haveRead a.mouseenter,
#general-msg .notRead a.mouseenter {
    color: #000;
}

/*會員中心其它*/

.USER_box {
    box-sizing: border-box;
    margin-top: 1.25rem;
    background-color: #656565;
    min-height: 30.625rem;
    display: flex;
}

.USER_box_left,
.USER_box_right {
    width: 50%;
    font-weight: bold;
    box-sizing: border-box;
}

.USER_box_left {
    background: url(../img/user_bg.png) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.USER_box_left span {
    color: #fff;
    text-shadow: 0 0 0.375rem rgb(0, 0, 0);
    font-size: 1.25rem;
    padding-top: 6.875rem;
    width: 100%;
    text-align: center;
    background: url(../img/icon006.png) top no-repeat;
}

.USER_box_right {
    padding: 1.25rem;
}

.USER_moneybox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 0.0625rem solid #fff;
    padding-bottom: 0.375rem;
    color: #fff;
}

.USER_moneybox span {
    font-size: 1rem;
}

.USER_moneybox h2 {
    font-size: 1.875rem;
}

.USER_box_right ul {
    padding: 1.25rem 0;
}

.USER_box_right li {
    display: flex;
    justify-content: center;
    margin-bottom: 0.625rem
}

.USER_box_right ul li a {
    display: block;
    width: 17.5rem;
    font-size: 1rem;
    border-radius: 0.3125rem;
    line-height: 2.5rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    border: 0.0625rem solid #B57606;
    background: linear-gradient(to bottom, gold, goldenrod);
}

.USER_box_right ul li a:hover {
    border: 0.0625rem solid gold;
    box-shadow: 0 0 0.625rem gold;
    transition: all 0.2s;
}

.USER_box_right ul li .USER_logout {
    background: #F2694D;
    border: none;
    margin-top: 0.625rem;
}

.USER_box_right ul li .USER_logout:hover {
    background: #E95031;
    border: none;
    box-shadow: 0 0 0.625rem #F2694D;
    transition: all 0.2s;
}

table.MMain td a.pagelink {
    color: #004892;
    font-weight: bold;
}

table.MMain td span.MImportant,
table.MMain td span.MCashNeg,
table.MMain td span#MSwitchResult {
    color: #922;
    font-weight: bold;
}

#MBlockImg {
    background: url("../img/loading/ajax-loader-white.gif") center no-repeat;
    margin: 0 auto;
    width: 2rem;
    height: 2rem;
}

/*會員中心彩票帳戶歷史細項*/

table.MMain span.g-order-type,
table.MMain span.g-real-type,
table.MMain span.g-odds {
    color: #922;
}

/*footer*/

#MAContentBottom {
    float: left;
    background: url("../img/orange/footer_nav.jpg") top left no-repeat;
    width: 62.5rem;
    height: 1.875rem;
}

#MAFoot {
    float: left;
    background: url("../img/orange/footer_bg.jpg") top left no-repeat;
    padding-top: 1.25rem;
    padding-right: 2.5rem;
    width: 60rem;
    height: 3.125rem;
    text-align: right;
    color: #300;
}

/*其它*/

.clear {
    margin: 0;
    padding: 0;
    clear: both;
}

a {
    outline: none;
    /* for Firefox Google Chrome  */
    /*
    behavior:expression(this.onFocus=this.blur());
    */
    /* for IE */
}

.time_text {
    width: 12.5rem;
    height: 1.25rem;
    line-height: 1.25rem;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* For IE 8 */
    *filter: alpha(opacity=80);
    /* For IE 5-7 */
    opacity: 0.80;
    /* For W3C */
    font-size: 0.75rem;
    color: #000;
    text-align: center;
    background-color: #FFF;
}

#choiceForm2 {
    background: url("../img/bgform05_03.gif") repeat-y scroll center bottom transparent;
    left: 15.625rem;
    position: absolute;
    top: 9.25rem;
    width: 18.3125rem;
    display: none;
    border-bottom: 0.0625rem solid #CCC;
}

#choiceForm2 .title {
    background: url("../img/bgform05_01.gif") no-repeat scroll left top transparent;
    float: left;
    height: 2.5625rem;
    line-height: 3.4375rem;
    padding-left: 2.5rem;
    width: 15.8125rem;
}

#choiceForm2 .titleBtn01 {
    height: 1rem;
    position: absolute;
    right: 0.5rem;
    top: 1.25rem;
    width: 1.75rem;
}

#choiceForm2 .btn {
    float: right;
    width: 9.375rem;
}

#choiceForm2 .text {
    float: left;
    margin: 0.625rem 0.8125rem;
    width: 90%;
}

a.btn11 {
    background: url("../img/btn11.jpg") no-repeat scroll center top transparent;
    color: #666666;
    cursor: pointer;
    display: block;
    float: left;
    height: 1rem;
    line-height: 1.375rem;
    text-align: center;
    width: 1rem;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 1.25rem 0;
    border-radius: 0.25rem;
}

.pagination>li {
    display: inline;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 0.375rem 0.75rem;
    margin-left: -0.0625rem;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 0.0625rem solid #ddd;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    z-index: 3;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination-lg>li>a,
.pagination-lg>li>span {
    padding: 0.625rem 1rem;
    font-size: 1.125rem;
    line-height: 1.3333333;
}

.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.pagination-sm>li>a,
.pagination-sm>li>span {
    padding: 0.3125rem 0.625rem;
    font-size: 0.75rem;
    line-height: 1.5;
}

.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span {
    border-top-left-radius: 0.1875rem;
    border-bottom-left-radius: 0.1875rem;
}

.pagination-sm>li:last-child>a,
.pagination-sm>li:last-child>span {
    border-top-right-radius: 0.1875rem;
    border-bottom-right-radius: 0.1875rem;
}

.pager {
    padding-left: 0;
    margin: 1.25rem 0;
    text-align: center;
    list-style: none;
}

.pager li {
    display: inline;
}

.pager li>a,
.pager li>span {
    display: inline-block;
    padding: 0.3125rem 0.875rem;
    background-color: #fff;
    border: 0.0625rem solid #ddd;
    border-radius: 0.9375rem;
}

.pager li>a:hover,
.pager li>a:focus {
    text-decoration: none;
    background-color: #eee;
}

.pager .next>a,
.pager .next>span {
    float: right;
}

.pager .previous>a,
.pager .previous>span {
    float: left;
}

.pager .disabled>a,
.pager .disabled>a:hover,
.pager .disabled>a:focus,
.pager .disabled>span {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
}

.STYLE7 b {
    font-size: 0.875rem;
    color: #6A6A6A;
}

.all_link_box {
    display: flex;
}

.all_link_box li {
    position: relative;
    ;
}

.all_link_box .d-btn {
    width: 100%;
    height: 2.5rem;
    background-color: #B57606;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.625rem;
    color: #fff;
    font-weight: bold;
    outline: none;
    border: 0;
    cursor: pointer;
}

.all_link_box .down_icon {
    width: 100%;
    height: 1rem;
    display: block;
    position: absolute;
    background: url(../img/pay_down.svg) no-repeat center;
    bottom: -0.875rem;
}

.all_link_box .w25 {
    width: 25%;
}

.all_link_box .w50 {
    width: 50%;
}

.all_link_box .w14 {
    width: 14%;
    flex: 1 1 auto;
}

.all_link_box .d-btn:hover {
    background-color: goldenrod;
    transition: all 0.2s;
}

.all_link_box .d-btn.btn_color {
    background-color: gold;
    color: #333;
}

.all_link_box .green-wechat-icon {
    padding-left: 1.875rem;
    background: url(../img/green-wechat.png) no-repeat left center;
}

.all_link_box .LightBlue-alipay-icon {
    padding-left: 1.875rem;
    background: url(../img/LightBlue-alipay.png) no-repeat left center;
}

.all_link_box .Cft-icon {
    padding-left: 1.875rem;
    background: url(../img/Cft.png) no-repeat left center;
}

.all_link_box .Uni-icon {
    padding-left: 1.875rem;
    background: url(../img/UNI.png) no-repeat left center;
}

.qrcode-box {
    display: flex;
    font-weight: bold;
}

.qrcode-box .leftbox,
.qrcode-box .rightbox {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.875rem 0;
}

.qrcode-box .leftbox {
    background: linear-gradient(to bottom, gold, goldenrod);
}

.qrcode-box .leftbox img {
    box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.2);
}

.qrcode-box .leftbox span {
    font-size: 1.25rem;
    color: #fff;
    padding-top: 0.625rem;
}

.qrcode-box .rightbox {
    background: linear-gradient(to bottom, #FFFFFF, #D9D9D9);
    color: #656565;
    font-size: 0.875rem;
}

.qrcode-box .rightbox h2 {
    font-size: 1rem;
    padding-bottom: 0.25rem;
    margin-bottom: 0.625rem;
    border-bottom: 0.0625rem solid #BFBFBF;
    width: 80%;
    text-align: center;
}

.qrcode-box .rightbox span {
    width: 1rem;
    height: 1rem;
    margin: 0.625rem 0;
    background: url(../img/pay_down.svg) no-repeat center;
}

.today_box {
    padding: 1.25rem 0 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.today_box input {
    border: 0;
    color: #fff;
    outline: none;
    background-color: transparent;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.twobtn_box {
    display: flex;
    justify-content: space-between;
}

.USER_box_right .user_table .twobtn_box .confirm_btn {
    width: 49%;
}

.USER_box_right .user_table .twobtn_box .back_btn {
    width: 49%;
    height: 2.5rem;
    font-size: 1rem;
    border: 0.0625rem solid #B57606;
    border-radius: 0.3125rem;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    line-height: 2.375rem;
    margin-top: 0.625rem;
    background: #F2694D;
    cursor: pointer;
    font-family: 'Microsoft JhengHei';
}

.USER_box_right .user_table .twobtn_box .back_btn:hover {
    background: #E95031;
    border: none;
    box-shadow: 0 0 0.625rem #F2694D;
    transition: all 0.2s;
}

.warning {
    font-size: 0.75rem;
    color: #F2694D;
}

.bottom_box {
    display: flex;
    align-items: flex-end;
}

.checkNum_img {
    cursor: pointer;
    width: 5.625rem;
}

.pad_top20 {
    padding-top: 1.25rem !important
}

#loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 9999;
    background: linear-gradient(to bottom, #3D3C3C, #2B2B2B);
}

#loading .loading_img {
    width: 3.75rem;
    height: 3.75rem;
    background: url(../img/load.svg) no-repeat center;
    animation-name: loading_img;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    margin-bottom: 1.25rem;
}

#loading span {
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    text-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.4);
    animation-name: loading_tex;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}


@keyframes loading_img {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading_tex {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width:768px) {
    #MACenter {
        position: relative;
        overflow: hidden;
        box-shadow: none;
    }

    #MAContent {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #MAHeader {
        justify-content: center;
    }

    #MAMain {
        height: calc(100% - 50px);
        overflow: scroll;
    }

    #est_bg {
        display: none;
    }

    #MALeft {
        width: 9.375rem;
        height: 100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: -14.0625rem;
        z-index: 1;
    }

    #MALeft>div {
        height: 100%;
        overflow: scroll;
    }

    .mbMenu {
        position: fixed;
        top: 2%;
        left: 6%;
        z-index: 2;
    }

    .mbMenu .icon-bar {
        display: block;
        width: 1.375rem;
        height: 0.25rem;
        border-radius: 1px;
        background-color: #fff;

    }

    .mbMenu .icon-bar+.icon-bar {
        margin-top: 0.25rem;
    }

    .mbMenu+input:checked+#MALeft {
        left: 0;
        transition: all .5s cubic-bezier(.77, 0, .175, 1);
    }

    .sidebar {
        margin-bottom: 0.9375rem;
    }

    .sidebar #sidebar-game {
        background: url(../img/icon005.svg) center -10px no-repeat;
        background-size: contain;
    }

    .USER_box {
        flex-direction: column;
        min-height: auto;
    }

    .USER_box_left,
    .USER_box_right {
        width: 100%;
    }

    .USER_box_left span {
        padding-top: 6.875rem;
        padding-bottom: 0.625rem;
        background: url(../img/icon006.png) center 20px no-repeat;
    }

    .USER_box_right ul {
        padding: 0.625rem 0;
    }

    .MNav {
        margin-top: 1.25rem;
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .MNav .mbtn {
        padding: 0 0.625rem;
        width: 33.333%;
        white-space: nowrap;
    }

    .pay_cont {
        min-height: auto;
        margin-bottom: 3.125rem;
    }

    .pay_cont .title_box {
        padding: 0.625rem;
    }

    .pay_cont .title_box h1 {
        width: 100%;
    }

    .pay_cont .title_box h2 {
        font-size: 18px;
    }

    .ps_textbox {
        font-size: 0.75rem;
        padding-bottom: 0.625rem;
        border-bottom: 1px solid #fff;
    }

    [data-current="mytransaction"] .otherpay_box .rightbox .user_name {
        margin-top: 0.625rem;
    }

    [data-current="myothrt_pay"] .pay_cont .btn-group+.main_box {
        padding: 0 0.625rem 0.625rem 0.625rem;
    }

    .otherpay_box {
        flex-direction: column-reverse;
    }

    .otherpay_box .leftbox,
    .otherpay_box .rightbox {
        width: 100%;
    }

    .otherpay_box .rightbox {
        padding: 0;
    }

    .otherpay_box .rightbox .user_name {
        padding: 0;
        text-align: center;
    }

    .otherpay_box .rightbox h4 {
        margin: 0.625rem 0 0 0;
        text-align: center;
    }

    .title_data {
        width: 100%;
    }

    .title_box h3 {
        width: 100%;
    }

    .title_data table tr td {
        width: 28%;
    }

    .title_data table tr td:nth-child(2n) {
        padding-left: 0.625rem;
    }

    #cn_date {
        width: 100% !important;
    }

    .confirm_btn {
        margin-bottom: 0.625rem;
    }

    .transaction_box {
        padding: 0.625rem;
        min-height: auto;
    }

    .mybalance_box {
        height: auto;
        padding: 0.5rem;
    }

    .mybalance_box p {
        width: 40%;
        line-height: initial;
        padding: 0;
        border: 0;
        text-align: center;
    }

    .mybalance_box dl {
        width: 60%;
        padding: 0;
        flex-direction: column;
    }

    .mybalance_box dl dd span {
        font-size: 1rem;
    }

    .balance_time {
        margin-top: 0.625rem;
    }

    .balances {
        width: 100%;
        margin: 0;
    }

    .balances .balance_box {
        height: auto;
    }

    .balances .balance_box dl dt {
        width: 40%;
        text-align: center;
    }

    .balances .balance_box dl dd {
        width: 60%;
        text-align: center;

    }

    .balances .balance_box .balance_money {
        text-align: center;
    }

    .conversion_box {
        flex-direction: column-reverse;
    }

    .conversion_box .left_box,
    .conversion_box .right_box {
        width: 100%;
    }

    .money_box input.confirm_btn {
        margin: 0;
    }

    .pay_btn_box {
        width: 100%;
    }

    .pay_cont .cont_box .pay_btn_box li a {
        width: 100%;
    }

    .pay_cont .main_box {
        padding: 0.625rem;
    }

    .otherpay_box {
        padding: 0;
    }

    .title_box .title_date {
        justify-content: space-between;
        align-items: center;
    }

    .title_box .title_date input {
        width: 32%;
        font-size: 16px;
    }

    .all_link_box {
        overflow-x: scroll;
    }

    .all_link_box>li {
        width: 33.3333% !important;
        min-width: 6.5625rem !important;
    }

    .record_box table a {
        border-radius: 50%;
        background: #333 url(../img/seemore01.svg) center no-repeat;

    }

    .today_box {
        padding: 0.625rem 0;
    }

    .main_box .btn_box {
        width: 100%;
    }

    .all_link_box .down_icon {
        display: none;
    }

    .all_link_box .d-btn {
        -webkit-appearance: none;
    }

    .rwd-table {
        background: #fff;
        overflow: hidden;
    }

    .rwd-table td {
        color: #333;
    }

    .rwd-table tr:nth-of-type(2n) {
        background: #eee;
    }

    .rwd-table th,
    .rwd-table td {
        margin: 0.5em 1em;
    }

    .rwd-table {
        min-width: 100%;
    }

    .rwd-table th {
        display: none;
    }

    .rwd-table td {
        display: flex;
        align-items: center;
    }

    .rwd-table td:before {
        content: attr(data-th) " : ";
        font-weight: bold;
        width: 6.5em;
        display: inline-block;
    }

    .rwd-table th,
    .rwd-table td {
        text-align: left;
    }

    .rwd-table th,
    .rwd-table td:before {
        color: #D20B2A;
        font-weight: bold;
    }

    @media (min-width: 480px) {
        .rwd-table td:before {
            display: none;
        }

        .rwd-table th,
        .rwd-table td {
            display: table-cell;
            padding: 0.25em 0.5em;
        }

        .rwd-table th:first-child,
        .rwd-table td:first-child {
            padding-left: 0;
        }

        .rwd-table th:last-child,
        .rwd-table td:last-child {
            padding-right: 0;
        }

        .rwd-table th,
        .rwd-table td {
            padding: 1em !important;
        }
    }

}