.sixballfl_1,.sixballfl_10,.sixballfl_11,.sixballfl_12,.sixballfl_13,.sixballfl_14,.sixballfl_15,.sixballfl_16,.sixballfl_17,.sixballfl_18,.sixballfl_19,.sixballfl_2,.sixballfl_20,
.sixballfl_21,.sixballfl_22,.sixballfl_23,.sixballfl_24,.sixballfl_25,.sixballfl_26,.sixballfl_27,.sixballfl_28,.sixballfl_29,.sixballfl_3,.sixballfl_30,.sixballfl_31,.sixballfl_32,
.sixballfl_33,.sixballfl_34,.sixballfl_35,.sixballfl_36,.sixballfl_37,.sixballfl_38,.sixballfl_39,.sixballfl_4,.sixballfl_40,.sixballfl_41,.sixballfl_42,.sixballfl_43,.sixballfl_44,
.sixballfl_45,.sixballfl_46,.sixballfl_47,.sixballfl_48,.sixballfl_5,.sixballfl_6,.sixballfl_7,.sixballfl_8,.sixballfl_9,.sixballfl_49
{width:43px;height:43px;border-radius:50%;line-height: 43px;color: #fff;}



/* 紅波*/
.sixballfl_1,.sixballfl_2,.sixballfl_7,.sixballfl_8,.sixballfl_12,.sixballfl_13,.sixballfl_18,.sixballfl_19,.sixballfl_23,.sixballfl_24,
.sixballfl_29,.sixballfl_30,.sixballfl_34,.sixballfl_35,.sixballfl_40,.sixballfl_45,.sixballfl_46
{
	background-color:#f50905;
}
/* 藍波*/
.sixballfl_3,.sixballfl_4,.sixballfl_9,.sixballfl_10,.sixballfl_14,.sixballfl_15,.sixballfl_20,.sixballfl_25,.sixballfl_26,.sixballfl_31,.sixballfl_36,.sixballfl_37,.sixballfl_41,.sixballfl_42,.sixballfl_47,.sixballfl_48
{
	background-color:#067fda;
}

/*綠波 */
.sixballfl_5,.sixballfl_6,.sixballfl_11,.sixballfl_16,.sixballfl_17,.sixballfl_21,.sixballfl_22,.sixballfl_27,.sixballfl_28,.sixballfl_32,.sixballfl_33,.sixballfl_38,.sixballfl_39,.sixballfl_43,.sixballfl_44,.sixballfl_49
{
	background-color:#428002;
    }
    
