<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>彩票游戏</title>
    <link href="../../../css/style.css" rel="stylesheet" />
    <link href="../../../css/swiper.min.css" rel="stylesheet" />
</head>
<body>
    <section class="back f20em"><a href="javascript:history.back(-1)" class="go-back">&lt;</a> 六合彩 </section>
    <div class="pdcenter">
        <section class="name">正码特</section>
        <section class="g-info">
            <p>当前期数：第2015147期</p>
            <p>开奖时间：2015-12-20 21:30:00</p>
            <p>封盘时间：<span id="span_dt_dt" class="f00">01:10:44</span></p>
        </section>
        <section class="pk-list">
            <!-- 前八球-->
            <div class="qiu_one">
                <!--<div class="qiu qiu_six">
                   <ul>
                        <li class="act">正码特1</li>
                        <li>正码特2</li>
                        <li>正码特3</li>
                        <li>正码特4</li>
                        <li>正码特5</li>
                        <li>正码特6</li>
                    </ul>
                           </div>-->
                <div class="qiu_tabs" id="qiu_tabs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide act"><a href="javascript:void(0)">正码特1</a> </div>
                        <div class="swiper-slide"><a href="javascript:void(0)">正码特2</a></div>
                        <div class="swiper-slide"><a href="javascript:void(0)">正码特3</a></div>
                        <div class="swiper-slide"><a href="javascript:void(0)">正码特4</a></div>
                        <div class="swiper-slide"><a href="javascript:void(0)">正码特5</a></div>
                        <div class="swiper-slide"><a href="javascript:void(0)">正码特6</a></div>
                    </div>
                </div>
                <div id="tabs-container" class="swiper-container slide_hideone">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="p-info infos" style="display: block;">
                                <p class="tit"><span>号码</span><span>赔率</span><span>金额</span></p>
                                <ul>
                                    <li>
                                        <span>1</span>
                                        <span>30</span>
                                        <span>封盘</span>
                                    </li>
                                    <li>
                                        <span>4</span>
                                        <span>30</span>
                                        <span>
                                            <input name="" type="text"></span>
                                    </li>
                                    <li>
                                        <span>5</span>
                                        <span>16</span>
                                        <span>
                                            <input name="" type="text"></span>
                                    </li>
                                    <li>
                                        <span>6</span>
                                        <span>16</span>
                                        <span>
                                            <input name="" type="text"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="p-info infos">
                                <p class="tit"><span>号码</span><span>赔率</span><span>金额</span></p>
                                <ul>
                                    <li>
                                        <span>2</span>
                                        <span>30</span>
                                        <span>封盘</span>
                                    </li>
                                    <li>
                                        <span>4</span>
                                        <span>30</span>
                                        <span>
                                            <input name="" type="text"></span>
                                    </li>
                                    <li>
                                        <span>5</span>
                                        <span>16</span>
                                        <span>
                                            <input name="" type="text"></span>
                                    </li>
                                    <li>
                                        <span>6</span>
                                        <span>16</span>
                                        <span>
                                            <input name="" type="text"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="p-info infos">
                                <p class="tit"><span>号码</span><span>赔率</span><span>金额</span></p>
                                <ul>
                                    <li>
                                        <span>3</span>
                                        <span>30</span>
                                        <span>封盘</span>
                                    </li>
                                    <li>
                                        <span>4</span>
                                        <span>30</span>
                                        <span>
                                            <input name="" type="text"></span>
                                    </li>
                                    <li>
                                        <span>5</span>
                                        <span>16</span>
                                        <span>
                                            <input name="" type="text"></span>
                                    </li>
                                    <li>
                                        <span>6</span>
                                        <span>16</span>
                                        <span>
                                            <input name="" type="text"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="p-info infos">
                                <p class="tit"><span>号码</span><span>赔率</span><span>金额</span></p>
                                <ul>
                                    <li>
                                        <span>4</span>
                                        <span>30</span>
                                        <span>封盘</span>
                                    </li>
                                    <li>
                                        <span>4</span>
                                        <span>30</span>
                                        <span>
                                            <input name="" type="text"></span>
                                    </li>
                                    <li>
                                        <span>5</span>
                                        <span>16</span>
                                        <span>
                                            <input name="" type="text"></span>
                                    </li>
                                    <li>
                                        <span>6</span>
                                        <span>16</span>
                                        <span>
                                            <input name="" type="text"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="p-info infos">
                                <p class="tit"><span>号码</span><span>赔率</span><span>金额</span></p>
                                <ul>
                                    <li>
                                        <span>5</span>
                                        <span>30</span>
                                        <span>封盘</span>
                                    </li>
                                    <li>
                                        <span>4</span>
                                        <span>30</span>
                                        <span>
                                            <input name="" type="text"></span>
                                    </li>
                                    <li>
                                        <span>5</span>
                                        <span>16</span>
                                        <span>
                                            <input name="" type="text"></span>
                                    </li>
                                    <li>
                                        <span>6</span>
                                        <span>16</span>
                                        <span>
                                            <input name="" type="text"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="p-info infos">
                                <p class="tit"><span>号码</span><span>赔率</span><span>金额</span></p>
                                <ul>
                                    <li>
                                        <span>6</span>
                                        <span>30</span>
                                        <span>封盘</span>
                                    </li>
                                    <li>
                                        <span>4</span>
                                        <span>30</span>
                                        <span>
                                            <input name="" type="text"></span>
                                    </li>
                                    <li>
                                        <span>5</span>
                                        <span>16</span>
                                        <span>
                                            <input name="" type="text"></span>
                                    </li>
                                    <li>
                                        <span>6</span>
                                        <span>16</span>
                                        <span>
                                            <input name="" type="text"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="orderbtn">
                <label>下注金额：<span>0.00</span></label>
                <p class="p-btn">

                    <a href="javascript:void(0)">确认下注</a>
                    <a href="javascript:void(0)" onclick="ClearOrder();">取消下注</a>
                </p>
            </div>
        </section>
    </div>
    <footer>Copyright © 澳門銀河賭場 Reserved </footer>
    <script src="../../../js/jquery-1.8.3.min.js"></script>

    <script src="../../../js/swiper.jquery.min.js"></script>
    <script src="../../../js/base.js"></script>

    <script type="text/javascript">
        $(function () {
            var mySwiper = new Swiper('#qiu_tabs', {
                freeMode: true,
                slidesPerView: 'auto',
            });

            var tabsSwiper = new Swiper('#tabs-container', {
                speed: 500,
                onSlideChangeStart: function () {
                    $(".qiu_tabs .act").removeClass('act')
                    var tabSize = parseInt($(window).width() / $(".qiu_tabs a").width());
                    $(".qiu_tabs a").eq(tabsSwiper.activeIndex).addClass('act');
                    mySwiper.slideTo(tabsSwiper.activeIndex * parseInt(tabsSwiper.activeIndex / tabSize));
                }
            });
            //拖动
            $(".qiu_tabs a").on('touchstart mousedown', function (e) {
                e.preventDefault()
                $(".qiu_tabs .act").removeClass('act')
                $(this).addClass('act');
                tabsSwiper.slideTo($(this).parent().index());
       

            })

            $(".qiu_tabs a").click(function (e) {
                visibilityFullFit: true,
                e.preventDefault();

            })
            //$('.qiu li').click(function () {
            //    $(this).addClass('act').siblings().removeClass('act');

            //    $(this).parents(".qiu_one").find(".p-info").eq($(this).index()).show().siblings('.p-info').hide();
            //})
        })
    </script>
</body>
</html>
