body.layout {
    min-width: 1250px;
    overflow: hidden;
}

#news {
    position: fixed;
    top: 120px;
    z-index: 99;
}

.indexSection {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.indexSection .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10px;
    left: 0;
}

.indexSection .parallax-window {
    background: transparent;
}

.indexSection .title1 {
    width: 582px;
}

.indexSection .title2 {
    width: 440px;
}

.indexSection .title3 {
    width: 500px;
}

.indexSection .bottom {
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: hidden;
}

.indexSection .bottom .line {
    width: 2px;
    height: 200px;
    margin: 0 auto;
    background: #FFF;
}

.indexSection .bottom .next {
    display: block;
    width: 280px;
    height: 50px;
    line-height: 46px;
    text-align: center;
    font-size: 28px;
    color: #FFF;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    border-radius: 27px;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid #FFF;
    margin-top: 10px;
    cursor: pointer;
}

.indexSection1 {
    z-index: 0;
}

.indexSection2 {
    z-index: 5;
}

.indexSection3 {
    z-index: 1;
}

.indexSection1 .bg {
    position: fixed;
    top: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    background: url(../images/sport/index-banner.jpg) no-repeat center;
    -webkit-animation: blur 2s 0.3s forwards;
    animation: blur 2s 0.3s forwards;
}

@-webkit-keyframes blur {
    0% {
        -webkit-filter: blur(10px);
        filter: blur(10px);
    }

    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
    }
}

@keyframes blur {
    0% {
        -webkit-filter: blur(10px);
        filter: blur(10px);
    }

    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
    }
}

.parallax-mirror {
    pointer-events: none;
}

/* #banner {
    height: 600px;
    overflow: hidden;
}

#banner>div.wrapper {
    top: 155px;
    bottom: auto
}

#slide-banner {
    position: relative;
    height: 600px;
    overflow: hidden
}

#slide-banner .slide a {
    display: inline-block;
    width: 1920px;
    height: 600px
}

#slide-banner .slide-pager {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    text-align: center;
}

#slide-banner .swiper-pagination-bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    font-size: 0;
    background: #fff;
    opacity: 1;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer
}

#slide-banner .swiper-pagination-bullet-active {
    background: #ffb400
} */

/* #account-box form input::-webkit-input-placeholder {
    color: #585858
}

#account-box form input::-moz-placeholder {
    color: #585858
}

#account-box form input:-ms-input-placeholder {
    color: #585858
}

#account-box form input.placeholder {
    color: #585858
}

#account-box {
    position: absolute;
    top: 0;
    right: 0;
    padding: 75px 22px 0;
    width: 286px;
    height: 383px;
    background-image: url('../images/login_bg.png')
}

#account-box form {
    font-size: 0
}

#account-box form input {
    width: 242px;
    height: 38px;
    margin: 0 0 10px 0;
    color: #585858;
    line-height: 38px
}

#account-box form input#login_account {
    background-image: url('../images/icon_account.png')
}

#account-box form input#login_password {
    background-image: url('../images/icon_pw.png')
}

#account-box form #check-code-wrapper input {
    width: 242px
}

#account-box .login-btn,
#account-box .reg-btn {
    display: inline-block;
    width: 242px;
    height: 43px;
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: bold;
    text-shadow: none;
    line-height: 39px;
    border: 2px solid #ffb400
}

#account-box .login-btn {
    color: #ffb400;
    background-color: transparent
}

#account-box .login-btn:hover {
    color: #000;
    background-color: #ffb400
}

#account-box .reg-btn {
    color: #000;
    background-color: #ffb400
}

#account-box .reg-btn:hover {
    color: #ffb400;
    background-color: transparent
}

#captcha {
    right: 4px;
    height: 30px
}

#agree {
    top: 75%
}

#account-box .account-btn a {
    position: absolute;
    bottom: 0;
    width: 143px;
    height: 43px;
    color: #fff;
    font-size: 15px;
    line-height: 41px;
    border: 1px solid #404040;
    text-align: center
}

#account-box .account-btn a:hover {
    color: #ffb400;
    text-decoration: none
}

#account-box .account-btn a.forget-btn {
    left: 0
}

#account-box .account-btn a.freeplay-btn {
    right: 0
}

#account-box.is-login {
    background-image: url('../images/logout_bg.png')
}

ul#account-info>li {
    width: 100%;
    margin: 0;
    color: #646262;
    font-size: 14px
}

ul#account-info>li>span.account {
    max-width: 6em;
    color: #646262
}

ul#account-nav>li {
    font-size: 14px
}

ul#account-nav>li+li:before {
    color: #646262
}

ul#account-nav>li.transaction:before {
    display: none
}

ul#account-nav>li>a {
    color: #646262
}

#action-box {
    margin-top: 15px
} */

/* #content {
    padding-top: 0;
}

#home-info {
    width: 100%;
    height: 110px;
    padding-top: 28px;
    text-align: center;
    background-color: #15171a;
    border-bottom: 1px solid #2d2f31
}

#home-info li {
    position: relative;
    display: inline-block;
    margin: 0 42px;
    vertical-align: top
}

#home-info>li+li:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -42px;
    margin: auto;
    display: inline-block;
    width: 1px;
    height: 45px;
    background-color: #27292c
}

#home-info li a {
    display: inline-block;
    width: 200px;
    height: 54px;
    background: no-repeat center top
}

#home-info li a:hover {
    background-position: center bottom
}

#home-info li.promo a {
    width: 208px;
    background-image: url('../images/info_promo.png')
}

#home-info li.partner a {
    width: 218px;
    background-image: url('../images/info_partner.png')
}

#home-info li.reg a {
    width: 221px;
    background-image: url('../images/info_reg.png')
}

#home-info li.download a {
    background-image: url('../images/info_download.png')
}

#home-slot {
    padding: 150px 0 30px;
    text-align: left;
    background: #1d1e22 url('../images/title_slot.png') no-repeat center 40px
}

#home-slot>.wrapper {
    width: 1237px;
    padding: 18px;
    background-color: #15171a
}

#home-slot .slot-list {
    display: inline-block;
    font-size: 0
}

#home-slot .slot-list .swiper-wrapper {
    display: block;
    height: 402px;
}

#home-slot .slot-list .swiper-wrapper .swiper-slide {
    width: 285px;
    height: 67px;
    padding: 10px 0 0 135px;
    color: #343434;
    font-size: 14px;
    text-align: left;
    border-top: 1px solid #232427;
    border-bottom: 1px solid #2d2d32;
    background: #29292d url('../images/slots_icon.png') no-repeat 60px top;
    cursor: pointer;
}

#home-slot .slot-list .swiper-wrapper .swiper-slide span {
    display: block;
    color: #797979;
    font-size: 18px
}

#home-slot .slot-list .swiper-wrapper .swiper-slide:hover span,
#home-slot .slot-list .swiper-wrapper .swiper-slide.active span {
    color: #d59705;
    font-weight: bold;
    text-decoration: underline
}

#home-slot .slot-list .swiper-wrapper .swiper-slide.mg {
    background-position: 60px 14px
}

#home-slot .slot-list .swiper-wrapper .swiper-slide.pt {
    background-position: 60px -56px
}

#home-slot .slot-list .swiper-wrapper .swiper-slide.bb {
    background-position: 60px -134px
}

#home-slot .slot-list .swiper-wrapper .swiper-slide.ag {
    background-position: 60px -201px
}

#home-slot .slot-list .swiper-wrapper .swiper-slide.prg {
    background-position: 60px -274px
}

#home-slot .slot-list .swiper-wrapper .swiper-slide.gns {
    background-position: 60px -346px
}

#home-slot .slot-list .swiper-wrapper .swiper-slide.gpi {
    background-position: 60px -417px
}

#home-slot .slot-list .swiper-wrapper .swiper-slide.lg {
    background: #29292d url('../images/lg.png') no-repeat 60px center;
    background-size: 19%
}

#home-slot .slot-list .swiper-wrapper .swiper-slide.isb {
    background: #29292d url('../images/isb.png') no-repeat 60px center;
    background-size: 19%
}

#home-slot .slot-list .slide-btn {
    width: 285px;
    height: 51px;
    padding-top: 15px;
    background: #252529;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    opacity: 1;
    cursor: pointer;
}

#home-slot .slot-list .slide-btn:before {
    content: '';
    display: block;
    width: 26px;
    height: 14px;
    margin: 0 auto;
    background: no-repeat center top
}

#home-slot .slot-list .slide-btn:hover:before {
    background-position: center bottom
}

#home-slot .slot-list .slide-btn.prev:before {
    background-image: url('../images/prev.png')
}

#home-slot .slot-list .slide-btn.next:before {
    background-image: url('../images/next.png')
}

#home-slot .game-list {
    width: 714px;
    height: 505px;
    margin: 0 8px;
    overflow: hidden;
    vertical-align: top
}

#home-slot .game-list li {
    display: inline-block;
    width: 218px;
    height: 155px;
    padding-top: 120px;
    margin: 0 10px 20px;
    background: #29292d no-repeat center 10px;
    cursor: pointer;
}

#home-slot .game-list li>span {
    display: block;
    height: 35px;
    padding-left: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 35px;
    background-color: #3e3e3e
}

#home-slot .game-list li>span span {
    float: right;
    margin-right: 10px;
    height: 35px;
    background: url('../images/star.jpg') repeat-x left center
}

#home-slot .game-list li>span span.star5 {
    width: 65px
}

#home-slot .game-list li>span span.star4 {
    width: 52px;
    padding-right: 13px
}

#home-slot .game-list li>span span.star3 {
    width: 39px;
    padding-right: 26px
}

#home-slot .game-list li>span span.star2 {
    width: 26px;
    padding-right: 39px
}

#home-slot .game-list li>span span.star1 {
    width: 13px;
    padding-right: 52px
}

#home-slot .game-list li.mg01 {
    background-image: url('../images/mg/01.png')
}

#home-slot .game-list li.mg02 {
    background-image: url('../images/mg/02.png')
}

#home-slot .game-list li.mg03 {
    background-image: url('../images/mg/03.png')
}

#home-slot .game-list li.mg04 {
    background-image: url('../images/mg/04.png')
}

#home-slot .game-list li.mg05 {
    background-image: url('../images/mg/05.png')
}

#home-slot .game-list li.mg06 {
    background-image: url('../images/mg/06.png')
}

#home-slot .game-list li.mg07 {
    background-image: url('../images/mg/07.png')
}

#home-slot .game-list li.mg08 {
    background-image: url('../images/mg/08.png')
}

#home-slot .game-list li.mg09 {
    background-image: url('../images/mg/09.png')
}

#home-slot .game-list li.pt01 {
    background-image: url('../images/pt/01.png')
}

#home-slot .game-list li.pt02 {
    background-image: url('../images/pt/02.png')
}

#home-slot .game-list li.pt03 {
    background-image: url('../images/pt/03.png')
}

#home-slot .game-list li.pt04 {
    background-image: url('../images/pt/04.png')
}

#home-slot .game-list li.pt05 {
    background-image: url('../images/pt/05.png')
}

#home-slot .game-list li.pt06 {
    background-image: url('../images/pt/06.png')
}

#home-slot .game-list li.pt07 {
    background-image: url('../images/pt/07.png')
}

#home-slot .game-list li.pt08 {
    background-image: url('../images/pt/08.png')
}

#home-slot .game-list li.pt09 {
    background-image: url('../images/pt/09.png')
}

#home-slot .game-list li.bb01 {
    background-image: url('../images/bb/01.png')
}

#home-slot .game-list li.bb02 {
    background-image: url('../images/bb/02.png')
}

#home-slot .game-list li.bb03 {
    background-image: url('../images/bb/03.png')
}

#home-slot .game-list li.bb04 {
    background-image: url('../images/bb/04.png')
}

#home-slot .game-list li.bb05 {
    background-image: url('../images/bb/05.png')
}

#home-slot .game-list li.bb06 {
    background-image: url('../images/bb/06.png')
}

#home-slot .game-list li.bb07 {
    background-image: url('../images/bb/07.png')
}

#home-slot .game-list li.bb08 {
    background-image: url('../images/bb/08.png')
}

#home-slot .game-list li.bb09 {
    background-image: url('../images/bb/09.png')
}

#home-slot .game-list li.ag01 {
    background-image: url('../images/ag/01.jpg')
}

#home-slot .game-list li.ag02 {
    background-image: url('../images/ag/02.jpg')
}

#home-slot .game-list li.ag03 {
    background-image: url('../images/ag/03.jpg')
}

#home-slot .game-list li.ag04 {
    background-image: url('../images/ag/04.jpg')
}

#home-slot .game-list li.ag05 {
    background-image: url('../images/ag/05.jpg')
}

#home-slot .game-list li.ag06 {
    background-image: url('../images/ag/06.jpg')
}

#home-slot .game-list li.ag07 {
    background-image: url('../images/ag/07.jpg')
}

#home-slot .game-list li.ag08 {
    background-image: url('../images/ag/08.jpg')
}

#home-slot .game-list li.ag09 {
    background-image: url('../images/ag/09.jpg')
}

#home-slot .game-list li.prg01 {
    background-image: url('../images/prg/01.jpg')
}

#home-slot .game-list li.prg02 {
    background-image: url('../images/prg/02.jpg')
}

#home-slot .game-list li.prg03 {
    background-image: url('../images/prg/03.jpg')
}

#home-slot .game-list li.prg04 {
    background-image: url('../images/prg/04.jpg')
}

#home-slot .game-list li.prg05 {
    background-image: url('../images/prg/05.jpg')
}

#home-slot .game-list li.prg06 {
    background-image: url('../images/prg/06.jpg')
}

#home-slot .game-list li.prg07 {
    background-image: url('../images/prg/07.jpg')
}

#home-slot .game-list li.prg08 {
    background-image: url('../images/prg/08.jpg')
}

#home-slot .game-list li.prg09 {
    background-image: url('../images/prg/09.jpg')
}

#home-slot .game-list li.gns01 {
    background-image: url('../images/gns/01.png')
}

#home-slot .game-list li.gns02 {
    background-image: url('../images/gns/02.png')
}

#home-slot .game-list li.gns03 {
    background-image: url('../images/gns/03.png')
}

#home-slot .game-list li.gns04 {
    background-image: url('../images/gns/04.png')
}

#home-slot .game-list li.gns05 {
    background-image: url('../images/gns/05.png')
}

#home-slot .game-list li.gns06 {
    background-image: url('../images/gns/06.png')
}

#home-slot .game-list li.gns07 {
    background-image: url('../images/gns/07.png')
}

#home-slot .game-list li.gns08 {
    background-image: url('../images/gns/08.png')
}

#home-slot .game-list li.gns09 {
    background-image: url('../images/gns/09.png')
}

#home-slot .game-list li.gpi01 {
    background-image: url('../images/gpi/01.png')
}

#home-slot .game-list li.gpi02 {
    background-image: url('../images/gpi/02.png')
}

#home-slot .game-list li.gpi03 {
    background-image: url('../images/gpi/03.png')
}

#home-slot .game-list li.gpi04 {
    background-image: url('../images/gpi/04.png')
}

#home-slot .game-list li.gpi05 {
    background-image: url('../images/gpi/05.png')
}

#home-slot .game-list li.gpi06 {
    background-image: url('../images/gpi/06.png')
}

#home-slot .game-list li.gpi07 {
    background-image: url('../images/gpi/07.png')
}

#home-slot .game-list li.gpi08 {
    background-image: url('../images/gpi/08.png')
}

#home-slot .game-list li.gpi09 {
    background-image: url('../images/gpi/09.png')
}

#home-slot .game-list li.lg01 {
    background-image: url('../images/lg/01.png')
}

#home-slot .game-list li.lg02 {
    background-image: url('../images/lg/02.png')
}

#home-slot .game-list li.lg03 {
    background-image: url('../images/lg/03.png')
}

#home-slot .game-list li.lg04 {
    background-image: url('../images/lg/04.png')
}

#home-slot .game-list li.lg05 {
    background-image: url('../images/lg/05.png')
}

#home-slot .game-list li.lg06 {
    background-image: url('../images/lg/06.png')
}

#home-slot .game-list li.lg07 {
    background-image: url('../images/lg/07.png')
}

#home-slot .game-list li.lg08 {
    background-image: url('../images/lg/08.png')
}

#home-slot .game-list li.lg09 {
    background-image: url('../images/lg/09.png')
}

#home-slot .game-list li.isb01 {
    background-image: url('../images/isb/01.png')
}

#home-slot .game-list li.isb02 {
    background-image: url('../images/isb/02.png')
}

#home-slot .game-list li.isb03 {
    background-image: url('../images/isb/03.png')
}

#home-slot .game-list li.isb04 {
    background-image: url('../images/isb/04.png')
}

#home-slot .game-list li.isb05 {
    background-image: url('../images/isb/05.png')
}

#home-slot .game-list li.isb06 {
    background-image: url('../images/isb/06.png')
}

#home-slot .game-list li.isb07 {
    background-image: url('../images/isb/07.png')
}

#home-slot .game-list li.isb08 {
    background-image: url('../images/isb/08.png')
}

#home-slot .game-list li.isb09 {
    background-image: url('../images/isb/09.png')
}

#home-slot .jackpot {
    display: inline-block;
    float: right;
    width: 178px;
    height: 505px;
    padding-top: 412px;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    background: url('../images/jackpot.1.jpg') no-repeat;
    vertical-align: top
}

#home-casino {
    width: 100%;
    padding: 170px 0 60px;
    background: #15171a url('../images/title_casino.png') no-repeat center 60px
}

#home-casino li {
    display: inline-block;
    width: 314px;
    height: 394px;
    margin: 0 40px;
    background: no-repeat center top
}

#home-casino li:hover {
    background-position: center bottom
}

#home-casino li a {
    display: inline-block;
    width: 100%;
    height: 100%
}

#home-casino li.sport {
    background-image: url('../images/casino_sport.jpg')
}

#home-casino li.live {
    background-image: url('../images/casino_live.jpg')
}

#home-casino li.game {
    background-image: url('../images/casino_slot.jpg')
}

#home-mobile {
    height: 428px;
    background: #1d1e22 url('../images/mobile.jpg') no-repeat center 20px
}

#home-about {
    height: 490px;
    background: #15171a url('../images/about.jpg') no-repeat center
}

#home-about ul.slot-data {
    position: absolute;
    top: 344px;
    left: 680px;
    text-align: left
}

#home-about ul.slot-data li {
    margin-bottom: 14px;
    color: #15171a;
    font-size: 14px;
    line-height: 14px
} */