#banner {
    background-color: #080705;
    background-image: url('https://cdn.weibo-hk.com/Web.Portal/EB004-01.Portal/Content/Views/Promotion/images/banner.jpg')
}

ul.navtab {
    width: 100%;
    margin: 0 auto 10px;
    text-align: center
}

ul.navtab li {
    float: left;
    display: inline-block;
    padding: 0 15px;
    height: 46px;
    margin: 0 10px;
    color: #fff;
    font-size: 18px;
    font-family: 'Microsoft YaHei';
    line-height: 46px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px
}

ul.navtab li.tab,
ul.navtab li:hover {
    color: #000;
    background: #ffb400
}

ul.discount {
    margin: 0 auto
}

ul.discount>li:first-child {
    margin-bottom: 5px
}

ul.discount>li.content {
    color: #8e8e8e;
    font-size: 14px;
    text-align: left
}

li.content img {}

li.content h3 {
    color: #ffb400;
    font-size: 18px;
    font-weight: normal
}

li.content h4 {
    color: #ffb400;
    font-size: 14px;
    font-weight: normal
}

li.content h5 {}

li.content p {
    line-height: 25px
}

li.content dd {
    margin-left: 0
}

li.content table {
    width: 100%
}

li.content table tr,
li.content table th,
li.content table td {
    color: #fff;
    font-size: 13px;
    font-family: SimSun;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ffb400
}

li.content table th {
    color: #000;
    font-size: 15px;
    font-family: 'Microsoft YaHei';
    background-color: #ffb400
}

li.content ol {
    padding-left: 20px;
    list-style-type: decimal
}

li.content ul {
    padding-left: 20px;
    list-style-type: disc
}

li.content ol li {}

li.content .highlight {
    color: #ffb400
}