/* 通用 */
body {
    font-family: Arial, 'Microsoft YaHei';
    font-size: 14px;
    line-height: 1.428571429
}

body.layout {
    min-width: 1200px;
    background-color: #111015
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

iframe {
    border: none
}

ol,
ul {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    list-style: none
}

.wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto
}

/* header */
#top-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    z-index: 2
}

#header {
    position: fixed;
    top: 54px;
    right: 0;
    left: 0;
    height: 120px;
    background-color: #15171a;
    background-color: rgba(21, 23, 26, .8);
    z-index: 99;
}

#logo-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    width: 382px;
    height: 120px;
    margin: 0 auto;
    background: url('../images/logo_bg.png') no-repeat center center;
    background-size: contain;
}

#logo-bg>a {
    position: absolute;
    top: 22px;
    right: 0;
    left: 0;
    display: block;
    width: 283px;
    height: 74px;
    margin: 0 auto;
    background: url('../images/logo.png') no-repeat
}

#nav {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1
}

#nav>ul>li {
    position: relative;
    float: left;
    width: 110px;
    height: 41px;
    line-height: 41px;
    text-align: center
}

#nav>ul>li.right-nav {
    margin-left: 320px
}

#nav>ul>li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 18px;
    text-decoration: none
}

#nav>ul>li:hover a,
#nav>ul>li.active a {
    color: #ffb400
}

.subnav {
    display: none;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -70px;
    padding-top: 25px;
    z-index: 99;
    list-style: none;
    background: url('../images/subnav.png') no-repeat center 12px;
}

.subnav li {
    width: 140px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background-color: #1c1d20 \9;
    background-color: rgba(28, 29, 32, .7);
}

.subnav li:hover {
    color: #e8d5a2;
    text-decoration: underline;
    cursor: pointer;
}

#account-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1128px;
    height: 54px;
    background: url('../images/account_bg.png') repeat center top;
    margin: 0 auto;
}

#loginbox,
#userinfoss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#account-box form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #999;
    font-size: 18px;
}

#account-box form input {
    width: 180px;
    height: 30px;
    padding: 0 3px 0 50px;
    margin: 0 10px 0 5px;
    color: #bcbcb8 !important;
    font-size: 14px;
    line-height: 28px;
    background: #000 no-repeat 10px center;
    border: 1px solid #393635
}

#account-box form input#login_account {
    background-image: url('../images/icon_account.png')
}

#account-box form input#login_password {
    background-image: url('../images/icon_pw.png')
}

#account-box form #check-code-wrapper input {
    width: 140px;
    padding-left: 10px
}

#account-box .login-btn,
#account-box .reg-btn {
    display: inline-block;
    width: 100px;
    height: 30px;
    padding: 0;
    margin-right: 10px;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .65);
    border: none;
    cursor: pointer;
}

#account-box .login-btn {
    background-color: #ffb400
}

#account-box .login-btn:hover {
    background-color: #ff8400
}

#account-box .reg-btn {
    background-color: #ff8400
}

#account-box .reg-btn:hover {
    background-color: #ffb400
}

#account-box .reg-btn a {
    width: 100%;
    height: 100%;
}

#check-code-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#vPic {
    position: absolute;
    top: 3px;
    right: 13px;
    width: auto;
    height: 24px;
}

#account-box .account-btn {
    display: inline-block;
    margin-left: 15px;
}

#account-box .account-btn a {
    display: block;
    color: #797979;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none
}

#account-box .account-btn a:hover {
    color: #ffb400;
    text-decoration: underline
}

ul#account-info {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

ul#account-info>li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 20px;
    color: #999;
    font-size: 18px;
    line-height: 34px;
}

ul#account-info>li>span.account {
    display: inline-block;
    font-size: 16px;
    max-width: 7.5em;
    color: #ffb400;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

ul#account-info>li a i:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../images/icon_refresh.png') no-repeat;
}

ul#account-info>li>span {
    margin-left: 5px;
}

ul#account-info>li:nth-child(2)>a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 2px;
}

#action-box {
    display: inline-block;
}

#action-box>a {
    line-height: 34px;
    text-align: center;
    text-decoration: none
}

ul#account-nav {
    margin-right: 10px;
}

ul#account-nav>li {
    float: left;
    font-size: 16px;
    line-height: 34px
}

ul#account-nav>li+li:before {
    content: '|';
    padding: 0 5px;
    color: #999
}

ul#account-nav>li>a {
    color: #999;
    text-decoration: none
}

ul#account-nav>li>a:hover {
    font-weight: bold;
    text-decoration: underline
}

#mailbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    text-decoration: none;
    background: url('../images/icon_mailbox.png') no-repeat
}

#mailbox>span,
#mailbox>span:hover {
    position: absolute;
    left: 80%;
    bottom: 60%;
    min-width: 16px;
    padding: 0 2px;
    height: 16px;
    color: #000;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    border-radius: 5px;
    background: #fff47e;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

/* banner */
#banner {
    position: relative;
    top: 0;
    height: 520px;
    background: #272f3a url('../images/banner.jpg') no-repeat center center;
    background-size: cover;
}

#news {
    position: relative;
    width: 100%;
    z-index: 1;
    height: 45px;
    background-color: #FFB400;
}

#news>div.wrapper {
    padding-left: 110px;
    background: url('../images/news.png') no-repeat left center
}

#hot-news {
    white-space: nowrap;
    overflow: hidden;
}

#msg {
    display: inline-block;
    height: 44px;
    vertical-align: top;
    margin: 0 5px;
    color: #1a1a1a;
    font-size: 14px;
    text-decoration: none;
    line-height: 44px;
}

#banner>div.wrapper {
    position: absolute;
    right: 0;
    bottom: -67px;
    left: 0;
    text-align: center;
    z-index: 1
}

/* content */
#content {
    padding-top: 120px;
    text-align: center;
    background-color: #1d1e22
}

/* footer */
#footer {
    height: 140px;
    position: relative;
    bottom: 0;
    text-align: center;
    background-color: #1D1E22;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 99;
}

/* 
#footer-info {
    width: 100%;
    height: 80px;
    font-size: 0;
    background: #1d1e22 url('../images/footer_info.jpg') no-repeat center;
    border-bottom: 1px solid #28282c
}

#footer-info ul {
    padding: 20px 0 0 22px;
    text-align: left
}

#footer-info li {
    display: inline-block;
    width: 311px;
    height: 40px;
    padding-left: 130px;
    color: #757575;
    font-size: 18px;
    line-height: 40px;
    vertical-align: top
}

#footer-info li.email {
    width: 326px
}

#footer-info li.agentmail {
    width: 323px
}

#footer-info li.chat {
    width: 200px;
    padding: 0
} */

#footer-logo {
    width: 152px;
}

/* #footer-nav {
    margin: 0 0 8px 0;
    font-size: 0
}

#footer-nav li {
    display: inline-block;
    vertical-align: middle
}

#footer-nav li+li:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 15px;
    vertical-align: middle;
    background: #4f4f4f
}

#footer-nav a {
    padding: 0 7px;
    color: #4f4f4f;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle
}

#footer-nav a:hover {
    color: #757575
} */

#footer-suggest {
    margin-left: 20px;
    color: #4f4f4f;
    font-size: 14px
}

ul.game-list {
    font-size: 0
}

ul.game-list li[game-box] {
    display: inline-block;
    background: no-repeat center top
}

#un-lobby {
    display: inline-block;
    width: 100%
}

#un-lobby aside {
    width: 100%;
    margin-bottom: 25px;
    text-align: center
}

#un-lobby ul#sidebar li {
    display: inline-block;
    margin: 0 20px
}

#un-lobby ul#sidebar li a {
    display: inline-block;
    height: 46px;
    padding: 0 19px;
    color: #8e8e8e;
    font-size: 18px;
    line-height: 46px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}

#un-lobby ul#sidebar li a:hover,
#un-lobby ul#sidebar li.active a {
    color: #000;
    background-color: #ffb400
}

#articles {
    width: 100%;
    padding: 15px 35px;
    margin-bottom: 30px;
    color: #8e8e8e;
    font-size: 14px;
    text-align: left;
    background-color: #29292d;
    border: 29px solid #1a1b1f
}

#articles h2 {
    color: #ffb400;
    font-size: 18px
}

#articles h3 {
    color: #ffb400;
    font-size: 18px;
    font-weight: normal
}

#articles h4 {
    color: #ffb400;
    font-size: 14px;
    font-weight: normal
}

#articles>ul {
    list-style: none
}

#articles ul.disc {
    padding-left: 20px;
    list-style: disc
}

#articles ul.nest {
    padding-left: 3em
}

#articles ol {
    padding-left: 20px;
    list-style-type: decimal
}

#articles p,
#articles li {
    text-align: justify;
    line-height: 25px
}

#articles p {
    margin: 1em 0
}

#articles table {
    width: 100%
}

#articles table tr,
#articles table th,
#articles table td {
    color: #fff;
    font-size: 13px;
    font-family: SimSun;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ffb400
}

#articles table th {
    color: #000;
    font-size: 15px;
    font-family: 'Microsoft YaHei';
    background-color: #ffb400
}

#articles .highlight {
    color: #ffb400
}

#articles ul.mtab-menual {
    text-align: left;
    margin-bottom: 15px
}

#articles ul.mtab-menual li {
    display: inline-block;
    height: 31px;
    padding: 0 15px;
    margin-right: 10px;
    color: #fff;
    font-size: 15px;
    font-family: 'Microsoft YaHei';
    line-height: 31px;
    text-align: center;
    background-color: #4a4a4a;
    border-radius: 10px;
    cursor: pointer
}

#articles ul.mtab-menual li.mtab,
#articles ul.mtab-menual li:hover {
    color: #000;
    background-color: #ffb400
}

#articles ul.deposit {
    list-style-type: none
}

#articles ul.deposit>li {
    counter-increment: title
}

#articles ul.deposit>li>a:before {
    content: "方法 "counter(title, upper-alpha)"、"
}

#articles ul.deposit>li a {
    color: red;
    font-size: 16px;
    text-decoration: underline
}

.form-group .control-div input::-webkit-input-placeholder {
    color: #999
}

.form-group .control-div input::-moz-placeholder {
    color: #999
}

.form-group .control-div input:-ms-input-placeholder {
    color: #999
}

.form-group .control-div input.placeholder {
    color: #999
}

.control-div input {
    width: 100%;
    padding: 3px 5px;
    line-height: 25px;
    background: url('../images/input_center.png') repeat-y;
    border: 0
}

.control-div input:focus {
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 249, 149, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 249, 149, .6)
}

.tooltip {
    position: absolute;
    left: 93%;
    top: -2px;
    z-index: 1;
    display: inline-block
}

.tooltip.tooltip-right {
    left: auto;
    right: 0
}

.tooltipshowarrow_int {
    position: absolute;
    top: 5px;
    right: -1px;
    z-index: 1000;
    display: block;
    border: 8px solid;
    border-color: transparent #fff;
    border-left-width: 0;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07)
}

.tooltipshowarrow_out {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 999;
    display: block;
    border: 8px solid;
    border-left-width: 0;
    border-color: transparent #bbb;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07)
}

.tooltipshow {
    position: absolute;
    z-index: 999 !important;
    width: 250px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid;
    border-color: #bbb #bbb #a8a8a8;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2)
}

.form-control::-webkit-input-placeholder {
    color: #878787
}

.form-control:-moz-placeholder {
    color: #878787
}

.form-control::-moz-placeholder {
    color: #878787
}

.form-control:-ms-input-placeholder {
    color: #878787
}

.help-block {
    color: #8a6d3b
}

.btn-submit {
    position: relative;
    width: 119px;
    height: 45px;
    color: #454545;
    font-size: 15px;
    font-family: PMingLiU;
    font-weight: bold;
    background: url('../images/sent_bn.png') no-repeat 0 0;
    border: 0
}

.btn-submit:hover {
    color: #454545;
    background: url('../images/sent_bn.png') no-repeat 0 -46px
}

.btn-submit[disabled]:hover {
    color: #999;
    background-position-y: 0
}

.table {
    color: #000
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    line-height: 2em
}

table tfoot {
    text-align: center;
    background: #eee
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: #000;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .2s;
    transition: all .2s
}

.modal-overlay.modal-show {
    visibility: visible;
    opacity: .6
}

.modal-announcement {
    position: fixed;
    top: 18%;
    left: 50%;
    margin-left: -499px;
    width: 1000px;
    z-index: 10000;
    visibility: hidden;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s
}

.modal-announcement.modal-show {
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.modal-announcement>.ma-noshow {
    padding-bottom: 2px;
    text-align: right
}

.modal-announcement>.ma-noshow span {
    margin: 0 5px;
    color: #fff;
    font-size: 14px
}

.modal-announcement>.ma-title {
    min-height: 38px;
    padding: 7px 0;
    color: #fff;
    text-align: center;
    word-break: break-all;
    background-color: #272f3a;
    border-bottom: 2px solid #ccc;
    border-radius: 8px 8px 0 0
}

.modal-announcement>.ma-title>span {
    font-size: 18px;
    font-weight: bold
}

.modal-announcement>.ma-title>i {
    float: right;
    margin: 2px 20px 0 0;
    font-size: 22px;
    cursor: pointer
}

.modal-announcement>.ma-body>section {
    height: 560px;
    display: inline-block;
    vertical-align: top
}

.modal-announcement .ma-sidebar {
    width: 27%;
    background-color: #fff;
    border-right: 1px solid #d6d6d6;
    overflow-y: auto;
    overflow-x: hidden
}

.modal-announcement .ma-sidebar ul {
    width: 100%
}

.modal-announcement .ma-sidebar li {
    width: 100%;
    height: 50px;
    padding: 0 12px;
    color: #000;
    line-height: 49px;
    border-bottom: 1px solid #ccc;
    cursor: pointer
}

.modal-announcement .ma-sidebar li span {
    display: inline-block;
    width: 80%;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.modal-announcement .ma-sidebar li:hover,
.modal-announcement .ma-sidebar li.active {
    color: #fff;
    background-color: #272f3a
}

.modal-announcement .ma-sidebar i.fa-comment-dots {
    vertical-align: middle;
    margin-right: 10px
}

.modal-announcement .ma-sidebar i.fa-chevron-right {
    float: right;
    margin-top: 19px
}

.modal-announcement .ma-content {
    width: 73%;
    background-color: #fff;
    overflow: auto
}

.modal-announcement .ma-content img {
    max-width: 100%;
    height: auto;
    vertical-align: top
}

.modal-announcement>.ma-footer {
    height: 10px;
    background-color: #272f3a;
    border-radius: 0 0 8px 8px
}

.modal-announcement>.ma-body>section::-webkit-scrollbar {
    width: 10px;
    height: 3px
}

.modal-announcement>.ma-body>section::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    background: #535353
}

.modal-announcement>.ma-body>section::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 10px;
    background: #ededed
}

.modal-announcement.single-content {
    width: 730px;
    margin-left: -365px
}

.modal-announcement.single-content .ma-sidebar {
    display: none
}

.modal-announcement.single-content .ma-content {
    width: 100%
}

.relative {
    position: relative
}

@keyframes marquee {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

@-webkit-keyframes marquee {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}