body {
    position: relative;
}

.bag {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    filter: blur(5px);
    animation: box-hide 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.bag.show {
    opacity: 1;
    filter: blur(0px);
    animation: box-filter 0.5s;
    background-color: #242424;
}

@keyframes box-hide {
    0% {
        opacity: 1;
        filter: blur(0px);
    }
    100% {
        opacity: 0;
        filter: blur(5px);
    }
}

@keyframes box-filter {
    0% {
        opacity: 0;
        filter: blur(5px);
    }
    100% {
        opacity: 1;
        filter: blur(0px);
    }
}

#menubtn {
    position: fixed;
    top: 1rem;
    right: 8.3438rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1%;
    overflow: hidden;
    z-index: 53;
}

#menubtn:before {
    content: " ";
    display: block;
    padding-top: 100%;
}

#hamburger {
    width: 1.25rem;
    cursor: pointer;
}

#hamburger>span {
    display: block;
    width: 100%;
    height: 0.125rem;
    border-radius: 0.125rem;
    background-color: black;
    margin-bottom: 0.25rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#hamburger.active span:nth-child(1) {
    transform: translateY(0.375rem) rotate(45deg);
    background-color: #FFF;
}

#hamburger.active span:nth-child(2) {
    opacity: 0;
}

#hamburger.active span:nth-child(3) {
    transform: translateY(-0.375rem) rotate(-45deg);
    background-color: #FFF;
}

.navInner {
    width: 100%;
    height: 100vh;
    background: url(img/backgroup.png) no-repeat center center;
    background-size: cover;
    top: -78.125rem;
    transition: cubic-bezier(0.34, 0.08, 0.44, 0.82) 2.5s;
    z-index: 52;
    position: fixed;
    padding: 2.8125rem 4.375rem;
    color: #FFF;
}

.navInner.show {
    top: 0;
    transition: cubic-bezier(0.34, 0.08, 0.44, 0.82) 1.5s;
}

.navInner .bigBox {
    float: left;
}

.navInner .bigBox>h1 {
    font-size: 1.375rem;
    font-weight: bold;
    margin-bottom: 0.7813rem;
    letter-spacing: 0.4375rem;
}

.navInner .bigBox>span {
    font-size: 0.375rem;
    font-weight: 500;
    line-height: 0.75rem;
}

.navInner .innerTitle {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.navInner .innerTitle .text {
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    margin: 0 0.8125rem;
}

.navInner .innerTitle .text>hr {
    width: 25px;
    border: 1px solid #FFF;
    margin: 0 0.4688rem 1.1563rem 0.4688rem;
}

.navInner .innerTitle .text>h1 {
    margin: 0 0 1.1563rem 0;
    font-size: 0.875rem;
    letter-spacing: 0.6563rem;
}

.navInner .innerTitle .text>span {
    font-size: 0.625rem;
    font-weight: 500;
    letter-spacing: 0.0313rem;
}

.navInner .logo {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    background: url(img/Path188.png) no-repeat center center;
    background-size: cover;
    float: right;
}

.navInner .box {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin-bottom: 2.25rem;
}

.navInner .box>h1 {
    margin: 0;
    font-size: 0.4688rem;
    font-weight: 600;
    letter-spacing: 0.3125rem;
}

.navInner .box>h1>hr {
    width: 2.8125rem;
    border: 1px solid #FFF;
    margin: 0.3125rem auto 0.3125rem auto;
}

.navInner .box>h1>span {
    font-size: 0.1875rem;
    font-weight: 500;
    letter-spacing: 0px;
}

.main.show {
    color: white;
}

.main .bigBox {
    position: fixed;
    z-index: 2;
    top: 3.2813rem;
    left: 4.5313rem;
}

.main .bigBox>h1 {
    font-size: 1.375rem;
    font-weight: bold;
    letter-spacing: 0.4375rem;
}

.main .box {
    position: fixed;
    z-index: 2;
    top: 5.7813rem;
    left: 4.5313rem;
}

.main .box>h1 {
    margin: 0;
    font-size: 0.4688rem;
    font-weight: 600;
    letter-spacing: 0.3125rem;
    margin-bottom: 0.2188rem;
}

.main .box>span {
    font-size: 0.1875rem;
    font-weight: 500;
    letter-spacing: 0px;
}

.bigBox.show, .box.show {
    color: white;
}

.main .title {
    width: calc(100vw - 14.2813rem);
    margin-top: 7.8125rem;
    display: flex;
    flex-flow: column;
    position: absolute;
    right: 0;
    z-index: 3;
}

.main .title .swiperBtn {
    border-top: 1px solid black;
    height: 4.9688rem;
}

.main .title .swiperBtn>span {
    width: 5.625rem;
    font-size: 0.4375rem;
    font-weight: 500;
    text-align: left;
    float: left;
    margin-top: 1.25rem;
}

.main .title .swiperBtn>a {
    color: black;
    text-decoration: none;
    font-size: 3.0313rem;
    font-weight: bold;
    margin: 0.4688rem 0 0 12.5rem;
}

.main .title .swiperBtn>a.show {
    color: white;
}

.main .title .swiperBtn.show {
    color: white;
    border-top-style: solid;
    border-top-color: white;
    border-width: 0.0313rem;
    text-shadow: 20px 5px 40px rgb(130, 63, 255), 0px 5px 40px rgb(255, 0, 85), -20px 5px 40px rgb(228, 77, 31);
    opacity: 0.8;
}

.main .title .swiperBtn:hover {
    color: white;
}

.swiper-container {
    height: 11.25rem;
    max-width: 100%;
    overflow: hidden;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    filter: blur(10px);
    animation: hide 0.5s;
    opacity: 0;
    z-index: 1;
}

.swiper-container.show {
    opacity: 1;
    filter: blur(0px);
    animation: filter 0.5s;
}

.swiper-container .swiper-wrapper {
    transition-timing-function: linear;
}

.swiper-container .swiper-wrapper .swiper-slide {
    width: 17.5rem;
    height: 11.25rem;
    background-color: #999999;
}

@keyframes filter {
    0% {
        filter: blur(10px)
    }
    100% {
        filter: blur(0px)
    }
}

@keyframes hide {
    0% {
        filter: blur(0px)
    }
    100% {
        filter: blur(10px)
    }
}

@media screen and (max-width:1024px) {
    .main .title {
        width: 27.5862rem;
        margin-top: 8.6207rem;
    }
    .main .title>div {
        height: 3.5rem;
    }
    .main .title>div>a {
        font-size: 2rem;
        margin: 0;
    }
}

/* 放圖片進來 */

#swiper1 .swiper-wrapper .pic1 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper1 .swiper-wrapper .pic2 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper1 .swiper-wrapper .pic3 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper1 .swiper-wrapper .pic4 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

#swiper1 .swiper-wrapper .pic5 {
    background-image: url("img/05/taichung.jpg");
    background-size: cover;
}

#swiper1 .swiper-wrapper .pic6 {
    background-image: url("img/05/first.jpg");
    background-size: cover;
}

#swiper1 .swiper-wrapper .pic7 {
    background-image: url("img/05/second.jpg");
    background-size: cover;
}

#swiper1 .swiper-wrapper .pic8 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper1 .swiper-wrapper .pic9 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper1 .swiper-wrapper .pic10 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper1 .swiper-wrapper .pic11 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

/* 第二行 */

#swiper2 .swiper-wrapper .pic1 {
    background-image: url("img/08/01.jpg");
    background-size: cover;
}

#swiper2 .swiper-wrapper .pic2 {
    background-image: url("img/08/02.jpg");
    background-size: cover;
}

#swiper2 .swiper-wrapper .pic3 {
    background-image: url("img/08/03.jpg");
    background-size: cover;
}

#swiper2 .swiper-wrapper .pic4 {
    background-image: url("img/08/04.jpg");
    background-size: cover;
}

#swiper2 .swiper-wrapper .pic5 {
    background-image: url("img/08/ca02f08a07b73c7c8ea49328e78955353_22309465_190117_0003.jpg");
    background-size: cover;
}

#swiper2 .swiper-wrapper .pic6 {
    background-image: url("img/08/01.jpg");
    background-size: cover;
}

#swiper2 .swiper-wrapper .pic7 {
    background-image: url("img/08/02.jpg");
    background-size: cover;
}

#swiper2 .swiper-wrapper .pic8 {
    background-image: url("img/08/03.jpg");
    background-size: cover;
}

#swiper2 .swiper-wrapper .pic9 {
    background-image: url("img/08/04.jpg");
    background-size: cover;
}

#swiper2 .swiper-wrapper .pic10 {
    background-image: url("img/08/ca02f08a07b73c7c8ea49328e78955353_22309465_190117_0003.jpg");
    background-size: cover;
}

#swiper2 .swiper-wrapper .pic11 {
    background-image: url("img/08/01.jpg");
    background-size: cover;
}

/* 第三行 */

#swiper3 .swiper-wrapper .pic1 {
    background-image: url("img/09/01.jpg");
    background-size: cover;
}

#swiper3 .swiper-wrapper .pic2 {
    background-image: url("img/09/02.jpg");
    background-size: cover;
}

#swiper3 .swiper-wrapper .pic3 {
    background-image: url("img/09/03.jpg");
    background-size: cover;
}

#swiper3 .swiper-wrapper .pic4 {
    background-image: url("img/09/04.jpg");
    background-size: cover;
}

#swiper3 .swiper-wrapper .pic5 {
    background-image: url("img/09/ca02f08a07b73c7c8ea49328e78955353_22309471_190117_0005.jpg");
    background-size: cover;
}

#swiper3 .swiper-wrapper .pic6 {
    background-image: url("img/09/01.jpg");
    background-size: cover;
}

#swiper3 .swiper-wrapper .pic7 {
    background-image: url("img/09/02.jpg");
    background-size: cover;
}

#swiper3 .swiper-wrapper .pic8 {
    background-image: url("img/09/03.jpg");
    background-size: cover;
}

#swiper3 .swiper-wrapper .pic9 {
    background-image: url("img/09/04.jpg");
    background-size: cover;
}

#swiper3 .swiper-wrapper .pic10 {
    background-image: url("img/09/ca02f08a07b73c7c8ea49328e78955353_22309471_190117_0005.jpg");
    background-size: cover;
}

#swiper3 .swiper-wrapper .pic11 {
    background-image: url("img/09/04.jpg");
    background-size: cover;
}

/* 第四行 */

#swiper4 .swiper-wrapper .pic1 {
    background-image: url("img/12/01.jpg");
    background-size: cover;
}

#swiper4 .swiper-wrapper .pic2 {
    background-image: url("img/12/02.jpg");
    background-size: cover;
}

#swiper4 .swiper-wrapper .pic3 {
    background-image: url("img/12/03.jpg");
    background-size: cover;
}

#swiper4 .swiper-wrapper .pic4 {
    background-image: url("img/12/04.jpg");
    background-size: cover;
}

#swiper4 .swiper-wrapper .pic5 {
    background-image: url("img/12/05.jpg");
    background-size: cover;
}

#swiper4 .swiper-wrapper .pic6 {
    background-image: url("img/12/img-1543554329-11765.jpg");
    background-size: cover;
}

#swiper4 .swiper-wrapper .pic7 {
    background-image: url("img/12/T_190118_0019_0.jpg");
    background-size: cover;
}

#swiper4 .swiper-wrapper .pic8 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper4 .swiper-wrapper .pic9 {
    background-image: url("img/12/02.jpg");
    background-size: cover;
}

#swiper4 .swiper-wrapper .pic10 {
    background-image: url("img/12/03.jpg");
    background-size: cover;
}

#swiper4 .swiper-wrapper .pic11 {
    background-image: url("img/12/04.jpg");
    background-size: cover;
}

/* 第五行 */

#swiper5 .swiper-wrapper .pic1 {
    background-image: url("img/01/14910410_1127722610597903_1334434285265983764_n.jpg");
    background-size: cover;
}

#swiper5 .swiper-wrapper .pic2 {
    background-image: url("img/01/16422633_1218236021546561_4168359449025589505_o.jpg");
    background-size: cover;
}

#swiper5 .swiper-wrapper .pic3 {
    background-image: url("img/01/mpark.news-2018-01-21_01-41-00_546036-770x513.jpg");
    background-size: cover;
}

#swiper5 .swiper-wrapper .pic4 {
    background-image: url("img/01/Pic_190117_0001.jpg");
    background-size: cover;
}

#swiper5 .swiper-wrapper .pic5 {
    background-image: url("img/01/14910410_1127722610597903_1334434285265983764_n.jpg");
    background-size: cover;
}

#swiper5 .swiper-wrapper .pic6 {
    background-image: url("img/01/16422633_1218236021546561_4168359449025589505_o.jpg");
    background-size: cover;
}

#swiper5 .swiper-wrapper .pic7 {
    background-image: url("img/01/Pic_190117_0001.jpg");
    background-size: cover;
}

#swiper5 .swiper-wrapper .pic8 {
    background-image: url("img/01/mpark.news-2018-01-21_01-41-00_546036-770x513.jpg");
    background-size: cover;
}

#swiper5 .swiper-wrapper .pic9 {
    background-image: url("img/01/14910410_1127722610597903_1334434285265983764_n.jpg");
    background-size: cover;
}

#swiper5 .swiper-wrapper .pic10 {
    background-image: url("img/01/16422633_1218236021546561_4168359449025589505_o.jpg");
    background-size: cover;
}

#swiper5 .swiper-wrapper .pic11 {
    background-image: url("img/01/Pic_190117_0001.jpg");
    background-size: cover;
}

/* 第六行 */

#swiper6 .swiper-wrapper .pic1 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper6 .swiper-wrapper .pic2 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper6 .swiper-wrapper .pic3 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper6 .swiper-wrapper .pic4 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

#swiper6 .swiper-wrapper .pic5 {
    background-image: url("img/05/taichung.jpg");
    background-size: cover;
}

#swiper6 .swiper-wrapper .pic6 {
    background-image: url("img/05/first.jpg");
    background-size: cover;
}

#swiper6 .swiper-wrapper .pic7 {
    background-image: url("img/05/second.jpg");
    background-size: cover;
}

#swiper6 .swiper-wrapper .pic8 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper6 .swiper-wrapper .pic9 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper6 .swiper-wrapper .pic10 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper6 .swiper-wrapper .pic11 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

/* 第七行 */

#swiper7 .swiper-wrapper .pic1 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper7 .swiper-wrapper .pic2 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper7 .swiper-wrapper .pic3 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper7 .swiper-wrapper .pic4 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

#swiper7 .swiper-wrapper .pic5 {
    background-image: url("img/05/taichung.jpg");
    background-size: cover;
}

#swiper7 .swiper-wrapper .pic6 {
    background-image: url("img/05/first.jpg");
    background-size: cover;
}

#swiper7 .swiper-wrapper .pic7 {
    background-image: url("img/05/second.jpg");
    background-size: cover;
}

#swiper7 .swiper-wrapper .pic8 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper7 .swiper-wrapper .pic9 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper7 .swiper-wrapper .pic10 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper7 .swiper-wrapper .pic11 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

/* 第八行 */

#swiper8 .swiper-wrapper .pic1 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper8 .swiper-wrapper .pic2 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper8 .swiper-wrapper .pic3 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper8 .swiper-wrapper .pic4 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

#swiper8 .swiper-wrapper .pic5 {
    background-image: url("img/05/taichung.jpg");
    background-size: cover;
}

#swiper8 .swiper-wrapper .pic6 {
    background-image: url("img/05/first.jpg");
    background-size: cover;
}

#swiper8 .swiper-wrapper .pic7 {
    background-image: url("img/05/second.jpg");
    background-size: cover;
}

#swiper8 .swiper-wrapper .pic8 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper8 .swiper-wrapper .pic9 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper8 .swiper-wrapper .pic10 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper8 .swiper-wrapper .pic11 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

/* 第九行 */

#swiper9 .swiper-wrapper .pic1 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper9 .swiper-wrapper .pic2 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper9 .swiper-wrapper .pic3 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper9 .swiper-wrapper .pic4 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

#swiper9 .swiper-wrapper .pic5 {
    background-image: url("img/05/taichung.jpg");
    background-size: cover;
}

#swiper9 .swiper-wrapper .pic6 {
    background-image: url("img/05/first.jpg");
    background-size: cover;
}

#swiper9 .swiper-wrapper .pic7 {
    background-image: url("img/05/second.jpg");
    background-size: cover;
}

#swiper9 .swiper-wrapper .pic8 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper9 .swiper-wrapper .pic9 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper9 .swiper-wrapper .pic10 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper9 .swiper-wrapper .pic11 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

/* 第十行 */

#swiper10 .swiper-wrapper .pic1 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper10 .swiper-wrapper .pic2 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper10 .swiper-wrapper .pic3 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper10 .swiper-wrapper .pic4 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

#swiper10 .swiper-wrapper .pic5 {
    background-image: url("img/05/taichung.jpg");
    background-size: cover;
}

#swiper10 .swiper-wrapper .pic6 {
    background-image: url("img/05/first.jpg");
    background-size: cover;
}

#swiper10 .swiper-wrapper .pic7 {
    background-image: url("img/05/second.jpg");
    background-size: cover;
}

#swiper10 .swiper-wrapper .pic8 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper10 .swiper-wrapper .pic9 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper10 .swiper-wrapper .pic10 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper10 .swiper-wrapper .pic11 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

/* 第十一行 */

#swiper11 .swiper-wrapper .pic1 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper11 .swiper-wrapper .pic2 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper11 .swiper-wrapper .pic3 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper11 .swiper-wrapper .pic4 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

#swiper11 .swiper-wrapper .pic5 {
    background-image: url("img/05/taichung.jpg");
    background-size: cover;
}

#swiper11 .swiper-wrapper .pic6 {
    background-image: url("img/05/first.jpg");
    background-size: cover;
}

#swiper11 .swiper-wrapper .pic7 {
    background-image: url("img/05/second.jpg");
    background-size: cover;
}

#swiper11 .swiper-wrapper .pic8 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper11 .swiper-wrapper .pic9 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper11 .swiper-wrapper .pic10 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper11 .swiper-wrapper .pic11 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

/* 第十二行 */

#swiper12 .swiper-wrapper .pic1 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper12 .swiper-wrapper .pic2 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper12 .swiper-wrapper .pic3 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper12 .swiper-wrapper .pic4 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

#swiper12 .swiper-wrapper .pic5 {
    background-image: url("img/05/taichung.jpg");
    background-size: cover;
}

#swiper12 .swiper-wrapper .pic6 {
    background-image: url("img/05/first.jpg");
    background-size: cover;
}

#swiper12 .swiper-wrapper .pic7 {
    background-image: url("img/05/second.jpg");
    background-size: cover;
}

#swiper12 .swiper-wrapper .pic8 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper12 .swiper-wrapper .pic9 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper12 .swiper-wrapper .pic10 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper12 .swiper-wrapper .pic11 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

/* 第十三行 */

#swiper13 .swiper-wrapper .pic1 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper13 .swiper-wrapper .pic2 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper13 .swiper-wrapper .pic3 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper13 .swiper-wrapper .pic4 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

#swiper13 .swiper-wrapper .pic5 {
    background-image: url("img/05/taichung.jpg");
    background-size: cover;
}

#swiper13 .swiper-wrapper .pic6 {
    background-image: url("img/05/first.jpg");
    background-size: cover;
}

#swiper13 .swiper-wrapper .pic7 {
    background-image: url("img/05/second.jpg");
    background-size: cover;
}

#swiper13 .swiper-wrapper .pic8 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper13 .swiper-wrapper .pic9 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper13 .swiper-wrapper .pic10 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper13 .swiper-wrapper .pic11 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

/* 第十四行 */

#swiper14 .swiper-wrapper .pic1 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper14 .swiper-wrapper .pic2 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper14 .swiper-wrapper .pic3 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper14 .swiper-wrapper .pic4 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

#swiper14 .swiper-wrapper .pic5 {
    background-image: url("img/05/taichung.jpg");
    background-size: cover;
}

#swiper14 .swiper-wrapper .pic6 {
    background-image: url("img/05/first.jpg");
    background-size: cover;
}

#swiper14 .swiper-wrapper .pic7 {
    background-image: url("img/05/second.jpg");
    background-size: cover;
}

#swiper14 .swiper-wrapper .pic8 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper14 .swiper-wrapper .pic9 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper14 .swiper-wrapper .pic10 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper14 .swiper-wrapper .pic11 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

/* 第十五行 */

#swiper15 .swiper-wrapper .pic1 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper15 .swiper-wrapper .pic2 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper15 .swiper-wrapper .pic3 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper15 .swiper-wrapper .pic4 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

#swiper15 .swiper-wrapper .pic5 {
    background-image: url("img/05/taichung.jpg");
    background-size: cover;
}

#swiper15 .swiper-wrapper .pic6 {
    background-image: url("img/05/first.jpg");
    background-size: cover;
}

#swiper15 .swiper-wrapper .pic7 {
    background-image: url("img/05/second.jpg");
    background-size: cover;
}

#swiper15 .swiper-wrapper .pic8 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper15 .swiper-wrapper .pic9 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper15 .swiper-wrapper .pic10 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper15 .swiper-wrapper .pic11 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

/* 第十六行 */

#swiper16 .swiper-wrapper .pic1 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper16 .swiper-wrapper .pic2 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper16 .swiper-wrapper .pic3 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper16 .swiper-wrapper .pic4 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

#swiper16 .swiper-wrapper .pic5 {
    background-image: url("img/05/taichung.jpg");
    background-size: cover;
}

#swiper16 .swiper-wrapper .pic6 {
    background-image: url("img/05/first.jpg");
    background-size: cover;
}

#swiper16 .swiper-wrapper .pic7 {
    background-image: url("img/05/second.jpg");
    background-size: cover;
}

#swiper16 .swiper-wrapper .pic8 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper16 .swiper-wrapper .pic9 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper16 .swiper-wrapper .pic10 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper16 .swiper-wrapper .pic11 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

/* 第十七行 */

#swiper17 .swiper-wrapper .pic1 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper17 .swiper-wrapper .pic2 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper17 .swiper-wrapper .pic3 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper17 .swiper-wrapper .pic4 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

#swiper17 .swiper-wrapper .pic5 {
    background-image: url("img/05/taichung.jpg");
    background-size: cover;
}

#swiper17 .swiper-wrapper .pic6 {
    background-image: url("img/05/first.jpg");
    background-size: cover;
}

#swiper17 .swiper-wrapper .pic7 {
    background-image: url("img/05/second.jpg");
    background-size: cover;
}

#swiper17 .swiper-wrapper .pic8 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper17 .swiper-wrapper .pic9 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper17 .swiper-wrapper .pic10 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper17 .swiper-wrapper .pic11 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

/* 第十八行 */

#swiper18 .swiper-wrapper .pic1 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper18 .swiper-wrapper .pic2 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper18 .swiper-wrapper .pic3 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper18 .swiper-wrapper .pic4 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

#swiper18 .swiper-wrapper .pic5 {
    background-image: url("img/05/taichung.jpg");
    background-size: cover;
}

#swiper18 .swiper-wrapper .pic6 {
    background-image: url("img/05/first.jpg");
    background-size: cover;
}

#swiper18 .swiper-wrapper .pic7 {
    background-image: url("img/05/second.jpg");
    background-size: cover;
}

#swiper18 .swiper-wrapper .pic8 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper18 .swiper-wrapper .pic9 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper18 .swiper-wrapper .pic10 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper18 .swiper-wrapper .pic11 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

/* 第十九行 */

#swiper19 .swiper-wrapper .pic1 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper19 .swiper-wrapper .pic2 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper19 .swiper-wrapper .pic3 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper19 .swiper-wrapper .pic4 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}

#swiper19 .swiper-wrapper .pic5 {
    background-image: url("img/05/taichung.jpg");
    background-size: cover;
}

#swiper19 .swiper-wrapper .pic6 {
    background-image: url("img/05/first.jpg");
    background-size: cover;
}

#swiper19 .swiper-wrapper .pic7 {
    background-image: url("img/05/second.jpg");
    background-size: cover;
}

#swiper19 .swiper-wrapper .pic8 {
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

#swiper19 .swiper-wrapper .pic9 {
    background-image: url("img/05/1966.jpg");
    background-size: cover;
}

#swiper19 .swiper-wrapper .pic10 {
    background-image: url("img/05/20181008001513_18.jpg");
    background-size: cover;
}

#swiper19 .swiper-wrapper .pic11 {
    background-image: url("img/05/Pic_190117_0010.jpg");
    background-size: cover;
}