* {
    box-sizing: border-box;
    font-family: 'Noto Serif TC', serif;  
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("img/BG2081.png");
}

#window{
    position: relative;
    margin-left: 60px;
    width: calc(100% - 60px);
    overflow: hidden;
}

a:link,a:visited,a:hover,a:active{
    text-decoration:none;
}

#nav {
    height: 100vh;
    width: 60px;
    background-color: #423F4B;
    float: left;
    position: fixed;
    z-index: 52;
    
}

#nav .nav-title{
    writing-mode: vertical-lr;
    position: absolute;
    top: 148px;
    left: 20px;
    font-size: 0.750em;
    letter-spacing: 2px;
    color: white;

}

#nav .nav-title span{
    padding-top: 8px;
}

#menubtn{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin: 0 1%;
    overflow: hidden;
    z-index: 53;
}

#hamburger{
    width: 25px;
    cursor: pointer;
}
  
#hamburger span{
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
  
#hamburger.active span:nth-child(1){
    transform: translateY(12px) rotate(45deg);
}

#hamburger.active span:nth-child(2){
    opacity: 0;
}

#hamburger.active span:nth-child(3){
    transform: translateY(-12px) rotate(-45deg);
}

#mb-menubtn{
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    float: left;
    margin: 0 1%;
    overflow: hidden;
    z-index: 53;
}

#mb-hamburger{
    width: 35px;
    cursor: pointer;
}
  
#mb-hamburger span{
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
  
#mb-hamburger.active span:nth-child(1){
    transform: translateY(12px) rotate(45deg);
}

#mb-hamburger.active span:nth-child(2){
    opacity: 0;
}

#mb-hamburger.active span:nth-child(3){
    transform: translateY(-12px) rotate(-45deg);
}


#nav-inner{
    width: calc(100% - 60px);
    height: 100vh;
    background-image: url("img/backgroup.png");
    background-position: center;
    background-size: cover;
    color: white;
    left: -2500px;
    transition: cubic-bezier(0.34, 0.08, 0.44, 0.82) 2.5s;
    position: fixed;
    z-index: 51;
    padding: 90px 140px;
    
}

#nav-inner.show{
    left:60px;
    transition:  cubic-bezier(0.34, 0.08, 0.44, 0.82) 1.5s;

}

#nav-inner .big-box{
    float: left;
}

#nav-inner .big-box h1{
    font-size: 2.750em;
    font-weight: bold;
    margin-bottom: 25px;
    letter-spacing: 14px;
}

#nav-inner .big-box span{
    font-size: 0.750em;
    font-weight: 500;
    line-height: 24px;
    
}

#nav-inner .inner-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}

#nav-inner .inner-title .text{
    writing-mode: vertical-rl;
    text-align: center;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    margin:0 26px;
}

#nav-inner .inner-title .text hr{
    width: 20px;
    border: solid 1px white;
    margin:0 15px;
    margin-bottom: 37px;
}

#nav-inner .inner-title .text a{
    color: white;
    text-decoration:none;
    margin: 0;
    font-size: 1.750em;
    margin-bottom: 37px;
    line-height: 52px;
    letter-spacing: 21px;
}

#nav-inner .inner-title .text span{
    font-size: 1.250em;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 1px;
     
}

#nav-inner .logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("img/Path188.png");
    background-size: cover;
    float: right;
}

#nav-inner .box{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin-bottom: 72px;
}

#nav-inner .box h1{
    margin: 0; 
    font-size: 0.938em;
    font-weight: 600;
    letter-spacing: 10px;
}

#nav-inner .box hr{
    width: 90px;
    border: solid 1px white;
}

#nav-inner .box span{ 
    font-size: 0.3750em;
    font-weight: 500;
    letter-spacing: 0px;
}

#main .home {
    height: 100vh;

}

#main .home .main-title{
    font-size: 6.188em;
    font-weight: 500;
    letter-spacing: 30px;
    position: absolute;
    right: 328px;
    top: 174px;
}

#main .home .line{
    height: 205px;
    border-left-style: solid;
    border-left-color: black;
    border-left-width: 3px;
    position: absolute;
    right: 323px;
    top: 210px;
}

#main .home .text1{
    font-size: 1.000em;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 29px;
    position: absolute;
    right: 206px;
    top: 203px;
}

#main .home .text2{
    font-size: 0.875em;
    line-height: 29px;
    position: absolute;
    right: 610px;
    top: 372px;
}

#main .home .city-img{
    width: 129px;
    height: 129px;
    background-image: url("img/Path188.png");
    border-radius: 50%;
    position: absolute;
    right: 384px;
    top: 372px;
}

#main .nav-img{
    width: 1520px;
    height: 600px;
    background-color: #666;
    position: absolute;
    left: 0px;
    top: 600px;
    background-image: url("img/Group114.png");

}

#history .container {
    padding-top: 300px;
}

#history .container p{
    max-width: 420px;
}

#history .map {
    width: 700px;
    height: 750px;
    float: right;
    background-image: url("img/map2.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

#history h1 {
    font-size: 3.500em;
    letter-spacing: 6px;
    font-weight: 600;
    margin: 0;
    margin-top: 320px;
}

#history h1 hr {
    margin: 0;
    border: 2px solid black;
    width: 275px;
    margin-top: 18px;
    margin-bottom: 5px;
    
}

#history h1 span {
    font-size: 3.063rem;
    letter-spacing: 2px;
}

#history p {
    font-size: 1.125em;
    padding-top: 57px;
    line-height: 37px;
    letter-spacing: 2px;
    margin: 0;
    text-align: justify;
}


#history2{
    position: relative;
}

#history2 .secition1 {
    width: 228px;
    height: 48px;
    border: 1.5px solid black;
    left: 0px;
    text-align: center;
}

#history2 .secition1 a{
    color: black;
    text-decoration: none;
    font-size: 1.500em;
    letter-spacing: 8px;
    line-height: 42px;
}

.space{
    display: none;
}

.space.show{
    height: 80vh;
    display: block;
}

.historyani{
    opacity: 1;
}

.historyani.show{
    opacity: 0;
    transition-delay: 16s;
    transition: 3s;
} 

#history2 #line{
    height: 0px;
    border-left-style: solid;
    border-width: 1px; 
    border-color: black;
    display: none;
    position: absolute;
    left: 623px;
    top: 100px;
    z-index: 4;
    animation-name: line;
    animation-duration: 2s;
}

#history2 #circle{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: black;
    display: none;
    position: absolute;
    left: 611px;
    top: 96px;
    z-index: 4;
    animation-name: circle;
    animation-duration: 2s;
}

#history2 #circle2{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: black;
    display: none;
    position: absolute;
    left: 611px;
    top: 96px;
    z-index: 4;
}

#history2 #line.show{
    height: 686px;
    display: block;
}

#history2 #circle.show{
    top: 775px;
    display: block;
}

#history2 #circle2.show{
    display: block;
}

@keyframes line{
    0%{
        height: 0px;
    }
    100%{
        height: 686px;
    }
}

@keyframes circle{
    0%{
        top: 96px;
    }
    100%{
        top: 775px;
    }
}

#history2 #history-inner{
    width: 100%;
    height: 820px;
    display: none;
    animation: show 2.5s;
    opacity: 0;  
    overflow: hidden;
}

#history2 #history-inner.show{
    display: block;
    position: absolute;
    top: 206px;
    z-index: 3;
    animation: show 2.5s;
    opacity: 1;
    
}

@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#history2 #history-inner .slides{
    width: 100%;
    height: 100%;
}

#history2 #history-inner #scroll{
    width: 100%;
    height: 100%;
}


#history2 #history-inner .swiper-slide{
    transition-timing-function: ease-in;
}

#history2 #history-inner .slides #scroll-swiper1{
    width: calc(100vw - 102px);
    height: 820px;
    position: relative;
}

#history2 #history-inner .slides #scroll-swiper1 h1{
    font-size: 11.250em;
    font-weight: bold;
    margin: 0;
    position: absolute;
    left: 646px;
    top: 281px;
}

#history2 #history-inner .slides #scroll-swiper1 h5{
    font-size: 5.000em;
    font-weight: 600;
    margin: 0;
    position: absolute;
    left: 609px;
    top: 487px;
}

#history2 #history-inner .slides #scroll-swiper1 span{
    font-size: 1.125em;
    font-weight: 500;
    line-height: 40px;
    position: absolute;
    left: 660px;
    top: 588px;
}

#history2 #history-inner .slides #scroll-swiper1 div{
    width: 524px;
    height: 772px;
    background-color: #555;
    position: absolute;
    top: 0;
    right: 97px;
}

#history2 #history-inner .slides #scroll-swiper2{
    width: calc(100vw - 102px);
    height: 820px;
    position: relative;
}

#history2 #history-inner .slides #scroll-swiper2 div{
    width: 375px;
    height: 552px;
    background-color: #555;
    position: absolute;
    top: 138px;
    left: -64px;

}

#history2 #history-inner .slides #scroll-swiper2 h5{
    font-size: 5.000em;
    font-weight: 600;
    margin: 0;
    position: absolute;
    left: 368px;
    top: 160px;
}

#history2 #history-inner .slides #scroll-swiper2 h1{
    font-size: 11.250em;
    font-weight: bold;
    margin: 0;
    position: absolute;
    left: 403px;
    top: 242px;
}

#history2 #history-inner .slides #scroll-swiper2 span{
    font-size: 1.125em;
    font-weight: 500;
    line-height: 40px;
    position: absolute;
    top: 440px;
    left: 775px;
}

#history2 #history-inner .slides #scroll-swiper3{
    width: calc(100vw - 102px);
    height: 820px;
    position: relative;
}

#history2 #history-inner .slides #scroll-swiper3 div{
    width: 642px;
    height: 725px;
    background-color: #555;
    position: absolute;
    left: -399px;
    top: 65px;
}

#history2 #history-inner .slides #scroll-swiper3 h1{
    font-size: 11.250em;
    font-weight: bold;
    margin: 0;
    position: absolute;
    left: 97px;
    bottom: 159px;
}

#history2 #history-inner .slides #scroll-swiper3 span{
    font-size: 1.125em;
    font-weight: 500;
    line-height: 40px;
    position: absolute;
    left: 578px;
    top: 274px;
}

#history2 #history-inner .slides #scroll-swiper3 h5{
    font-size: 5.000em;
    font-weight: 600;
    margin: 0;
    position: absolute;
    left: 528px;
    bottom: 181px;
}


#history2 #history-inner .slides #scroll-swiper4{
    width: calc(100vw - 102px);
    height: 820px;
    position: relative;
}

#history2 #history-inner .slides #scroll-swiper4 .img1{
    width: 1280px;
    height: 820px;
    background-color: #555;
    position: absolute;
    top: 0;
    left: -690px;
}

#history2 #history-inner .slides #scroll-swiper4 .img2{
    width: 466px;
    height: 630px;
    background-color: #555;
    position: absolute;
    top: 105px;
    left: 680px;
}

#history2 #history-inner .slides #scroll-swiper4 .img3{
    width: 504px;
    height: 325px;
    background-color: #555;
    position: absolute;
    top: 105px;
    right: 99px;
}

#history2 #history-inner .slides #scroll-swiper5{
    width: calc(100vw - 102px);
    height: 820px;
    position: relative;
}

#history2 #history-inner .slides #scroll-swiper5 h1{
    font-size: 11.250em;
    font-weight: bold;
    margin: 0;
    position: absolute;
    left: 285px;
    top: 69px;
}

#history2 #history-inner .slides #scroll-swiper5 h5{
    font-size: 5.000em;
    font-weight: 600;
    margin: 0;
    position: absolute;
    left: 682px;
    top: 168px;
}

#history2 #history-inner .slides #scroll-swiper5 span{
    font-size: 1.125em;
    font-weight: 500;
    line-height: 40px;
    position: absolute;
    left: 500px;
    top: 360px;
}

#history2 #history-inner .slides #scroll-swiper6{
    width: calc(100vw - 102px);
    height: 820px;
    position: relative;
}

#history2 #history-inner .slides #scroll-swiper6 .img1{
    width: 1292px;
    height: 820px;
    background-color: #555;
    position: absolute;
    top: 0;
    left: -737px;
}

#history2 #history-inner .slides #scroll-swiper6 .img2{
    width: 751px;
    height: 583px;
    background-color: #555;
    position: absolute;
    top: 134px;
    left: 632px;
}

#history2 #history-inner .slides #scroll-swiper7{
    width: calc(100vw - 102px);
    height: 820px;
    position: relative;
}

#history2 #history-inner .slides #scroll-swiper7 h5{
    font-size: 5.000em;
    font-weight: 600;
    margin: 0;
    position: absolute;
    top: 111px;
    left: -370px;

}

#history2 #history-inner .slides #scroll-swiper7 h1{
    font-size: 11.250em;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 181px;
    left: -335px;
    
}

#history2 #history-inner .slides #scroll-swiper7 span{
    font-size: 1.125em;
    font-weight: 500;
    line-height: 40px;
    position: absolute;
    top: 460px;
    left: -321px;

}

#history2 #history-inner .slides #scroll-swiper7 div{
    width: 498px;
    height: 372px;
    background-color: #555;
    position: absolute;
    left: 222px;
    top: 225px;
}

#history2 #history-inner .slides #scroll-swiper7 p{
    font-size: 1.125em;
    font-weight: 500;
    line-height: 40px;
    position: absolute;
    top: 215px;
    left: 779px;
}

#history2 #history-inner .slides #scroll-swiper8{
    width: calc(100vw - 102px);
    height: 820px;
    position: relative;
}

#history2 #history-inner .slides #scroll-swiper8 div{
    width: 1118px;
    height: 820px;
    background-color: #555;
    position: absolute;
    left: -406px;
    top: 0;
}

#history2 #history-inner .slides #scroll-swiper8 h1{
    font-size: 11.250em;
    font-weight: bold;
    margin: 0;
    position: absolute;
    left: 790px;
    top: 287px;
    
}

#history2 #history-inner .slides #scroll-swiper8 span{
    font-size: 1.125em;
    font-weight: 500;
    line-height: 40px;
    position: absolute;
    top: 299px;
    left: 1211px;

}

#history2 #history-inner .slides #scroll-swiper8 .scroll-secition {
    width: 230px;
    height: 48px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 592px;
    left: 1302px;
}

#history2 #history-inner .slides #scroll-swiper8 .scroll-secition a {
    font-size: 1.500em;
    letter-spacing: 8px;
    margin: 0;
    color: black;
    text-decoration: none;
}

#introduction{
    position: relative;
}

#introduction .container {
    padding-top: 250px;
}

#introduction .mb-title{
    display: none;
}

#introduction .pc-title{
    font-size: 3.875em;
    writing-mode: vertical-lr;
    letter-spacing: 7px;
    font-weight: 600;
    margin: 0;
    float: left;
    position: relative;
    z-index: 2;
}

#introduction .pc-title span {
    font-size: 3.063rem;
    letter-spacing: 0px;
    margin-right: 27px;
}

#introduction .pc-title div {
    border-left-style: solid;
    margin-right: 15px;
}

#introduction .text {
    font-size: 1.125em;
    color: black;
    letter-spacing: 5px;
    padding-top: 68px;
    float: right;
}

#introduction #slides {
    position: absolute;
    top: 380px;
}

#introduction #slides #swiper {
    max-width: calc(100vw - 60px);
    overflow: hidden;
}

#introduction #slides #swiper .swiper-container {
    width: 100%;
    height: 100%;
}

#introduction #slides #swiper .swiper-container .swiper-wrapper{
    transition-timing-function: linear;
}

#introduction #slides #swiper .swiper-container .swiper-slide {
    width: 300px;
    height: 160px;
    background-color: #999999;
    border: 1px solid black;
    filter: opacity(30%);
    position: relative;
}

#introduction #slides #swiper .swiper-container .swiper-slide:hover{
    filter: opacity(100%);
}

#introduction .secition2 {
    width: 228px;
    height: 48px;
    border: 1px solid black;
    text-align: center;
    margin-top: 732px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

#introduction .secition2 a {
    color: black;
    text-decoration: none;
    font-size: 1.500em;
    letter-spacing: 8px;
    line-height: 42px;
}

#tourism {
    position: relative;
}

#tourism .container {
    padding-top: 100px;
}

#tourism h1 {
    width: 270px;
    font-size: 3.875em;
    line-height: 40px;
    letter-spacing: 5px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#tourism h1 hr {
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 12px;
}

#tourism h1 span {
    font-size: 3.063rem;
    line-height: 33px;
    letter-spacing: 0px;
}

#tourism  .map-grounp .mapbtn{
    margin-left: auto;
    margin-right: auto;
}

#tourism  .map-grounp .mapbtn #mapswiper{
    width: 100%;
    height: 100%;
}

#tourism  .map-grounp .mapbtn #mapswiper .swiper-slide{
    font-size: 1.875em;
    width: 240px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}

#tourism  .map-grounp .mapbtn #mapswiper .mapslide.click{
    width: 240px;
    height: 50px;
    font-size: 1.875em;
    text-align: center;
}


#tourism .map-grounp .map{
    width: calc(100vw - 60px);
    height: 500px;
    background-color: #B3B3B3;
    position: absolute;
    top: 439px;
    
}

#tourism  .map-grounp .map-img1{
    width: 100%;
    max-width: 1170px;
    display: none;
    margin: 0 1px;
    margin-top: 580px;

}

#tourism  .map-grounp .map-img1.show{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

#tourism  .map-grounp .map-img1 div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #1a1a1a;
    margin-top: 50px;
}

#tourism  .map-grounp .map-img2{
    width: 100%;
    max-width: 1170px;
    float: left;
    display: none;
    margin: 0 1px;
    margin-top: 580px;

}

#tourism  .map-grounp .map-img2.show{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

#tourism  .map-grounp .map-img2 div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #1a1a1a;
    margin-top: 50px;
}

#tourism  .map-grounp .map-img3{
    width: 100%;
    max-width: 1170px;
    float: left;
    display: none;
    margin: 0 1px;
    margin-top: 580px;

}

#tourism  .map-grounp .map-img3.show{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

#tourism  .map-grounp .map-img3 div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #1a1a1a;
    margin-top: 50px;
}

#tourism  .map-grounp .map-img4{
    width: 100%;
    max-width: 1170px;
    float: left;
    display: none;
    margin: 0 1px;
    margin-top: 580px;

}

#tourism  .map-grounp .map-img4.show{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

#tourism  .map-grounp .map-img4 div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #1a1a1a;
    margin-top: 50px;
}

#tourism  .map-grounp .map-img5{
    width: 100%;
    max-width: 1170px;
    float: left;
    display: none;
    margin: 0 1px;
    margin-top: 580px;

}

#tourism  .map-grounp .map-img5.show{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

#tourism  .map-grounp .map-img5 div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #1a1a1a;
    margin-top: 50px;
}

#tourism  .map-grounp .map-img6{
    width: 100%;
    max-width: 1170px;
    float: left;
    display: none;
    margin: 0 1px;
    margin-top: 580px;

}

#tourism  .map-grounp .map-img6.show{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

#tourism  .map-grounp .map-img6 div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #1a1a1a;
    margin-top: 50px;
}

#tourism .map-grounp span{
    font-size: 1.000em;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 1px;
    float: left;
    margin: 0 73px;
    margin-top: 86px;
    
}

#tourism .map-grounp .map-href{
    width: 430px;
    height: 75px;
    background-color: #605566;
    font-size: 2.250em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 9px;
    line-height: 69px;
    margin-top: 77px;
    margin-left: auto;
    margin-right: auto;
    
}

#tourism .map-grounp p{
    padding: 0;
    margin: 0;
    font-size: 1.000em;
    font-weight: 500;
    letter-spacing: 4px;
    line-height: 32px;
    text-align: center;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
}

#tourism .mb-swiper{
    display: none;
}

#tour-Service .container {
    padding-top: 350px;

}

#tour-Service .container.move{
    padding-top: 150px;

}

#tour-Service .big-box{
    float: left;
    width: 328px;
}

#tour-Service .big-box h1 {
    font-size: 3.875em;
    float: left;
    line-height: 40px;
    letter-spacing: 5px;
    font-weight: 600;
    margin: 0;
}

#tour-Service .big-box h1 hr {
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 12px;
}

#tour-Service .big-box h1 span {
    font-size: 2.813rem;
    line-height: 33px;
    font-weight: 600;
    letter-spacing: -1px;

}

#tour-Service .big-box .box {
    width: 328px;
    height: 132px;
    padding-top: 18px;
    padding-left: 25px;
    padding-bottom: 25px;
    font-weight: 600;
    border: 1px solid black;
    letter-spacing: 1px;
    float: left;
    margin-top: 55px;
}

#tour-Service .big-box .box span {
    font-size: 1.250em;
    float: left;
    margin: 0;
    letter-spacing: 2px;
    font-weight: 800;
    margin-bottom: 18px;
}

#tour-Service .big-box .box .href {
    float: right;
    margin-right: 35px;
    line-height: 0;
}

#tour-Service .box .href a {
    color: black;
    font-size: 1.563em;
    margin-right: 5px;
}

#tour-Service .big-box .box p {
    font-size: 1.000em;
    float: left;
    margin: 0;
    letter-spacing: 1px;
    margin-left: 12px;
}

#tour-Service .text{
    width: 100%;
    max-width: 680px;   
}

#tour-Service .content {
    width: calc(100% - 368px);
    float: right;

}

#tour-Service .content h2 {
    font-size: 1.625em;
    letter-spacing: 3px;
    margin-bottom: 35px;
    line-height: 10px;
}

#tour-Service .content span {
    font-size: 1.000em;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 42px;
}

#tour-Service .content p {
    margin: 0;
    padding: 0;
    font-size: 1.000em;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 42px;
    margin-top: 30px;
}

#description .container {
    margin-top: 100px;
}

#description .big-box1 {
    width: 50%;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#description .big-box2 {
    width: 50%;
    float: right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#description .big-box1 .icon1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url("img/money-icon-05.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#description .big-box1 .boxA {
    margin-left: 50px;

}

#description .big-box1 .boxA h1 {
    font-size: 2.250em;
    margin: 0;
    margin-bottom: 22px;
}

#description .big-box1 .boxA span {
    font-size: 1.000em;
    font-weight: 500;
    line-height: 27px;
}

#description .big-box1 .boxA p {
    font-size: 1.000em;
    margin: 0;
    font-weight: 500;
    opacity: 0.8;
}

#description .big-box2 .icon2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url("img/horn-icon-05.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

#description .big-box2 .boxB {
    margin-left: 50px;
}

#description .big-box2 .boxB h1 {
    font-size: 2.250em;
    margin: 0;
    margin-bottom: 22px;
}

#description .big-box2 .boxB span {
    font-size: 1.000em;
    font-weight: 500;
    line-height: 27px;
}

#footer-img {
    width: 100%;
    height: 605px;
    margin-top: 150px;
}

#footer {
    height: 200px;
    background-color: #1a1a1a;
}

#footer .left-box{
    float: left;
    color: white;
}

#footer .left-box  h1{
    margin: 0;
    font-size: 2.500em;
    font-weight: 600;
    margin-top: 82px;
    letter-spacing: 12px;
    float: left;
}

#footer .left-box  span{
    font-size: 0.500em;
    font-weight: 500;
    margin-top: 87px;
    margin-left: 12px;
    line-height: 14px;
    float: left;
}

#footer .mid-box{
    float: left;
    color: white;
    padding: 0 100px;
    
}

#footer .mid-box .text1{
    margin-top: 87px;
    float: left;
}

#footer .mid-box .text1 div{
    border-left-style: solid;
    border-left-color: white;
    height: 14px;
    margin-right:17px;
    float: left;
}

#footer .mid-box .text1 h1{
    font-size: 0.750em;
    font-weight: 500;
    letter-spacing: 5px;
    margin-right:21px;
    float: left;
}

#footer .mid-box .text1 span{
    font-size: 0.375em;
    font-weight: 500;
    letter-spacing: 5px;
    float: left;
}

#footer .mid-box .text2{
    margin-top: 87px;
    margin-left: 50px;
    float: left;
}

#footer .mid-box .text2 div{
    border-left-style: solid;
    border-left-color: white;
    height: 14px;
    margin-right:17px;
    float: left;
}

#footer .mid-box .text2 h1{
    font-size: 0.750em;
    font-weight: 500;
    letter-spacing: 5px;
    margin-right:21px;
    float: left;
}

#footer .mid-box .text2 span{
    font-size: 0.375em;
    font-weight: 500;
    letter-spacing: 5px;
    float: left;
}

#footer .mid-box .text3{
    margin-top: 4px;
    float: left;
}

#footer .mid-box .text3 div{
    border-left-style: solid;
    border-left-color: white;
    height: 14px;
    margin-right:17px;
    float: left;
}

#footer .mid-box .text3 h1{
    font-size: 0.750em;
    font-weight: 500;
    letter-spacing: 5px;
    margin-right:21px;
    float: left;
}

#footer .mid-box .text3 span{
    font-size: 0.375em;
    font-weight: 500;
    letter-spacing: 5px;
    float: left;
}

#footer .mid-box .text4{
    margin-top: 4px;
    margin-left: 50px;
    float: left;
}

#footer .mid-box .text4 div{
    border-left-style: solid;
    border-left-color: white;
    height: 14px;
    margin-right:17px;
    float: left;
}

#footer .mid-box .text4 h1{
    font-size: 0.750em;
    font-weight: 500;
    letter-spacing: 5px;
    margin-right:21px;
    float: left;
}

#footer .mid-box .text4 span{
    font-size: 0.375em;
    font-weight: 500;
    letter-spacing: 5px;
    float: left;
}

#footer .right-box{
    position: relative;
    top: 85px;
    right: 3px;
    color: white;

}

#footer .right-box h1{
    margin: 0;
    font-size: 0.875em;
    letter-spacing: 3px;
    float: left;
}

#footer .right-box h1 hr{
    margin:0;
    margin-top: 8px;
    margin-bottom: 3px;
    border: 1px solid white;
    
}

#footer .right-box h1 span{
    font-size: 0.313em;
    letter-spacing: 2px;
}

@media screen and (max-width:1680px){
    #history .container{
        padding-top: 370px;
    }

    #nav .nav-title{
        top: 120px;
    }
}

@media screen and (max-width:1600px) and (device-height:900px){
    #nav .nav-title{
        top: 80px;
    }

    #history .container{
        padding-top: 500px;
    }
}

@media screen and (max-width:1440px){
    html{
        font-size: 15px;
    }
}

@media screen and (max-width:1366px){
    html{
        font-size: 13px;
    }

    #nav .nav-title{
        top: 45px;  
    }

    #history .container{
        padding-top: 620px;
    }
}

@media screen and (max-width:1280px) and (device-height:1024px){
    #nav .nav-title{
        top: 110px;
    }

    #history .container{
        padding-top: 380px;
    }
}


@media screen and (max-width:1280px) and (device-height:960px){
    #nav .nav-title{
        top: 90px;
    }

    #history .container{
        padding-top: 450px;
    }
}

@media screen and (max-width:1280px) and (device-height:800px){
    #nav .nav-title{
        top: 55px;
    }

    #history .container{
        padding-top: 580px;
    }
}

@media screen and (max-width:1280px) and (device-height:720px){
    #nav .nav-title{
        top: 35px;
    }

    #history .container{
        padding-top: 670px;
    }
}

@media screen and (max-width:1152px){
    #nav .nav-title{
        top: 65px;
    }

    #history .container{
        padding-top: 550px;
    }

    #footer .left-box{
        display: none;
    }

    #footer .right-box{
        display: none;
    }

    #footer .mid-box{
        float: initial;
        margin: 0 auto;
    }
}

@media screen and (max-width:1024px){
    html{
        font-size: 12px;
    }

    #nav .nav-title{
        top: 45px;
    }

    #history .container{
        padding-top: 620px;
    }

}

@media screen and (max-width:768px){
    html{
        font-size: 11px;
    }

    #window{
        left: -20px;
        width: calc(100% - 40px);
        overflow: hidden;
    }

    #nav{
        height: 100%;
        width: 40px;
    }
    
    #nav .nav-title{
        top: 114px;
        left: 11px;
    }

    #nav-inner {
        width: 100%;
    }

    #nav-inner.show {
        left: 0;
    }

    #main .home{
        width: calc(100% - 40px);
    }

    #main .home .line{
        right: 135px;
        top: 202px;
    }

    #main .home .main-title{
        letter-spacing: 22px;
        right: 158px;
        top: 177px;
    }

    #main .home .text1{
        right: 36px;
        top: 193px;
    }

    #main .home .text2{
        line-height: 22px;
        right: 351px;
        top: 338px;

    }

    #main .home .city-img{
        right: 177px;
        top: 342px;
    }

    #history{
        width: calc(100vw - 40px);
    }

    #history .container{
        padding-top: 380px;
    }

    #history .map{
        width: 100%;
        height: 60vh;
        float: none;
        margin: 0 auto;
    }

    #history h1{
        margin-top: 50px;
        text-align: center;
    }

    #history .container hr{
        width: 33%;
        margin-left: auto;
        margin-right: auto;
    }

    #history .container p {
        max-width: 100%;
    }  

    #history2 .container{
        display: none;
    }

    #introduction {
        width: calc(100vw - 40px);
    }

    #introduction .container{
        padding-top: 100px;
    }

    #introduction #slides{
        top: 210px;
    }

    #introduction #slides #swiper {
        max-width: calc(100vw - 40px);
        overflow: hidden;
    }

    #introduction .secition2{
        margin-top: 652px;
    }

    #tourism .container{
        padding-top: 80px;
    }
    
    #tourism h1 hr{
        width: 65%;
    }

    #tourism .map-grounp .map{
        width: calc(100vw - 40px);
        top: 370px;
    }

    #tourism .map-grounp .container {
        width: 720px;
    }

    #tourism .map-grounp .mapbtn #mapswiper .swiper-slide{
        height: 32px;
    }

    #tour-Service{
        width: calc(100vw - 40px);
    }

    #tour-Service .big-box{
        width: 100%;
        display: block;
        margin-right: 100%;
        margin-bottom: 80px;
    }

    #tour-Service .big-box h1 {
        width: 50%;
        text-align: center;
        float: none;
        margin: 0 auto;
    }

    #tour-Service .big-box h1 hr{
        width: 70%;
    }

    #tour-Service .big-box .box span{
        margin-bottom: 0;
        display: block;
        width: 154px;
        margin-right: 100%;
        margin-bottom: 10px;
    }

    #tour-Service .big-box .box{
        width: 100%;
        padding-top: 20px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 20px;
    }

    #tour-Service .big-box .box .href{
        margin-right: 0;
    }

    #tour-Service .content {
        max-width: 1200px;
        width: 100%;
        margin-left: 0px;
    }

    #tour-Service .content .text{
        max-width: 100vw;
        width: 100%;
    }

    #description .container{
        margin-top: 150px;
    }

    #description .big-box1 {
        width: 100%;
        float: none;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    #description .big-box2 {
        width: 100%;
        float: none;
        margin: 0 auto;
    }

    .map-grounp{
        width: calc(100vw - 40px);
    }

    #footer{
        width: calc(100vw - 40px);
        height: 120px;
        overflow: hidden;
    }

    #footer-img{
        height: 350px;
    }

    #footer .container .left-box{
        display: block;
        margin-right: 150px;
    }

    #footer .container .left-box h1{
        display: none;
    }

    #footer .container .left-box span{
        display: none;
    }

    #footer .container .mid-box{
        width: 100%;
        padding: 0;
        margin-top: 38px;
    }
    #footer .mid-box .text1{
        margin: 0;
    }

    #footer .mid-box .text2{
        margin-top: 0;
    }

    #footer .mid-box .text3{
        margin-top: 15px;
    }

    #footer .mid-box .text4{
        margin-top: 15px;
    }


}

@media screen and (max-width: 480px){
    #window{
        position: relative;
        overflow: hidden;
        width: 100%;
        margin-left: 0;
        left: 0;
    }

    #menubtn{
        display: none;
    }

    #mb-menubtn{
        position: fixed;
        display: flex;
        top: 10px;
        left: 10px;
    }

    #hamburger {
        position: fixed;
        top: 18px;
        left: 12px;
    }

    #nav-inner {
        width: 100%;
    }

    #nav-inner.show {
        left: 0;
    }

    #nav-inner .big-box h1 {
        display: none;
    }

    #nav-inner .big-box span {
        display: none;
    }

    #nav-inner .logo {
        display: none;
    }

    #nav{
        position: absolute;
        width: 100%;
        height: 225px;
        z-index: 1;
    }

    #nav .nav-title {
        display: none;
    }

    #main .home{
        width: 100%;
        height: 40vh;
    }

    #main .home .main-title {
        position: absolute;
        top: 45px;
        right: 45px;
        font-size: 45px;
        letter-spacing: 1px;
        z-index: 2;
        color: white;
        letter-spacing: 5px;
    }

    #main .home .line {
        display: none;
    }

    #main .home .text1 {
        display: none;
    }

    #main .home .text2{
        text-align: right;
        margin-top: 15px;
        position: absolute;
        top: 115px;
        right: 55px;
        z-index: 2;
        color: white;
        font-size: 7px;
        line-height: 20px;
    }

    #main .home .city-img {
        display: none;
    }

    .nav-img{
        width: 100%;
        height: 460px;
        top: 185px;
    }

    #main .nav-img{
        top: 210px;
    }

    #history{
        width: 100%;
    }

    #history .container{
        width: 80vw;
        max-width: 80vw;
        margin: 0 auto;
        margin-top: 0px;
        padding-top: 580px;
    }

    #history h1 {
        display: none;
    }

    #history2 .secition1 {
        display: none;
    }

    #history p{
        padding-top: 0;
    }

    #introduction{
        width: 100%;
    }

    #introduction .container {
        width: 80vw;
        max-width: 80vw;
        margin: 0 auto;
        padding-top: 30px;
    }

    #introduction h1 {
        writing-mode: horizontal-tb;
    }

    #introduction .pc-title{
        display: none;
    }

    #introduction .mb-title{
        display: block;
        margin: 0 auto;
        font-size: 3.250em;
        font-weight: bold;
        text-align: center;
    }

    #introduction .mb-title div{
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        width: 140px;
        border-top-style: solid;
        border-top-color: black;
        border-top-width: 2px; 
    }

    #introduction .mb-title span{
        font-size: 2.250rem;
        font-weight: 600;
    }

    #introduction .text {
        display: none;
    }

    #introduction #slides {
        top: 140px;
    }

    #introduction #slides #swiper {
        max-width: 100vw;
    }

    #introduction .secition2 {
        width: 140px;
        height: 30px;
        margin-top: 540px;
        text-align: center;
        
    }

    #introduction .secition2 a{
        letter-spacing: 0;
        line-height: 29px;
        font-weight: 600;
    }

    #tourism .container{
        padding-top: 30px;
    }

    #tourism .map-grounp .container {
        width: 80vw;
        max-width: 80vw;
        margin: 0 auto;
    }

    #tourism .map-grounp {
        width: 100%;
    }

    #tourism h1 {
        display: none;
    }


    #tourism .map-grounp .mapbtn #mapswiper .swiper-slide {
        width: 33.33%;
        height: 22px;
        font-size: 1.250em;
    }

    #tourism .map-grounp .map {
        width: 100%;
        top: 110px;
    }

    #tourism .map-grounp .map-img1.show{
        display: none;
    }

    #tourism .map-grounp .map-img2.show{
        display: none;
    }

    #tourism .map-grounp .map-img3.show{
        display: none;
    }

    #tourism .map-grounp .map-img4.show{
        display: none;
    }

    #tourism .map-grounp .map-img5.show{
        display: none;
    }

    #tourism .map-grounp .map-img6.show{
        display: none;
    }

    #tourism .mb-swiper{
        display: flex;
        width: 100vw;
        height: 200px;
        position: absolute;
        top: 575px;
        left: 0px;
    }

    #tourism .map-grounp .map-href {
        width: 227px;
        height: 40px;
        margin-top: 820px;
        font-size: 18px;
        line-height: 40px;
    }

    #tourism .map-grounp p {
        margin-top: -170px;
    }

    #tour-Service {
        width: 100%;
        position: relative;
        top: 520px;

    }

    #tour-Service .container {
        width: 80vw;
        max-width: 80vw;
        margin: 0 auto;
        padding-top: 0;
    }

    #tour-Service .big-box {
        width: 50%;
        margin: 0 auto;
        float: none;
        text-align: center;
    }

    #tour-Service .big-box h1 {
        width: 100%;
        margin: 0 auto;
        font-size: 3.250em;
        font-weight: bold;
        text-align: center;
    }

    #tour-Service .big-box h1 hr {
        width: 85%;
        margin-top: 5px;
        margin-bottom: 0;
    }

    #tour-Service .big-box h1 span {
        font-size: 2.250rem;
        font-weight: 600;
    }

    #tour-Service .big-box .box {
        display: none;
    }

    #tour-Service .big-box .box .href {
        margin: 0;
        margin-top: 3px;
    }

    #tour-Service .big-box .box p {
        margin-top: 6px;
    }

    #tour-Service .content {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        text-align: center;
        position: relative;
        top: 40px;
    }

    #tour-Service .content span {
        line-height: 35px;
        letter-spacing: 2px;
    }

    #tour-Service .content p {
        margin-top: 30px;
        line-height: 35px;
        letter-spacing: 2px;
    }

    #tour-Service .text {
        width: 100%;
        max-width: 100%;
    }

    #description{
        position: relative;
        top: -500px;
    }

    #description .container{
        width: 80vw;
        max-width: 80vw;
        margin: 0 auto;
    }

    #description .big-box1 {
        width: 100%;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }

    #description .big-box2 {
        width: 100%;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        margin-top: 40px;
    }

    #description .big-box1 .icon1 {
        width: 78px;
        height: 78px;
    }

    #description .big-box1 .boxA {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    #description .big-box2 .icon2 {
        width: 78px;
        height: 78px;
    }

    #description .big-box2 .boxB {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .footer-img {
        margin-top: 250px;
    }

    #footer{
        position: relative;
        bottom: 0;
        width: 100vw;
    }

    #footer .container {
        width: 100%;
        position: relative;
    }

    #footer .container .mid-box {
        position: absolute;
        padding: 0 10px;
        margin-top: 48px;
    }

    #footer .container .mid-box .text1 {
        width: 50%;
        margin: 0;
        margin: 0;
    }

    #footer .container .mid-box .text1 div {
        margin-right: 15px;
    }

    #footer .container .mid-box .text1 h1 {
        margin-right: 15px;
        margin-bottom: 0;
        letter-spacing: 8px;
        font-size: 15px;

    }

    #footer .container .mid-box .text1 span {
        display: none;
    }

    #footer .container .mid-box .text2 {
        width: 50%;
        margin: 0;
    }

    #footer .container .mid-box .text2 div {
        margin-right: 15px;
    }

    #footer .container .mid-box .text2 h1 {
        margin-right: 15px;
        margin-bottom: 0;
        letter-spacing: 8px;
        font-size: 15px;

    }

    #footer .container .mid-box .text2 span {
        display: none;
    }

    #footer .container .mid-box .text3 {
        width: 50%;
        margin: 0;
    }

    #footer .container .mid-box .text3 div {
        margin-right: 15px;
    }

    #footer .container .mid-box .text3 h1 {
        margin-right: 15px;
        margin-bottom: 0;
        letter-spacing: 8px;
        font-size: 15px;

    }

    #footer .container .mid-box .text3 span {
        display: none;
    }

    #footer .container .mid-box .text4 {
        width: 50%;
        margin: 0;
    }

    #footer .container .mid-box .text4 div {
        margin-right: 15px;
    }

    #footer .container .mid-box .text4 h1 {
        margin-right: 15px;
        margin-bottom: 0;
        letter-spacing: 8px;
        font-size: 15px;
    }

    #footer .container .mid-box .text4 span {
        display: none;
    }

    #footer .right-box {
        display: none;
    }

}


.line3pic1{
    background-image: url("img/Group116.png");
    background-size: contain;
}


.line3pic2{
    background-image: url("img/Group118.png");
    background-size: contain;
}

.line3pic3{
    background-image: url("img/Group120.png");
    background-size: contain;
}

.line3pic4{
    background-image: url("img/Group124.png");
    background-size: contain;
}

.line3pic5{
    background-image: url("img/Group126.png");
    background-size: contain;
}

.line3pic6{
    background-image: url("img/Group132.png");
    background-size: contain;
}

.line3pic7{
    background-image: url("img/Group116.png");
    background-size: contain;
}

.line3pic8{
    background-image: url("img/Group118.png");
    background-size: contain;
}

.line3pic9{
    background-image: url("img/Group120.png");
    background-size: contain;
}

.line3pic10{
    background-image: url("img/Group124.png");
    background-size: contain;
}

.line3pic11{
    background-image: url("img/Group126.png");
    background-size: contain;
}

/* 第二行 */

.line2pic1{
    background-image: url("img/Group134.png");
    background-size: contain;
}

.line2pic2{
    background-image: url("img/Group138.png");
    background-size: contain;
}

.line2pic3{
    background-image: url("img/Group140.png");
    background-size: contain;
}

.line2pic4{
    background-image: url("img/Group142.png");
    background-size: contain;
}

.line2pic5{
    background-image: url("img/Group145.png");
    background-size: contain;
}

.line2pic6{
    background-image: url("img/Group148.png");
    background-size: contain;
}

.line2pic7{
    background-image: url("img/Group134.png");
    background-size: contain;
}

.line2pic8{
    background-image: url("img/Group138.png");
    background-size: contain;
}

.line2pic9{
    background-image: url("img/Group140.png");
    background-size: contain;
}

.line2pic10{
    background-image: url("img/Group142.png");
    background-size: contain;
}

.line2pic11{
    background-image: url("img/Group145.png");
    background-size: contain;
}

/* 第一行 */


.line1pic1{
    background-image: url("img/Group150.png");
    background-size: contain;
}

.line1pic2{
    background-image: url("img/Group152.png");
    background-size: contain;
}

.line1pic3{
    background-image: url("img/Group154.png");
    background-size: contain;
}

.line1pic4{
    background-image: url("img/Group157.png");
    background-size: contain;
}

.line1pic5{
    background-image: url("img/Group148.png");
    background-size: contain;
}

.line1pic6{
    background-image: url("img/Group150.png");
    background-size: contain;
}

.line1pic7{
    background-image: url("img/Group152.png");
    background-size: contain;
}

.line1pic8{
    background-image: url("img/Group154.png");
    background-size: contain;
}

.line1pic9{
    background-image: url("img/Group157.png");
    background-size: contain;
}

.line1pic10{
    background-image: url("img/Group124.png");
    background-size: contain;
}

.line1pic11{
    background-image: url("img/Group120.png");
    background-size: contain;
}

/* 歷史介紹 */

.history2 #history-inner .slides #scroll-swiper1 div{
    background-image: url("img/Group91.png");
    background-size: contain;
}

.history2 #history-inner .slides #scroll-swiper2 div{
    background-image: url("img/p026a.jpg");
    background-size: cover;
    background-position: center;
}

.history2 #history-inner .slides #scroll-swiper3 div{
    background-image: url("img/Group85.png");
    background-size: contain;
}

.history2 #history-inner .slides #scroll-swiper4 .img1{
    background-image: url("img/Group87.png");
    background-size: contain;
}
.history2 #history-inner .slides #scroll-swiper4 .img2{
    background-image: url("img/Group89.png");
    background-size: contain;
}
.history2 #history-inner .slides #scroll-swiper4 .img3{
    background-image: url("img/Group2109.png");
    background-size: contain;
}

.history2 #history-inner .slides #scroll-swiper6 .img1{
    background-image: url("img/Group96.png");
    background-size: contain;
}

.history2 #history-inner .slides #scroll-swiper6 .img2{
    background-image: url("img/Rectangle114.png");
    background-size: contain;
}

.history2 #history-inner .slides #scroll-swiper7 div{
    background-image: url("img/Rectangle112.png");
    background-size: contain;
}

.history2 #history-inner .slides #scroll-swiper8 .img{
    background-image: url("img/Rectangle113.png");
    background-size: contain;
}


/* 推薦路線 */

.map1pic1{
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

.map1pic2{
    background-image: url("img/08/01.jpg");
    background-size: cover;
}

.map1pic3{
    background-image: url("img/12/01.jpg");
    background-size: cover;
}

.map1pic4{
    background-image: url("img/09/01.jpg");
    background-size: cover;
}

.map1pic5{
    background-image: url("img/03/02.jpg");
    background-size: cover;
}

.map1pic6{
    background-image: url("img/10/01.jpg");
    background-size: cover;
}

/* 深度旅行 */


.map2pic1{
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

.map2pic2{
    background-image: url("img/08/01.jpg");
    background-size: cover;
}

.map2pic3{
    background-image: url("img/12/01.jpg");
    background-size: cover;
}

.map2pic4{
    background-image: url("img/09/01.jpg");
    background-size: cover;
}

.map2pic5{
    background-image: url("img/03/02.jpg");
    background-size: cover;
}

.map2pic6{
    background-image: url("img/10/01.jpg");
    background-size: cover;
}

.map2pic7{
    background-image: url("img/10/01.jpg");
    background-size: cover;
}


/* 美軍大兵 */


.map3pic1{
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

.map3pic2{
    background-image: url("img/08/01.jpg");
    background-size: cover;
}

.map3pic3{
    background-image: url("img/12/01.jpg");
    background-size: cover;
}

.map3pic4{
    background-image: url("img/09/01.jpg");
    background-size: cover;
}

.map3pic5{
    background-image: url("img/03/02.jpg");
    background-size: cover;
}

.map3pic6{
    background-image: url("img/10/01.jpg");
    background-size: cover;
}

.map3pic7{
    background-image: url("img/12/02.jpg");
    background-size: cover;
}
.map3pic8{
    background-image: url("img/06/ca02f08a07b73c7c8ea49328e78955353_22310450_190117_0004.jpg");
    background-size: cover;
}
.map3pic9{
    background-image: url("img/04/01.jpg");
    background-size: cover;
}
.map3pic10{
    background-image: url("img/07/lan.jpg");
    background-size: cover;
}


/* 千越大樓 */


.map4pic1{
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

.map4pic2{
    background-image: url("img/08/01.jpg");
    background-size: cover;
}

.map4pic3{
    background-image: url("img/12/01.jpg");
    background-size: cover;
}

.map4pic4{
    background-image: url("img/09/01.jpg");
    background-size: cover;
}

.map4pic5{
    background-image: url("img/03/02.jpg");
    background-size: cover;
}

.map4pic6{
    background-image: url("img/10/01.jpg");
    background-size: cover;
}



/* 人生交易所 */


.map5pic1{
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

.map5pic2{
    background-image: url("img/08/01.jpg");
    background-size: cover;
}

.map5pic3{
    background-image: url("img/12/01.jpg");
    background-size: cover;
}

.map5pic4{
    background-image: url("img/09/01.jpg");
    background-size: cover;
}

.map5pic5{
    background-image: url("img/03/02.jpg");
    background-size: cover;
}

.map5pic6{
    background-image: url("img/10/01.jpg");
    background-size: cover;
}


/* 時光印記 */


.map6pic1{
    background-image: url("img/05/01.jpg");
    background-size: cover;
}

.map6pic2{
    background-image: url("img/08/01.jpg");
    background-size: cover;
}

.map6pic3{
    background-image: url("img/12/01.jpg");
    background-size: cover;
}

.map6pic4{
    background-image: url("img/09/01.jpg");
    background-size: cover;
}

.map6pic5{
    background-image: url("img/03/02.jpg");
    background-size: cover;
}

.map6pic6{
    background-image: url("img/10/01.jpg");
    background-size: cover;
}