.radio-img-gdb {
    background: url(../images/gdb.png) center no-repeat;
}

.radio-img-shb {
    background: url(../images/shb.png) center no-repeat;
}

.radio-img-srcb {
    background: url(../images/srcb.jpg) center no-repeat;
}

.radio-img-psbc {
    background: url(../images/psbc.png) center no-repeat;
}

.radio-img-cttic {
    background: url(../images/cttic.png) center no-repeat;
}

.radio-img-icbc {
    background: url(../images/icbc.png) center no-repeat;
}

.radio-img-cmbc {
    background: url(../images/cmbc.png) center no-repeat;
}

.radio-img-ceb {
    background: url(../images/ceb.png) center no-repeat;
}

.radio-img-ccb {
    background: url(../images/ccb.png) center no-repeat;
}

.radio-img-abc {
    background: url(../images/abc.png) center no-repeat;
}

.radio-img-boc {
    background: url(../images/boc.png) center no-repeat;
}

.radio-img-bjrcb {
    background: url(../images/bjrcb.jpg) center no-repeat;
}

.radio-img-bccb {
    background: url(../images/bccb.png) center no-repeat;
}

.radio-img-nbcb {
    background: url(../images/nbcb.jpg) center no-repeat;
}

.radio-img-pab {
    background: url(../images/pab.png) center no-repeat;
}

.radio-img-boco {
    background: url(../images/boco.png) center no-repeat;
}

.radio-img-hxb {
    background: url(../images/hxb.png) center no-repeat;
}

.radio-img-cmb {
    background: url(../images/cmb.png) center no-repeat;
}

.radio-img-hkbea {
    background: url(../images/hkbea.jpg) center no-repeat;
}

.radio-img-njcb {
    background: url(../images/njcb.jpg) center no-repeat;
}

.radio-img-czb {
    background: url(../images/czb.png) center no-repeat;
}

.radio-img-spdb {
    background: url(../images/spdb.png) center no-repeat;
}

.radio-img-sdb {
    background: url(../images/sdb.png) center no-repeat;
}

.radio-img-cbhb {
    background: url(../images/cbhb.jpg) center no-repeat;
}

.radio-img-cib {
    background: url(../images/cib.png) center no-repeat;
}





.radio-img-zfb {
    background: url(../images/zfb.jpg) center no-repeat;
}

.radio-img-weixin {
    background: url(../images/weixin.png) center no-repeat;
}

.radio-img-unionpay {
    background: url(../images/wangyin.jpg) center no-repeat;
}

.radio-img-ysf {
    background: url(../images/ysf.png) center no-repeat;
}

.radio-img-applepay {
    background: url(../images/applepay.png) center no-repeat;
}

.radio-img-qq {
    background: url(../images/qq.png) center no-repeat;
}

.radio-img-jdpay {
    background: url(../images/jdpay.jpg) center no-repeat;
}

.radio-img-usdt {
    background: url(../images/usdt.png) center no-repeat;
}