*{
    box-sizing: border-box;
    font-family: 'Noto Serif TC', serif;
}

body{
    margin: 0;
    width: calc(100vw - 17px);
    max-width: 1920px;

}

.main{
    width: calc(100vw - 17px);
    max-width: 1920px;
    height: 100vh;
    max-height: 1080px;
    overflow: hidden;
    position: relative;
}

.main .logo{
    height: 200px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url("img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(0px 0px 10px black);
}

.idea{
    width: calc(100vw - 17px);
    max-width: 1920px;
    height: 133vh;
    position: relative;
}


.idea .img1{
    width: 100%;
    height: 137%;
    background-image: url("img/coffeeimg-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -445px;
    top: 15px;
    z-index: -1;
    
}

.idea .hide{
    width: 50%;
    height: 73%;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    
}

.idea .hide .img2{
    width: 100%;
    height: 100%;
    background-image: url("img/coffeebeans-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -180px;
    top: 0;
    z-index: -1;
}

.idea .img3{
    width: 30%;
    height: 30%;
    background-image: url("img/coffeebeans-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 315px;
    top: 1060px;
    z-index: -1;
}


.idea .intro{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: rgb(165, 14, 14);
    margin-top: 10px;
}

.idea .intro h1{
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    
}

.idea .intro div{
    border-top-style: solid;
    border-top-color: rgb(165, 14, 14);
    border-top-width: 1px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.idea .intro span{
    font-size: 25px;
    font-weight: 600;
}


.idea .intro2{
    width: 30%;
    margin: 0 auto;
    text-align: left;
    color: rgb(66, 66, 66);
    margin-top: 440px;

}

.idea .intro2 span{
    font-size: 21px;
    font-weight: 600;
}

.product{
    width: calc(100vw - 17px);
    max-width: 1920px;
    height: 100vh;
    max-height: 1080px;
    overflow: hidden;
}

.product .secition1{
    width: 110%;
    height: 70vh;
    transform: rotate(-8deg) translateX(-5%) translateY(19%);
    display: flex;
    overflow: hidden;
    background-color: #ffffff;
}

#slides1 {
    width: 100%;
    height: 150%;
    transform: rotate(8deg) translateX(-2%) translateY(-16%);
    
}

#slides1 video{
    width: 100%;
    height: 100%;
}

#slides1 .product1{
    width: 100%;
    transition-timing-function: linear;
    background-color: #000;
}

#slides1 .product2{
    width: 100%;
    transition-timing-function: linear;
    background-color: #000;
}

#slides1 .product3{
    width: 100%;
    transition-timing-function: linear;
    background-color: #000;
}

.idea2{
    width: calc(100vw - 17px);
    max-width: 1920px;
    height: 55vh;
    position: relative;
}

.idea2 .img4{
    width: 60%;
    height: 120%;
    background-image: url("img/coffeebeans-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 60px;
    top: -135px;
    z-index: -2;
    
}

.idea2 .img5{
    width: 50%;
    height: 195%;
    background-image: url("img/coffeeimg-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 835px;
    top: -615px;
    z-index: -2;
}

.idea2 .intro3{
    width: 50%;
    height: 120%;
    margin: 0 auto;
    padding-top: 95px;
    text-align: center;
    position:relative;
    z-index: -3;
	color: black;
	text-shadow: 0 0 2px rgba(255,255,255,0.3), -1px -1px 0 #fcfcfc, 1px 1px 0 #ccc;
}

.idea2 .intro3 span:nth-child(1){
    font-size: 32px;
    font-weight: 600;
    position:absolute;
	display:block;
	top:0;
	left:0;
	height:100%;
    width:100%;
    
}


.idea2 .intro3 span:nth-child(2){
    font-size: 32px;
    font-weight: 600;
    position:absolute;
	display:block;
	top:50px;
	left:0;
	height:100%;
	width:100%;
    
}

.idea2 .intro3 span:nth-child(3){
    font-size: 32px;
    font-weight: 600;
    position:absolute;
	display:block;
	top:100px;
	left:0;
	height:100%;
	width:100%;
    
}


.idea2 .intro3 span:nth-child(4){
    font-size: 32px;
    font-weight: 600;
    position:absolute;
	display:block;
	top:150px;
	left:0;
	height:100%;
	width:100%;
    
}

.idea2 .intro3 span:nth-child(5){
    font-size: 32px;
    font-weight: 600;
    position:absolute;
	display:block;
	top:200px;
	left:0;
	height:100%;
	width:100%;
    
}

.idea2 .intro3 span:nth-child(6){
    font-size: 32px;
    font-weight: 600;
    position:absolute;
	display:block;
	top:250px;
	left:0;
	height:100%;
	width:100%;
    
}

.idea2 .intro3 span:nth-child(7){
    font-size: 32px;
    font-weight: 600;
    position:absolute;
	display:block;
	top:300px;
	left:0;
	height:100%;
	width:100%;
    
}

.idea2 .intro3 span:nth-child(8){
    font-size: 32px;
    font-weight: 600;
    position:absolute;
	display:block;
	top:350px;
	left:0;
	height:100%;
	width:100%;
    
}

.idea2 .intro3 span:nth-child(9){
    font-size: 32px;
    font-weight: 600;
    position:absolute;
	display:block;
	top:400px;
	left:0;
	height:100%;
	width:100%;
    
}

.idea2 .intro3 h1{
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 450px;
    left: calc(50% - 305px);

}

.shop{
    width: calc(100vw - 17px);
    max-width: 1920px;
    height: 100vh;
    max-height: 1080px;
    overflow: hidden;
}

.shop .secition2{
    width: 110%;
    height: 70vh;
    display: flex;
    overflow: hidden;
    transform: rotate(8deg) translateX(-5%) translateY(23%);
    background-color: white;
}

#slides2{
    width: 100%;
    height: 150%;
    transform: rotate(-8deg) translateX(3%) translateY(-16%)
}

#slides2 .swiper-slide {
    width: 100vw;
    max-width: 1920px;
    height: 150%;
    transition-timing-function: linear;
}

#slides2 .img1{
    width: 100%;
    height: 80%;
    background-image: url("img/shop-1.jpg");
    background-position-x: center;
    background-position-y: -200px; 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}

#slides2 .img1 a{
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 10px black;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

#slides2 .img1 a:hover{
    color: black;
    text-shadow: 0px 0px 10px white;
}

#slides2 .img2{
    width: 100%;
    height: 80%;
    background-image: url("img/shop-2.jpg");
    background-position-x: center;
    background-position-y: -200px; 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}

#slides2 .img2 a{
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 10px black;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

#slides2 .img2 a:hover{
    color: black;
    text-shadow: 0px 0px 10px white;
}

#slides2 .img3{
    width: 100%;
    height: 80%;
    background-image: url("img/shop-3.png");
    background-position-x: center;
    background-position-y: -200px; 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}

#slides2 .img3 a{
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 10px black;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

#slides2 .img3 a:hover{
    color: black;
    text-shadow: 0px 0px 10px white;
}


#slides2 .img4{
    width: 100%;
    height: 80%;
    background-image: url("img/shop-4.png");
    background-position-x: center;
    background-position-y: -200px; 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}

#slides2 .img4 a{
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 10px black;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

#slides2 .img4 a:hover{
    color: black;
    text-shadow: 0px 0px 10px white;
}


.swiper-button-next,.swiper-button-prev {
    width: 400px;
    height: 100px;
    background-size: 86px 112px;
    margin-top: -56px;
    outline: none;
}

.swiper-button-next {
    background-image: url("img/right.svg");
}

.swiper-button-prev {
    background-image: url("img/left.svg");

}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 200px;
    left: 20px;
    width: 100%;
}

.swiper-pagination-bullet {
    background: none;
    opacity: 1;
    margin: 0 6px !important;
    width: 9px;
    height: 9px;
    position: relative;
    outline: none;
    vertical-align: middle;
}

.swiper-pagination-bullet span {
    width: 3px;
    height: 3px;
    background: #CCC;
    display: block;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 3px;
}

.swiper-pagination-bullet i {
    background: #000;
    height: 1px;
    width: 20px;
    position: absolute;
    top: 4px;
    transform: scaleX(0);
    transform-origin: left;
    z-index: 3;
    transition-timing-function: linear;
}

.swiper-pagination-bullet-active span,.swiper-pagination-bullet:hover span {
    width: 9px;
    height: 9px;
    margin-top: 0;
    margin-left: 0;
    background: #000;
    position: relative;
    z-index: 1;
}

.swiper-pagination-bullet-active i {
    animation: middle 6s;
}

.swiper-pagination-bullet:first-child.swiper-pagination-bullet-active i {
    animation: first 6s;
}

.swiper-pagination-bullet:last-child.swiper-pagination-bullet-active i {
    animation: last 6s;
}

@keyframes first {
    0% {
        transform: scaleX(0.5);
        left: 0px;
    }
    100% {
        transform: scaleX(1);
        left: 2px;
    }

}

@keyframes last {
    0% {
        transform: scaleX(0.7);
        left: -10px;
    }
    20% {
        transform: scaleX(0.3);
        left: 2px;
    }
    100% {
        transform: scaleX(0.3);
        left: 0px;
    }

}

@keyframes middle {
    0% {
        transform: scaleX(0.7);
        left: -10px;
    }
    20% {
        transform: scaleX(0.45);
        left: 2px;
    }
    100% {
        transform: scaleX(1);
        left: 2px;
    }

}

.map{
    width: calc(100vw - 17px);
    max-width: 1920px;
    height: 55vh;
    position: relative;
}

.map .world{
    width: 100%;
    height: 185%;
    background-image: url("img/map-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0px;
    top: -210px;
    z-index: -1;
}

.map .big-logo{
    width: 60%;
    height: 80%;
    background-image: url("img/logo-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    padding-top: 640px;
}

.footer{
    width: calc(100vw - 17px);
    max-width: 1920px;
    height: 200vh;
    overflow: hidden;
}

.footer .secition3{
    width: 110%;
    height: 130vh;
    background-color: bisque;
    transform: rotate(8deg) translateX(-5%) translateY(23%);
    overflow: hidden;
}

.footer .secition3 .history{
    width: 70%;
    height: 90%;
    background-image: url("img/coffeeimg-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 90px;
    top: -130px;
    transform: rotate(-8deg);
}

.footer .secition3 .history .coffeemap{
    width: 450px;
    height: 450px;
    position: absolute;
    top: 400px;
    left: 430px;
}

.footer .secition3 .history #history1{
    width: 60%;
    height: 200px;
    background-image: url("img/history-1.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;

}

.footer .secition3 .history #history2{
    width: 60%;
    height: 200px;
    background-image: url("img/history-2.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}


.footer .secition3 .history #history3{
    width: 60%;
    height: 200px;
    background-image: url("img/history-3.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}


.footer .secition3 .history #history4{
    width: 60%;
    height: 200px;
    background-image: url("img/history-4.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}


.footer .secition3 .history #history5{
    width: 60%;
    height: 200px;
    background-image: url("img/history-5.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}


.footer .secition3 .history #history6{
    width: 60%;
    height: 200px;
    background-image: url("img/history-6.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}


.footer .secition3 .history #history7{
    width: 60%;
    height: 200px;
    background-image: url("img/history-7.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}

.footer .secition3 .history #history1.show{
    opacity: 1;
    
}

.footer .secition3 .history #history2.show{
    opacity: 1;
}

.footer .secition3 .history #history3.show{
    opacity: 1;
}

.footer .secition3 .history #history4.show{
    opacity: 1;
}

.footer .secition3 .history #history5.show{
    opacity: 1;
}

.footer .secition3 .history #history6.show{
    opacity: 1;
}

.footer .secition3 .history #history7.show{
    opacity: 1;
}

.footer .secition3 .history .coffeeintro{
    width: 800px;
    height: 50px;
    position: absolute;
    top: 670px;
    left: 430px;
}

.footer .secition3 .history #his-intro1{
    font-size: 26px;
    font-weight: bold;
    color: white;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}

.footer .secition3 .history #his-intro2{
    font-size: 26px;
    font-weight: bold;
    color: white;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}


.footer .secition3 .history #his-intro3{
    font-size: 26px;
    font-weight: bold;
    color: white;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}


.footer .secition3 .history #his-intro4{
    font-size: 26px;
    font-weight: bold;
    color: white;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}


.footer .secition3 .history #his-intro5{
    font-size: 26px;
    font-weight: bold;
    color: white;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}


.footer .secition3 .history #his-intro6{
    font-size: 26px;
    font-weight: bold;
    color: white;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}


.footer .secition3 .history #his-intro7{
    font-size: 26px;
    font-weight: bold;
    color: white;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}

.footer .secition3 .history #his-intro1.show{
    opacity: 1;
}

.footer .secition3 .history #his-intro2.show{
    opacity: 1;
}

.footer .secition3 .history #his-intro3.show{
    opacity: 1;
}

.footer .secition3 .history #his-intro4.show{
    opacity: 1;
}

.footer .secition3 .history #his-intro5.show{
    opacity: 1;
}

.footer .secition3 .history #his-intro6.show{
    opacity: 1;
}

.footer .secition3 .history #his-intro7.show{
    opacity: 1;
}

.footer .secition3 .history .time{
    width: 300px;
    height: 650px;
    position: relative;
    top: 380px;
    left: 1550px;
}

.footer .secition3 .history .time .line{
    width: 2px;
    height: 100%;
    border-left-style: solid;
    border-left-color: black;
    border-left-width: 2px;
}

.footer .secition3 .history #his1btn{
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: -30px;
    left: 20px;
    cursor: pointer;
}

.footer .secition3 .history #his1btn:hover{
    transition: linear 0.3s;
    transform: scale(1.5);
    color: red;
}

.footer .secition3 .history #his2btn{
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 60px;
    left: -110px;
    cursor: pointer;
}

.footer .secition3 .history #his2btn:hover{
    transition: linear 0.3s;
    transform: scale(1.5);
    color: red;
}

.footer .secition3 .history #his3btn{
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 150px;
    left: 20px;
    cursor: pointer;
}

.footer .secition3 .history #his3btn:hover{
    transition: linear 0.3s;
    transform: scale(1.5);
    color: red;
}

.footer .secition3 .history #his4btn{
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 240px;
    left: -110px;
    cursor: pointer;
}

.footer .secition3 .history #his4btn:hover{
    transition: linear 0.3s;
    transform: scale(1.5);
    color: red;
}

.footer .secition3 .history #his5btn{
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 330px;
    left: 20px;
    cursor: pointer;
}

.footer .secition3 .history #his5btn:hover{
    transition: linear 0.3s;
    transform: scale(1.5);
    color: red;
}

.footer .secition3 .history #his6btn{
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 420px;
    left: -110px;
    cursor: pointer;
}

.footer .secition3 .history #his6btn:hover{
    transition: linear 0.3s;
    transform: scale(1.5);
    color: red;
}

.footer .secition3 .history #his7btn{
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 510px;
    left: 20px;
    cursor: pointer;
}

.footer .secition3 .history #his7btn:hover{
    transition: linear 0.3s;
    transform: scale(1.5);
    color: red;
}

.footer .secition3 .history .time .circle{
    position: relative;
    top: -690px;
    left: -3px;
    font-size: 50px;
}

.footer .secition3 .history .time .circle li:nth-child(1){
    position: absolute;
    top: 0;
}

.footer .secition3 .history .time .circle li:nth-child(2){
    position: absolute;
    top: 90px;
}

.footer .secition3 .history .time .circle li:nth-child(3){
    position: absolute;
    top: 180px;
}

.footer .secition3 .history .time .circle li:nth-child(4){
    position: absolute;
    top: 270px;
}

.footer .secition3 .history .time .circle li:nth-child(5){
    position: absolute;
    top: 360px;
}

.footer .secition3 .history .time .circle li:nth-child(6){
    position: absolute;
    top: 450px;
}

.footer .secition3 .history .time .circle li:nth-child(7){
    position: absolute;
    top: 540px;
}

.footer .secition4{
    width: 110%;
    height: 120vh;
    background-color: white;
    transform: rotate(-8deg) translateX(-4%) translateY(-2%);
    overflow: hidden;
}

.footer .secition4 .mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;

}

.footer .secition4 .mask .foo-logo{
    width: 30%;
    height: 30%;
    background-image: url("img/logo-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(8deg) translate(-55%,-100%);
    z-index: -1;
}

.footer .secition4 .mask .contact{
    width: 20%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(8deg) translate(-61%,-82%);
    display: flex;
    flex-direction: column;
    
}

.footer .secition4 .mask .contact div{
    width: 100%;
    height: 187px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.footer .secition4 .mask .contact div h1{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.footer .secition4 .mask .contact div h2{
    margin: 0;
}

.footer .secition4 .mask .contact div span{
    font-size: 24px;
    font-weight: 600;
}

@media (min-width:1440px) and (max-width:1920px){
    body{
        max-width: 1440px;
        height: 6700px;
    }

    .main {
        max-width: 1440px;
        max-height: 900px;
    }

    .idea {
        max-width: 1440px;
    }

    .idea .img1 {
        top: -75px;
    }

    .idea .hide {
        top: 50px;
    }

    .idea .hide .img2 {
        right: -240px;
        top: -40px;
    }

    .idea .intro2 {
        margin-top: 230px;
    }

    .idea .intro2 span {
        font-size: 20px;
    }

    .idea .img3 {
        right: 215px;
        top: 970px;
    }

    .product {
        max-width: 1440px;
        max-height: 900px;
        position: relative;
        top: -100px;
    }

    .idea2 {
        max-width: 1440px;
    }

    .idea2 .img4 {
        left: 10px;
        top: -255px;
    }

    .idea2 .img5 {
        left: 680px;
        top: -655px;
    }

    .idea2 .intro3 span:nth-child(1) {
        font-size: 25px;
    }

    .idea2 .intro3 span:nth-child(2) {
        font-size: 25px;
    }

    .idea2 .intro3 span:nth-child(3) {
        font-size: 25px;
    }

    .idea2 .intro3 span:nth-child(4) {
        font-size: 25px;
    }

    .idea2 .intro3 span:nth-child(5) {
        font-size: 25px;
    }

    .idea2 .intro3 span:nth-child(6) {
        font-size: 25px;
    }

    .idea2 .intro3 span:nth-child(7) {
        font-size: 25px;
    }

    .idea2 .intro3 span:nth-child(8) {
        font-size: 25px;
    }

    .idea2 .intro3 span:nth-child(9) {
        font-size: 25px;
    }

    .shop {
        max-width: 1440px;
        max-height: 900px;
    }

    .shop .secition2 {
        transform: rotate(8deg) translateX(-3%) translateY(23%);
    }

    .map {
        max-width: 1440px;
    }

    .map .world {
        top: -260px;
    }

    .map .big-logo {
        padding-top: 380px;
    }

    .footer {
        max-width: 1440px;
        height: 205vh;
        position: relative;
        top: -210px;
        
    }

    .footer .secition3 .history .coffeemap {
        left: 300px;
    }

    .footer .secition3 .history .coffeeintro {
        left: 300px;
    }

    .footer .secition3 .history #his-intro1 {
        font-size: 22px;
    }

    .footer .secition3 .history #his-intro2 {
        font-size: 22px;
    }

    .footer .secition3 .history #his-intro3 {
        font-size: 22px;
    }

    .footer .secition3 .history #his-intro4 {
        font-size: 22px;
    }

    .footer .secition3 .history #his-intro5 {
        font-size: 22px;
    }

    .footer .secition3 .history #his-intro6 {
        font-size: 22px;
    }

    .footer .secition3 .history #his-intro7 {
        font-size: 22px;
    }

    .footer .secition3 .history .time {
        top: 330px;
        left: 1230px;
    }

    .footer .secition4 {
        transform: rotate(-8deg) translateX(-3%) translateY(-2%);
    }

    .footer .secition4 .mask .contact {
        transform: rotate(8deg) translate(-65%,-82%);
    }
}