*{
    box-sizing: border-box;
    font-family: 'Noto Serif TC', serif;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    width: 100%;
    max-width: 1920px;
}

.main{
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    max-height: 1080px;
    overflow: hidden;
}

.main .logo{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: drop-shadow(0px 0px 5px black);
}

.idea{
    width: 100%;
    max-width: 1920px;
    height: 115vh;
    position: relative;
}

.idea .hide1{
    width: 100%;
    max-width: 1920px;
    height: 190%;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}

.idea .hide1 .img1{
    width: 65%;
    position: absolute;
    left: -4%;
    top: 0%;
    z-index: -1;
    
}

.idea .hide1 .img2{
    width: 45%;
    position: absolute;
    right: -8%;
    top: -3%;
    z-index: -1;
}

.idea .img3{
    width: 18%;
    position: absolute;
    right: 21%;
    top: 91%;
    z-index: -1;
}


.idea .intro{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: rgb(165, 14, 14);
}

.idea .intro h1{
    margin: 0;
    font-weight: bold; 
}

.idea .intro hr{
    border-color: rgb(165, 14, 14);
    width: 50%;
}

.idea .word{
    width: 30%;
    position: absolute;
    z-index: -2;
    left: 50%;
    transform: translateX(-50%);
}

.idea .word2{
    width: 30%;
    position: absolute;
    z-index: -2;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 33%;
}

.product{
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    max-height: 1080px;
    overflow: hidden;

}

.product .secition1{
    width: 110%;
    height: 70vh;
    transform: rotate(-8deg) translateX(-5%) translateY(19%);
    display: flex;
    overflow: hidden;
    background-color: black;
}

#slides1 {
    width: 100%;
    height: 150%;
    transform: rotate(8deg) translateX(-2%) translateY(-16%); 
}

#slides1 video{
    width: 100%;
    height: 100%;
}

#slides1 .product1{
    width: 100%;
    transition-timing-function: linear;
}

#slides1 .product2{
    width: 100%;
    transition-timing-function: linear;
}

#slides1 .product3{
    width: 100%;
    transition-timing-function: linear;
}

.idea2{
    width: 100%;
    max-width: 1920px;
    height: 50vh;
    position: relative;
}

.idea2 .hide2{
    width: 100%;
    max-width: 1920px;
    height: 230%;
    position: absolute;
    right: 0;
    top: -65%;
    overflow: hidden;
}

.idea2 .img4{
    width: 40%;
    position: absolute;
    left: 10%;
    top: 4%;
    z-index: -2;
    
}

.idea2 .img5{
    width: 47%;
    position: absolute;
    left: 50%;
    top: -38%;
    z-index: -2;
}

.idea2 .intro3{
    font-size: 32px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: -3;
	color: black;
    text-shadow: 0 0 2px rgba(255,255,255,0.3), -1px -1px 0 #fcfcfc, 1px 1px 0 #ccc;
}

.idea2 .intro3 span:nth-child(1){
    font-weight: 600;
    position:absolute;
	display:block;
	top:0;
	left:0;
    width:100%;
}


.idea2 .intro3 span:nth-child(2){
    font-weight: 600;
    position:absolute;
	display:block;
	top:50px;
	left:0;
	width:100%;
    
}

.idea2 .intro3 span:nth-child(3){
    font-weight: 600;
    position:absolute;
	display:block;
	top:100px;
	left:0;
	width:100%;
    
}


.idea2 .intro3 span:nth-child(4){
    font-weight: 600;
    position:absolute;
	display:block;
	top:150px;
	left:0;
	width:100%;
    
}

.idea2 .intro3 span:nth-child(5){
    font-weight: 600;
    position:absolute;
	display:block;
	top:200px;
	left:0;
	width:100%;
    
}

.idea2 .intro3 span:nth-child(6){
    font-weight: 600;
    position:absolute;
	display:block;
	top:250px;
	left:0;
	width:100%;
    
}

.idea2 .intro3 span:nth-child(7){
    font-weight: 600;
    position:absolute;
	display:block;
	top:300px;
	left:0;
	width:100%;
    
}

.idea2 .intro3 span:nth-child(8){
    font-weight: 600;
    position:absolute;
	display:block;
	top:350px;
	left:0;
	width:100%;
    
}

.idea2 .intro3 span:nth-child(9){
    font-weight: 600;
    position:absolute;
	display:block;
	top:400px;
	left:0;
	width:100%;
}

.idea2 .intro3 h1{
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 450px;
    left: 35%;

}

.shop{
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    max-height: 1080px;
    overflow: hidden;
}

.shop .secition2{
    width: 110%;
    height: 70vh;
    display: flex;
    overflow: hidden;
    transform: rotate(8deg) translateX(-5%) translateY(23%);
    background-color: white;
}

#slides2{
    width: 100%;
    height: 150%;
    transform: rotate(-8deg) translateX(3%) translateY(-16%)
}

#slides2 .swiper-slide {
    width: 100%;
    max-width: 1920px;
    height: 150%;
    transition-timing-function: linear;
}

#slides2 .img1{
    width: 100%;
    height: 80%;
    background-image: url("img/shop-1.jpg");
    background-position-x: center;
    background-position-y: -200px; 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}

#slides2 .img1 a{
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 10px black;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

#slides2 .img1 a:hover{
    color: black;
    text-shadow: 0px 0px 10px white;
}

#slides2 .img2{
    width: 100%;
    height: 80%;
    background-image: url("img/shop-2.jpg");
    background-position-x: center;
    background-position-y: -200px; 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}

#slides2 .img2 a{
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 10px black;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

#slides2 .img2 a:hover{
    color: black;
    text-shadow: 0px 0px 10px white;
}

#slides2 .img3{
    width: 100%;
    height: 80%;
    background-image: url("img/shop-3.png");
    background-position-x: center;
    background-position-y: -200px; 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}

#slides2 .img3 a{
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 10px black;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

#slides2 .img3 a:hover{
    color: black;
    text-shadow: 0px 0px 10px white;
}


#slides2 .img4{
    width: 100%;
    height: 80%;
    background-image: url("img/shop-4.png");
    background-position-x: center;
    background-position-y: -200px; 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}

#slides2 .img4 a{
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 10px black;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

#slides2 .img4 a:hover{
    color: black;
    text-shadow: 0px 0px 10px white;
}


.swiper-button-next,.swiper-button-prev {
    width: 400px;
    height: 100px;
    background-size: 86px 112px;
    margin-top: -56px;
    outline: none;
}

.swiper-button-next {
    background-image: url("img/right.svg");
}

.swiper-button-prev {
    background-image: url("img/left.svg");

}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 200px;
    left: 20px;
    width: 100%;
}

.swiper-pagination-bullet {
    background: none;
    opacity: 1;
    margin: 0 6px !important;
    width: 9px;
    height: 9px;
    position: relative;
    outline: none;
    vertical-align: middle;
}

.swiper-pagination-bullet span {
    width: 3px;
    height: 3px;
    background: #CCC;
    display: block;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 3px;
}

.swiper-pagination-bullet i {
    background: #000;
    height: 1px;
    width: 20px;
    position: absolute;
    top: 4px;
    transform: scaleX(0);
    transform-origin: left;
    z-index: 3;
    transition-timing-function: linear;
}

.swiper-pagination-bullet-active span,.swiper-pagination-bullet:hover span {
    width: 9px;
    height: 9px;
    margin-top: 0;
    margin-left: 0;
    background: #000;
    position: relative;
    z-index: 1;
}

.swiper-pagination-bullet-active i {
    animation: middle 6s;
}

.swiper-pagination-bullet:first-child.swiper-pagination-bullet-active i {
    animation: first 6s;
}

.swiper-pagination-bullet:last-child.swiper-pagination-bullet-active i {
    animation: last 6s;
}

@keyframes first {
    0% {
        transform: scaleX(0.5);
        left: 0px;
    }
    100% {
        transform: scaleX(1);
        left: 2px;
    }

}

@keyframes last {
    0% {
        transform: scaleX(0.7);
        left: -10px;
    }
    20% {
        transform: scaleX(0.3);
        left: 2px;
    }
    100% {
        transform: scaleX(0.3);
        left: 0px;
    }

}

@keyframes middle {
    0% {
        transform: scaleX(0.7);
        left: -10px;
    }
    20% {
        transform: scaleX(0.45);
        left: 2px;
    }
    100% {
        transform: scaleX(1);
        left: 2px;
    }

}

.map{
    width: 100%;
    max-width: 1920px;
    height: 50vh;
    position: relative;
}

.map .world{
    width: 100%;
    position: absolute;
    left: 0;
    top: -65%;
    z-index: -1;
}

.map .big-logo{
    width: 60%;
    position: absolute;
    left: 20%;
    padding-top: 3%;
}

.footer{
    width: 100%;
    max-width: 1920px;
    height: 200vh;
    overflow: hidden;
}

.footer .secition3{
    width: 110%;
    height: 130vh;
    background: linear-gradient(270deg, rgba(188, 139, 93, 1)25%, rgba(227, 200, 153, 1)75%); 
    transform: rotate(8deg) translateX(-5%) translateY(23%);
    overflow: hidden;
}

.footer .secition3 .history{
    width: 70%;
    height: 90%;
    background-image: url("img/coffeeimg-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 5%;
    top: -11%;
    transform: rotate(-8deg);
}

.footer .secition3 .history .coffeemap{
    width: 30%;
    height: 35%;
    position: absolute;
    top: 37%;
    left: 32%;
}

.footer .secition3 .history #history1{
    width: 60%;
    height: 200px;
    background-image: url("img/history-1.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;

}

.footer .secition3 .history #history2{
    width: 60%;
    height: 200px;
    background-image: url("img/history-2.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}


.footer .secition3 .history #history3{
    width: 60%;
    height: 200px;
    background-image: url("img/history-3.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}


.footer .secition3 .history #history4{
    width: 60%;
    height: 200px;
    background-image: url("img/history-4.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}


.footer .secition3 .history #history5{
    width: 60%;
    height: 200px;
    background-image: url("img/history-5.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}


.footer .secition3 .history #history6{
    width: 60%;
    height: 200px;
    background-image: url("img/history-6.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}


.footer .secition3 .history #history7{
    width: 60%;
    height: 200px;
    background-image: url("img/history-7.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}

.footer .secition3 .history #history1.show{
    opacity: 1;
    
}

.footer .secition3 .history #history2.show{
    opacity: 1;
}

.footer .secition3 .history #history3.show{
    opacity: 1;
}

.footer .secition3 .history #history4.show{
    opacity: 1;
}

.footer .secition3 .history #history5.show{
    opacity: 1;
}

.footer .secition3 .history #history6.show{
    opacity: 1;
}

.footer .secition3 .history #history7.show{
    opacity: 1;
}

.footer .secition3 .history .coffeeintro{
    width: 50%;
    height: 5%;
    position: absolute;
    top: 63%;
    left: 32%;
}

.footer .secition3 .history #his-intro1{
    font-size: 26px;
    font-weight: bold;
    color: white;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}

.footer .secition3 .history #his-intro2{
    font-size: 26px;
    font-weight: bold;
    color: white;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}


.footer .secition3 .history #his-intro3{
    font-size: 26px;
    font-weight: bold;
    color: white;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}


.footer .secition3 .history #his-intro4{
    font-size: 26px;
    font-weight: bold;
    color: white;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}


.footer .secition3 .history #his-intro5{
    font-size: 26px;
    font-weight: bold;
    color: white;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}


.footer .secition3 .history #his-intro6{
    font-size: 26px;
    font-weight: bold;
    color: white;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}


.footer .secition3 .history #his-intro7{
    font-size: 26px;
    font-weight: bold;
    color: white;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}

.footer .secition3 .history #his-intro1.show{
    opacity: 1;
}

.footer .secition3 .history #his-intro2.show{
    opacity: 1;
}

.footer .secition3 .history #his-intro3.show{
    opacity: 1;
}

.footer .secition3 .history #his-intro4.show{
    opacity: 1;
}

.footer .secition3 .history #his-intro5.show{
    opacity: 1;
}

.footer .secition3 .history #his-intro6.show{
    opacity: 1;
}

.footer .secition3 .history #his-intro7.show{
    opacity: 1;
}

.footer .secition3 .history .time{
    width: 3%;
    height: 60%;
    position: relative;
    top: 34%;
    left: 106%;
}

.footer .secition3 .history .time .timeline{
    width: 100%;
    height: 100%;
}

.footer .secition3 .history #his1btn{
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: -1%;
    left: 105%;
    cursor: pointer;
}

.footer .secition3 .history #his1btn:hover{
    transition: linear 0.3s;
    transform: scale(1.2);
    color: red;
}

.footer .secition3 .history #his2btn{
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 13%;
    left: -200%;
    cursor: pointer;
}

.footer .secition3 .history #his2btn:hover{
    transition: linear 0.3s;
    transform: scale(1.2);
    color: red;
}

.footer .secition3 .history #his3btn{
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 26%;
    left: 105%;
    cursor: pointer;
}

.footer .secition3 .history #his3btn:hover{
    transition: linear 0.3s;
    transform: scale(1.2);
    color: red;
}

.footer .secition3 .history #his4btn{
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: -200%;
    cursor: pointer;
}

.footer .secition3 .history #his4btn:hover{
    transition: linear 0.3s;
    transform: scale(1.2);
    color: red;
}

.footer .secition3 .history #his5btn{
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 53%;
    left: 105%;
    cursor: pointer;
}

.footer .secition3 .history #his5btn:hover{
    transition: linear 0.3s;
    transform: scale(1.2);
    color: red;
}

.footer .secition3 .history #his6btn{
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 67%;
    left: -200%;
    cursor: pointer;
}

.footer .secition3 .history #his6btn:hover{
    transition: linear 0.3s;
    transform: scale(1.2);
    color: red;
}

.footer .secition3 .history #his7btn{
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 80%;
    left: 105%;
    cursor: pointer;
}

.footer .secition3 .history #his7btn:hover{
    transition: linear 0.3s;
    transform: scale(1.2);
    color: red;
}

.footer .secition4{
    width: 110%;
    height: 120vh;
    background-color: white;
    transform: rotate(-8deg) translateX(-4%) translateY(-2%);
    overflow: hidden;
}

.footer .secition4 .mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;

}

.footer .secition4 .mask .foo-logo{
    width: 30%;
    height: 30%;
    background-image: url("img/logo-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(8deg) translate(-55%,-93%);
    z-index: -1;
}

.footer .secition4 .mask .contact{
    width: 20%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(8deg) translate(-58%,-86%);
    display: flex;
    flex-direction: column;
    
}

.footer .secition4 .mask .contact div{
    width: 100%;
    height: 187px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.footer .secition4 .mask .contact div h1{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.footer .secition4 .mask .contact div h2{
    margin: 0;
}

.footer .secition4 .mask .contact div span{
    font-size: 24px;
    font-weight: 600;
}

@media screen and (max-width:1680px){

    .idea{
        height: 100vh;
    }

    .idea .hide1 .img2{
        top: -2%;
    }

    .idea .img3{
        top: 95%;
    }

    .idea2 .intro3 h1{
        left: 33%;
    }
    
    .map{
        height: 45vh;
    }

    .map .world{
        top: -73%;
    }

    .footer .secition3 .history #his2btn{
        left: -230%;
    }

    .footer .secition3 .history #his4btn{
        left: -230%;
    }

    .footer .secition3 .history #his6btn{
        left: -230%;
    }

    .footer .secition4 .mask .contact div h1{
        font-size: 38px;
    }
}

@media screen and (max-width:1600px){

    .idea{
        height: 121vh;
    }

    .idea2 .hide2{
        top: -78%;
    }

    .map .world{
        top: -85%;
    }

    .map .big-logo{
        padding-top: 0%;
    }

    .footer .secition3 .history #his1btn{
        top: -2%;
    }

    .footer .secition3 .history .coffeemap{
        left: 29%;
    }

    .footer .secition3 .history .coffeeintro{
        left: 29%;
    }

    .footer .secition4 .mask .contact div h1{
        font-size: 36px;
    }

    .footer .secition3 .history #his2btn{
        top: 12%;
    }

    .footer .secition3 .history #his3btn{
        top: 25%;
    }

    .footer .secition3 .history #his4btn{
        top: 39%;
    }

    .footer .secition3 .history #his5btn{
        top: 52%;
    }

    .footer .secition3 .history #his6btn{
        top: 66%;
    }

    .footer .secition3 .history #his7btn{
        top: 79%;
    }
}

@media screen and (max-width:1440px){

    .idea{
        height: 100vh;
    }

    .idea .hide1 .img2 {
        top: 0%;
    }

    .idea .img3 {
        top: 105%;
    }

    .idea2{
        height: 40vh;
    }

    .idea2 .hide2{
        top: -84%;
    }

    .idea2 .img4{
        top: 12%;
        left: 10%;
    }

    .idea2 .intro3 {
        font-size: 26px;
    }

    .idea2 .intro3 span:nth-child(1){
        top: 0px;
    }

    .idea2 .intro3 span:nth-child(2){
        top: 45px;
    }

    .idea2 .intro3 span:nth-child(3){
        top: 90px;
    }

    .idea2 .intro3 span:nth-child(4){
        top: 135px;
    }

    .idea2 .intro3 span:nth-child(5){
        top: 180px;
    }

    .idea2 .intro3 span:nth-child(6){
        top: 225px;
    }

    .idea2 .intro3 span:nth-child(7){
        top: 270px;
    }

    .idea2 .intro3 span:nth-child(8){
        top: 315px;
    }

    .idea2 .intro3 span:nth-child(9){
        top: 360px;
    }

    .idea2 .intro3 h1 {
        font-size: 45px;
        left: 32%;
        top: 410px;
    }


    #slides2 .img1 a {
        font-size: 60px;
    }

    #slides2 .img2 a {
        font-size: 60px;
    }

    #slides2 .img3 a {
        font-size: 60px;
    }

    #slides2 .img4 a {
        font-size: 60px;
    }

    .map{
        height: 55vh;
    }

    .map .world{
        top: -62%;
    }

    .footer {
        height: 185vh;
    }

    .footer .secition3 {
        transform: rotate(8deg) translateX(-5%) translateY(12%);
    }

    .footer .secition3 .history .coffeemap{
        left: 29%;
    }

    .footer .secition3 .history .coffeeintro{
        left: 29%;
    }

    .footer .secition3 .history #his1btn{
        top: -2%;
    }

    .footer .secition3 .history #his2btn{
        top: 12%;
        left: -270%;
    }

    .footer .secition3 .history #his3btn{
        top: 25%;
    }

    .footer .secition3 .history #his4btn{
        top: 39%;
        left: -270%;
    }

    .footer .secition3 .history #his5btn{
        top: 52%;
    }

    .footer .secition3 .history #his6btn{
        top: 66%;
        left: -270%;
    }

    .footer .secition3 .history #his7btn{
        top: 79%;
    }

    .footer .secition4{
        transform: rotate(-8deg) translateX(-2%) translateY(-15%);
    }

    .footer .secition4 .mask .contact {
        transform: rotate(8deg) translate(-64%,-82%);
    }

    .footer .secition4 .mask .contact div h1{
        font-size: 33px;
    }

    .footer .secition4 .mask .contact div span{
        font-size: 22px;
    }
}

@media screen and (max-width:1366px){

    .idea{
        height: 120vh;
    }

    .idea2 .hide2{
        top: -123%;
    }

    .idea2 .img4{
        left: 14%;
    }

    .idea2 .intro3{
        font-size: 22px;
    }

    .idea2 .intro3 span:nth-child(1){
        top: -5px;
    }

    .idea2 .intro3 span:nth-child(2){
        top: 30px;
    }

    .idea2 .intro3 span:nth-child(3){
        top: 65px;
    }

    .idea2 .intro3 span:nth-child(4){
        top: 100px;
    }

    .idea2 .intro3 span:nth-child(5){
        top: 135px;
    }

    .idea2 .intro3 span:nth-child(6){
        top: 170px;
    }

    .idea2 .intro3 span:nth-child(7){
        top: 205px;
    }

    .idea2 .intro3 span:nth-child(8){
        top: 240px;
    }

    .idea2 .intro3 span:nth-child(9){
        top: 275px;
    }

    .idea2 .intro3 h1{
        font-size: 40px;
        top: 310px;
    }

    .map .world{
        top: -70%
    }

    .footer .secition3{
        transform: rotate(8deg) translateX(-5%) translateY(14%);
    }

    .footer .secition3 .history{
        left: 2%;
    }

    .footer .secition3 .history .time{
        top: 32%;
    }

    .footer .secition3 .history #his-intro1{
        font-size: 22px;
    }

    .footer .secition3 .history #his-intro2{
        font-size: 22px;
    }

    .footer .secition3 .history #his-intro3{
        font-size: 22px;
    }

    .footer .secition3 .history #his-intro4{
        font-size: 22px;
    }

    .footer .secition3 .history #his-intro5{
        font-size: 22px;
    }

    .footer .secition3 .history #his-intro6{
        font-size: 22px;
    }

    .footer .secition3 .history #his-intro7{
        font-size: 22px;
    }

    .footer .secition3 .history #his1btn{
        font-size: 32px;
        top: -3%;
    }

    .footer .secition3 .history #his2btn{
        font-size: 32px;
        top: 11%;
        left: -250%;
    }

    .footer .secition3 .history #his3btn{
        font-size: 32px;
        top: 24%;
    }

    .footer .secition3 .history #his4btn{
        font-size: 32px;
        top: 38%;
        left: -250%;
    }

    .footer .secition3 .history #his5btn{
        font-size: 32px;
        top: 51%;
    }

    .footer .secition3 .history #his6btn{
        font-size: 32px;
        left: -250%;
    }

    .footer .secition3 .history #his7btn{
        font-size: 32px;
    }

    .footer .secition4 .mask .contact div h1{
        font-size: 30px;
    }

    .footer .secition4 .mask .contact div span{
        font-size: 17px;
    }
}

@media screen and (max-device-width:1280px) and (max-device-height:1024px){

    .idea{
        height: 73vh;
    }

    .idea .img3{
        top: 112%;
    }

    .idea2 {
        height: 25vh;
    }

    .idea2 .hide2{
        height: 260%;
        top: -131%;
    }

    .idea2 .img4{
        width: 43%;
    }

    .shop .secition2{
        transform: rotate(8deg) translateX(-4%) translateY(23%);
    }

    #slides2 .img4 a {
        font-size: 50px;
    }

    .swiper-button-next, .swiper-button-prev{
        background-size: 60px 60px;
    }


    .map{
        height: 35vh;
    }

    .map .world{
        top: -89%;
    }

    .footer .secition3 .history .time{
        top: 42%;
        left: 112%;
    }

    .footer .secition3 .history .time .timeline{
        height: 80%;
    }

    .footer .secition3 .history #his1btn{
        top: -2%;
    }

    .footer .secition3 .history #his2btn{
        top: 9.7%;
        left: -260%;
    }

    .footer .secition3 .history #his3btn{
        top: 20%;
    }

    .footer .secition3 .history #his4btn{
        top: 31.4%;
        left: -260%;
    }

    .footer .secition3 .history #his5btn{
        top: 41.5%;
    }

    .footer .secition3 .history #his6btn{
        top: 53%;
        left: -260%;
    }

    .footer .secition3 .history #his7btn{
        top: 63%;
    }

    .footer .secition4{
        transform: rotate(-8deg) translateX(0%) translateY(-15%);
    }

    .footer .secition4 .mask .foo-logo{
        transform: rotate(8deg) translate(-63%,-100%);
    }

    .footer .secition4 .mask .contact{
        transform: rotate(8deg) translate(-74%,-87%);
    }

    .footer .secition4 .mask .contact div h1{
        font-size: 28px;
    }

    .footer .secition4 .mask .contact div h2{
        font-size: 20px;
    }

    .footer .secition4 .mask .contact div span{
        font-size: 16px;
    }
}

@media screen and (max-device-width:1280px) and (max-device-height:960px){

    .idea{
        height: 80vh;
    }

    .idea2 .hide2{
        height: 275%;
    }

    .map .world{
        top: -93%;
    }
}


@media screen and (max-device-width:1280px) and (max-device-height:800px){
    .idea{
        height: 105vh;
    }

    .idea .hide1 .img2{
        top: -2%;
    }

    .idea .img3{
        top: 97%;
    }

    .product .secition1{
        transform: rotate(-8deg) translateX(-5%) translateY(30%);
    }

    .idea2{
        height: 40vh;
    }

    .idea2 .hide2{
        top: -91%;
    }

    .idea2 .img4{
        width: 40%;
        left: 13%;
    }

    .shop .secition2{
        transform: rotate(8deg) translateX(-4%) translateY(35%);
    }

    #slides2 .img1{
        background-position-y:-150px; 
    }

    #slides2 .img2{
        background-position-y:-150px; 
    }

    #slides2 .img3{
        background-position-y:-150px; 
    }

    #slides2 .img4{
        background-position-y:-150px; 
    }

    .map{
        height: 45vh;
    }

    .footer .secition3 .history .time{
        top: 35%;
    }

    .footer .secition3 .history .time .timeline{
        height: 95%;
    }

    .footer .secition3 .history #his1btn{
        top: -2.5%;
    }

    .footer .secition3 .history #his2btn{
        top: 10.7%;
        left: -270%;
    }

    .footer .secition3 .history #his3btn{
        top: 23%;
    }

    .footer .secition3 .history #his4btn{
        top: 36.4%;
        left: -270%;
    }

    .footer .secition3 .history #his5btn{
        top: 48.9%;
    }

    .footer .secition3 .history #his6btn{
        top: 62%;
        left: -270%;
    }

    .footer .secition3 .history #his7btn{
        top: 74.4%;
    }
}

@media screen and (max-device-width:1280px) and (max-device-height:768px){

    .idea{
        height: 112vh;
    }

    .idea .img3{
        top: 103%;
    }

    .idea2 .hide2{
        top: -99%;
    }

    .product .secition1{
        transform: rotate(-8deg) translateX(-5%) translateY(20%);
    }

    .shop .secition2{
        transform: rotate(8deg) translateX(-4%) translateY(25%)
    }

    .map{
        height: 50vh;
    }
}

@media screen and (max-device-width:1280px) and (max-device-height:720px){
    .idea{
        height: 125vh;
    }

    .idea2 .hide2{
        top: -101%;
    }

    .map{
        height: 55vh;
    }

    .footer .secition3 .history .time{
        top: 30%;
    }

    .footer .secition3 .history .time .timeline{
        height: 105%;
    }

    .footer .secition3 .history #his1btn{
        top: -3.2%;
    }

    .footer .secition3 .history #his2btn{
        top: 11.5%;
    }

    .footer .secition3 .history #his3btn{
        top: 25.3%;
    }

    .footer .secition3 .history #his4btn{
        top: 39.9%;
    }

    .footer .secition3 .history #his5btn{
        top: 53.5%;
    }

    .footer .secition3 .history #his6btn{
        top: 68.3%;
    }

    .footer .secition3 .history #his7btn{
        top: 82.4%;
    }
}

@media screen and (max-width:1152px){

    .idea2 .hide2{
        top: -148%;
    }

    .footer .secition3 .history #his1btn{
        top: -2.5%;
    }

    .footer .secition3 .history #his2btn{
        top: 9%;
        left: -300%
    }

    .footer .secition3 .history #his3btn{
        top: 19.3%;
    }

    .footer .secition3 .history #his4btn{
        top: 30.4%;
        left: -300%
    }

    .footer .secition3 .history #his5btn{
        top: 40.7%;
    }

    .footer .secition3 .history #his6btn{
        top: 52.1%;
        left: -300%
    }

    .footer .secition3 .history #his7btn{
        top: 62.5%;
    }

    .footer .secition4 .mask .contact div h1{
        font-size: 26px;
    }
}

@media all and (max-width:1024px){

    .idea{
        height: 77vh;
    }

    .idea .word{
        width: 35%;
    }

    .idea .word2{
        width: 35%;
        margin-top: 31%;
    }

    .idea .img3{
        top: 112%;
    }

    .product .secition1{
        transform: rotate(-8deg) translateX(-5%) translateY(22%);
    }

    .idea2{
        height: 25vh;
    }

    .idea2 .hide2{
        height: 295%;
        top: -175%;
    }

    .idea2 .img4{
        width: 43%;
    }

    .idea2 .intro3 span{
        font-size: 20px;
    }

    .idea2 .intro3 span:nth-child(1){
        top: -45px;
    }

    .idea2 .intro3 span:nth-child(2){
        top: -10px;
    }

    .idea2 .intro3 span:nth-child(3){
        top: 25px;
    }

    .idea2 .intro3 span:nth-child(4){
        top: 60px;
    }

    .idea2 .intro3 span:nth-child(5){
        top: 95px;
    }

    .idea2 .intro3 span:nth-child(6){
        top: 130px;
    }

    .idea2 .intro3 span:nth-child(7){
        top: 165px;
    }

    .idea2 .intro3 span:nth-child(8){
        top: 200px;
    }

    .idea2 .intro3 span:nth-child(9){
        top: 235px;
    }

    .idea2 .intro3 h1{
        font-size: 35px;
        top: 265px;
        left: 30.5%;
    }

    #slides2 .img1 a{
        font-size: 45px;
    }

    #slides2 .img2 a{
        font-size: 45px;
    }

    #slides2 .img3 a{
        font-size: 45px;
    }

    #slides2 .img4 a{
        font-size: 45px;
    }

    .map{
        height: 35vh;
    }

    .map .world{
        top: -98%;
    }

    .footer .secition3 .history #his1btn{
        font-size: 30px;
        top: -2.5%;
    }

    .footer .secition3 .history #his2btn{
        font-size: 30px;
        top: 11%;
        left: -320%
    }

    .footer .secition3 .history #his3btn{
        font-size: 30px;
        top: 23.3%;
    }

    .footer .secition3 .history #his4btn{
        font-size: 30px;
        top: 36.4%;
        left: -320%
    }

    .footer .secition3 .history #his5btn{
        font-size: 30px;
        top: 48.7%;
    }

    .footer .secition3 .history #his6btn{
        font-size: 30px;
        top: 62.1%;
        left: -320%
    }

    .footer .secition3 .history #his7btn{
        font-size: 30px;
        top: 74.5%;
    }

    .footer .secition4 .mask .contact div h1{
        font-size: 23px;
    }

    .footer .secition4 .mask .contact div h2{
        font-size: 18px;
    }

    .footer .secition4 .mask .contact div span{
        font-size: 15px;
    }
}