@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    outline: 0;
}

body {
    font-family: "Microsoft YaHei", "SimSun", Arial, Helvetica, sans-serif3;
    FONT-SIZE: 12px;
    color: #000;
    background-color: #f1f3f7;
    /* min-width: 1900px; */
}

h1, h2, h3 {
    margin: 0;
}

li {
    list-style: none;
}

table {
    height: inherit;
}

a {
    TEXT-DECORATION: none;
}

a:hover {
    color: #2B7DBC;
    text-decoration: none;
}

.STYLE1 {
    color: #1E5494;
    font-weight: bold;
}

.STYLE2 {
    color: #1E5494;
}

.clear {
    clear: both;
}

img {
    border: 0 none;
    /*前面的0是针对ie6和ie7的兼容，后面的none是针对标准浏览器的*/
    display: block;
    /*清除图片下方出现几像素的空白间隙*/
    -ms-interpolation-mode: bicubic;
    /*图像失真不现象*/
    -webkit-interpolation-mode: bicubic;
    -moz-interpolation-mode: bicubic;
}

.rights {
    padding: 20px;
    overflow: hidden;
    /* margin-left: 220px; */
    margin-left: 250px;
}

.hd {
    position: relative;
    background: #3498DB;
    color: #fff;
    padding: 10px 12px 10px 15px;
    overflow: auto;
}

.hd a {
    color: #fff;
    padding-top: 13px;
}

.hd a:hover {
    color: #e9f2f7;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    display: inline-block;
    clear: both;
    padding: 0;
    height: inherit;
    /*position: absolute;

top: 17px;*/
}

.hd-right {
    float: right;
}

.hd-right a, .nava a {
    float: left;
    padding: 0 5px;
    font-size: 13px;
}

.showmarq {
    float: left;
    width: 462px;
    margin-left: 50px;
}

.nava {
    overflow: auto;
    clear: both;
    margin: 0 auto;
    width: 788px;
    /* border: 1px solid; */
}

.navleft {
    float: left;
    /* background: #F2F2F2; */
    /* border-right: 1px solid #B7D5DF; */
    min-height: 100%;
    height: auto;
    position: relative;
    /* width: 220px; */
    width: 250px;
}

.navleft:before {
    content: "";
    display: block;
    /* width: 222px; */
    width: 252px;
    position: fixed;
    bottom: 0;
    top: 0px;
    z-index: -1;
    background-color: #e8ebf2;
    border: 1px solid #dce1e4;
    border: 2px solid #dce1e4;
    border-width: 0 2px 0 0;
}

.menu {
    /* background-color: #f9f9f9; */
    /* font-family: 'Open Sans'; */
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
}

.menu li {
    /* border-top: 1px solid #fcfcfc; */
    /* border-bottom: 1px solid #e5e5e5; */
    overflow: auto;
}

.menu li a {
    display: block;
    height: 44px;
    line-height: 44px;
    padding: 0 16px 0 53px;
    /* background-color: #f9f9f9; */
    color: #333;
    font-size: 13px;
    position: relative;
    text-decoration: none !important;
}

.menu li a .drop-icon {
    color: #868b98;
    font-size: 12px;
    margin-top: -6px;
    position: absolute;
    right: 16px;
    top: 50%;
    -webkit-transition: -webkit-transform 0.2s ease-in-out 0.1s;
    transition: -webkit-transform 0.2s ease-in-out 0.1s;
    transition: transform 0.2s ease-in-out 0.1s;
    transition: transform 0.2s ease-in-out 0.1s, -webkit-transform 0.2s ease-in-out 0.1s;
}

.drop-iconchk {
    color: #16191c !important;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.menu li a:hover {
    background-color: #FFF;
    color: #3498DB;
}

.submenu li a:hover {
    background-color: transparent;
}

.menu li:first-child {
    border-top: 0;
}

.menu li a:hover:before {
    display: block;
    content: "";
    position: absolute;
    top: -1px;
    bottom: 0;
    left: 0;
    width: 3px;
    max-width: 3px;
    overflow: hidden;
    background-color: #3498DB;
}

.dropdown-toggle {
    color: #2b7dbc;
    font-weight: bold;
    position: relative;
}

.icon-angle-down {
    position: absolute;
    /* width: 15px; */
    right: 0px;
    top: -1px;
}

.menu li a:hover .icon-angle-down:after {
    border-left: 6px solid #fff;
}

.icon-angle-down:after, .icon-angle-down:before {
    border: 6px solid transparent;
    border-left: 6px solid #F2F2F2;
    width: 0;
    height: 0;
    position: absolute;
    top: 13px;
    right: 10px;
    content: ' ';
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}

.icon-angle-down::before {
    border-left-color: #666666;
    /* right: 8px; */
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 15px;
}

.submenu {
    position: relative;
    /* background-color: #fff; */
    /* border-top: 1px solid #e5e5e5; */
    display: none;
    overflow: auto;
    clear: both;
}

.submenu li {
    height: 38px;
    line-height: 38px;
}

.submenu li:hover {
    background-color: #dbdee5;
}

.submenu li a {
    display: inline-block;
    float: left;
    /*color: #616161;*/
    color: #3498db;
    font-size: 13px;
    padding: 0 0 0 52px;
    height: 38px;
    line-height: 38px;
    text-decoration: none !important;
    font-weight: bold;
}

submenu {
    border-top: 1px dotted #e4e4e4;
    border-bottom: 0px;
    position: relative;
}

.submenu:before {
    /* content: ""; */
    display: block;
    position: absolute;
    z-index: 1;
    left: 15px;
    top: 0;
    bottom: 0;
    border: 1px dotted #9dbdd6;
    border-width: 0 0 0 1px;
}

.submenu li:before {
    /* content: ""; */
    display: inline-block;
    position: absolute;
    width: 7px;
    left: 20px;
    top: 17px;
    border-top: 1px dotted #9dbdd6;
}

.submenu li a:hover:before {
    display: block;
    content: "";
    position: absolute;
    top: -1px;
    bottom: 0;
    left: 0;
    width: 0px;
    overflow: hidden;
    background-color: #3382af;
}

.submenu li a:nth-child(3) {
    padding: 0 8px 0 0;
}

.xian {
    float: left;
    font-style: normal;
    line-height: 38px;
    padding: 0 5px;
}

.ico-left {
    color: #16191c;
    font-size: 16px !important;
    margin-top: -9px;
    position: absolute;
    left: 16px;
    top: 50%;
    -webkit-transition: -webkit-transform 0.2s ease-in-out 0.1s;
    transition: -webkit-transform 0.2s ease-in-out 0.1s;
    transition: transform 0.2s ease-in-out 0.1s;
    transition: transform 0.2s ease-in-out 0.1s, -webkit-transform 0.2s ease-in-out 0.1s;
    text-align: center;
}

.hd-right {}

.hd-right a {
    position: relative;
    /* overflow: auto; */
    font-size: 16px;
    padding: 11px 21px 0 10px;
}

.hd-right i {
    /* position: absolute; */
    /* bottom: 0; */
}

.hd-right span {
    background: none repeat scroll 0 0 #e74c3c;
    border-radius: 16px;
    background-clip: padding-box;
    color: #fff;
    display: block;
    font-size: 9px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    right: 12px;
    text-align: center;
    top: 1px;
    width: 16px;
}

.crumbs {
    position: relative;
    min-height: 41px;
    line-height: 40px;
    padding: 0 12px 0 0;
    display: block;
}

.crumbs a {
    padding: 0 4px;
    color: #3498DB;
    font-size: 14px;
}

.crumbs i {
    font-size: 22px;
}

.infobox {
    display: inline-block;
    width: 235px;
    height: 91px;
    color: #555;
    background-color: #FFF;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    margin: -1px -3px 0 -2px;
    padding: 22px 7px 10px 27px;
    border: 1px dotted;
    border-color: #d8d8d8!important;
    vertical-align: middle;
    text-align: left;
    position: relative;
    z-index: 1;
}

.infobox-green {
    color: #9abc32;
    border-color: #9abc32;
}

.infobox>.infobox-icon {
    display: inline-block;
    vertical-align: top;
    width: 44px;
}

.infobox>.infobox-icon>i {
    position: relative;
    -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    font-size: 24px;
    display: block;
    padding: 8px 0 8px;
    width: 40px;
    text-align: center;
    border-radius: 100%;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
}

.infobox>.infobox-data {
    display: inline-block;
    border: 0;
    border-top-width: 0;
    font-size: 13px;
    text-align: left;
    line-height: 21px;
    min-width: 130px;
    padding-left: 8px;
    position: relative;
    top: 0;
}

.infobox>.infobox-data>.infobox-data-number {
    display: block;
    font-size: 22px;
    margin: 2px 0 4px;
    position: relative;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}

.infobox .infobox-content {
    color: #555;
}

.infobox-green>.infobox-icon>i {
    background-color: #9abc32;
}

.infobox-blue>.infobox-icon>i {
    background-color: #6fb3e0;
}

.infobox-pink>.infobox-icon>i {
    background-color: #cb6fd7;
}

.infobox-red>.infobox-icon>i {
    background-color: #d53f40;
}

.infobox-blue2>.infobox-icon>i {
    background-color: #F79263;
}

.infobox-hui>.infobox-icon>i {
    background-color: #2ECC71;
}

.infobox-yellow>.infobox-icon>i {
    background-color: #F1C40F;
}

.infobox-huang>.infobox-icon>i {
    background-color: #3498DB;
}

.infobox-blue {
    color: #6fb3e0;
}

.infobox-pink {
    color: #cb6fd7;
}

.infobox-red {
    color: #d53f40;
}

.infobox-blue2 {
    color: #F79263;
}

.infobox-hui {
    color: #2ECC71;
}

.infobox-huang {
    color: #3498DB;
}

.infobox-yellow {
    color: #F1C40F;
}

.infogreen {
    font-size: 14px;
    border-radius: 0;
    /* color: #468847; */
    color: #555;
    background-color: #fff;
    padding: 1px 12px 8px 15px;
    /* line-height: 35px; */
    margin-bottom: 20px;
    /* border: 1px solid transparent; */
    border-radius: 4px;
    /* overflow: auto; */
    margin-left: 59%;
    border: 1px dotted #d8d8d8;
    min-height: 180px;
    overflow: auto;
}

.infogreen p {
    display: block;
    overflow: auto;
    margin: 13px 0 19px 0;
}

.infogreen span {
    float: left;
    display: inline-block;
    margin-right: 15px;
    width: 48.38%;
}

.infogreen .one span, .infogreen .one label {
    width: inherit;
}

.infogreen label {
    /* color: #555; */
    font-weight: bold;
    width: 125px;
    display: inline-block;
    text-align: right;
}

.infogreen em {
    font-style: normal;
}

.infobox-container {
    width: 59%;
    float: left;
    margin-bottom: 20px;
}

.infogreen span:last-child {
    margin-right: 0px;
}

.infogreen a {
    color: #F37605;
    font-weight: bold;
    margin-left: 15px;
}

.crackermap {
    background: #FFFFFF;
    /* box-shadow: 1px 1px 2px 0 #CCCCCC; */
    /* margin: 15px auto; */
    border-radius: 3px;
    background-clip: padding-box;
    overflow: auto;
    overflow-x: hidden;
    float: left;
    width: 935px;
    border: 1px solid #DDD;
}

.crackermap h2 {
    color: #3498DB;
    /* color: #344644; */
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    padding-left: 10px;
    /* background-color: #d0d8de; */
    line-height: 40px;
    border-bottom: 1px solid #DDD;
}

.crackermap h2 i {
    font-size: 18px;
    margin-right: 8px;
}

.bing {
    float: left;
    width: 50%;
    height: 320px;
}

.w100 {
    /* width: 1660px; */
    overflow: auto;
}

.login-form {
    width: 401px;
    /* padding-top: 100px; */
    margin: 0px auto;
    text-shadow: none;
    background: #F7F7F7;
    border: 1px solid #ddd;
    position: absolute;
    /* top: 30%; */
    top: 50%;
    /* left: 50%; */
    left: 50%;
    margin: -170px 0 0 -201px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0px 13px rgba(0, 0, 0, .3);
            box-shadow: 0 0px 13px rgba(0, 0, 0, .3);
}

.login-form form .form-area {
    padding: 30px 50px 40px 50px;
}

.login-form form .form-area .group {
    position: relative;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.form-control {
    height: 34px;
    /* border-radius: 3px; */
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
    /* background: red; */
    border: 1px solid #cad2db;
    /* border: 1px solid #BDC4C9; */
    background: #FFFFFF;
    display: block;
    -webkit-box-shadow: inset 0px 1px 0px #F1F0F1;
            box-shadow: inset 0px 1px 0px #F1F0F1;
    padding-left: 38px;
    padding-right: 9px;
    height: 40px;
    width: 100%;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.login-form form .form-area i {
    position: absolute;
    top: 12px;
    left: 13px;
    font-size: 16px;
    color: #C3C3C3;
}

.login-form form .form-area .btn {
    height: 42px;
    font-weight: 600;
    background-color: #399bff;
    background: -webkit-linear-gradient(top, #79BCF2, #399bff);
    color: #fff;
    font-size: 14px;
    padding: 7px 20px 7px 20px;
    border: none;
    border-radius: 3px;
    display: block;
    width: 100%;
    cursor: pointer;
}

.login-form form .form-area .btn:hover {
    background-color: #4da5ff;
    background: -webkit-linear-gradient(top, #399bff, #79BCF2);
}

.form-control:focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    transition: border linear .2s, -webkit-box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s, -webkit-box-shadow linear .2s;
    -moz-transition: border linear .2s, -moz-box-shadow linear .2s;
    -webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
    outline: none;
}

.loginbg {
    background: url(/public/common/images/login_bgx.gif);
}

.login-form h2 {
    /* background: #414141; */
    color: white;
    text-align: center;
    /* margin: -20px -20px 20px -20px; */
    /* padding: 15px; */
    text-transform: uppercase;
    /* font-size: 18px; */
    color: #76757B;
    font-size: 19px;
    line-height: 48px;
    font-family: "宋体";
    border-bottom: 1px solid #ddd;
}

.login-form .code {
    width: 72%;
    /* float: left; */
}

.login-form .codeimg {
    width: 67px;
    height: 31px;
    /* float: right; */
    margin-top: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

.main-box .main-box-header {
    min-height: 50px;
    padding: 10px 20px;
}

.main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
            box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    border-radius: 3px;
    background-clip: padding-box;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.main-box .main-box-body {
    padding: 0 20px 20px 20px;
}

.main-box .main-box-header h2 {
    color: #555;
    font-size: 19px;
}

.pdrg0 {
    padding-right: 0px;
}

form .error {
    font-weight: normal;
    font-size: 12px;
    color: red;
}

.menu-active {
    display: block;
}

/*****************************************ddkaishi************************************/

.font12 {
    font-size: 12px;
}

.font13 {
    font-size: 13px;
}

.font13n {
    font-size: 13px;
}

.font14 {
    font-size: 14px;
}

.font15 {
    font-size: 15px;
}

.dailis span {
    display: block;
}

.font13 td {
    padding: 5px 0;
}

.mgb5 {
    margin-bottom: 5px;
}

.mgb10 {
    margin-bottom: 10px;
}

.mgt10 {
    margin-top: 10px;
}

.pd5 {
    padding-bottom: 5px;
}

.pd10 {
    padding-bottom: 10px !important;
}

.pt10 {
    padding-top: 10px;
}

.rightsct {
    background-color: #fff;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    overflow: auto;
    overflow-x: hidden;
    /*float: left;
        width:auto;*/
}

.skintable {
    width: 100%
}

.skintable td {
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: inherit !important;
}

.skintable tr {
    background-color: #fff;
}

.skintable .m_title_ft td {
    font-weight: bold;
}

.skintable td input[type="button"] {
    height: inherit;
    line-height: initial;
}

.skintable th {
    text-align: center;
}

.skintable th a {
    color: #333;
}

.trinput td {
    text-align: left;
    font-size: 13px;
}

.lefttd td {
    text-align: left;
    padding-right: 53px;
    padding-bottom: 9px;
}

.trinput input, .trinput select {
    height: 27px;
    padding: 0px 6px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    background-clip: padding-box;
    border-color: #e7ebee;
    /* box-shadow: none; */
    font-size: 13px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    /*margin-right: 10px;*/
}

.groupninput {
    height: 23px;
    line-height: initial;
}

.zudan select {
    width: 63px;
}

.trinput textarea {
    padding: 5px 6px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    background-clip: padding-box;
    border-color: #e7ebee;
    /* box-shadow: none; */
    font-size: 13px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    resize: none;
}

.trinput input[type="submit"]:hover, .trinput input[type="button"]:hover {
    background-color: #3498dbd1;
}

.trinput input[type="submit"], .trinput input[type="button"] {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: 0px;
    padding: 0 9px
}

.trinput input[type="text"]:focus, .trinput textarea:focus {
    outline: 0;
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.resulttable {
    width: 631px;
    /*	width: 674px;*/
}

.resulttable td {
    padding-bottom: 10px;
}

.dailitr {
    height: 38px;
    font-size: 14px;
}

.dailiforms {
    margin-left: 148px;
    border: 1px solid #ddd;
    /* box-shadow: 2px 2px 2px 2px #CCCCCC; */
    padding: 20px 0 20px 30px;
    display: inline-block;
    border-radius: 5px;
}

.bank_edit {
    width: 302px !important;
    float: left;
    margin-left: 300px;
}

.addgents {
    font-size: 15px;
    margin-left: 191px;
    /*border: 1px solid #ddd;*/
    /* box-shadow: 2px 2px 2px 2px #CCCCCC; */
    padding: 20px 86px 27px 69px;
    /* display: inline-block; */
    border-radius: 5px;
    float: left;
}

.addgents .name {
    /* float: left; */
    display: inline-block;
    text-align: CENTER;
    /* display: block; */
    font-size: 13px;
    text-align: right;
    line-height: 27px;
    float: left;
    padding-right: 15px;
    overflow: auto;
    width: 157px;
}

.addgents .namp {
    float: left;
    color: red;
}

.addgents input, .addgents textarea, .addgents select {
    display: block;
    float: left;
    margin-right: 12px;
}

.addgents .item {
    clear: both;
    overflow: auto;
    margin-bottom: 12px;
}

.addgents .gs, .addgents .ji {
    float: left;
    margin-right: 12px;
}

.addgents .agenbtnct {
    padding-top: 15px;
}

.addgents .agenbtnct .ct {
    width: 161px;
    margin: 0 auto;
}

.pro_title {
    color: #1E5494;
    font-size: 15px;
    padding-bottom: 5px;
    /*display: inline-block;*/
}

.inputct td {
    text-align: center;
}

.ctinfo td {
    line-height: 23px;
}

.whites {
    padding-bottom: 20px;
    display: block;
}

.line35 td {
    padding: 8px 0;
}

.line35 td img {
    margin: 0 auto;
}

.settable {
    color: #333;
}

.settable td {
    font-size: 14px;
    padding-bottom: 10px;
}

.settable input, .settable select {
    height: 27px;
    padding: 0px 6px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    background-clip: padding-box;
    border-color: #e7ebee;
    /* box-shadow: none; */
    font-size: 13px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    margin-right: 10px;
}

.settable input[type="radio"] {
    margin: 0!important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    vertical-align: middle;
}

.settable input[type="checkbox"] {
    height: inherit;
    vertical-align: inherit;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
}

.settable textarea {
    padding: 0px 6px;
    /* font-size: 14px; */
    color: #555;
    height: 112px;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    background-clip: padding-box;
    border-color: #e7ebee;
    /* box-shadow: none; */
    font-size: 13px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    margin-right: 10px;
    resize: none;
}

.settable input[type="submit"], .settable input[type="button"] {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: 0px;
    padding: 0 9px;
}

.settable input[type="submit"]:hover, .settable input[type="button"]:hover {
    background-color: #3498dbd1;
}

.settable input[type="text"]:focus, .settable textarea:focus {
    outline: 0;
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.w720 {
    width: 720px !important;
}

.w736 {
    width: 737px!important;
}

.w1000 {
    width: 1000px !important;
}

.w850 {
    width: 850px !important;
}

.w900 {
    width: 900px !important;
}

.w836 {
    width: 930px !important;
    /*width:836px !important;*/
}

.w60 {
    width: 751px;
}

.w170 {
    width: 170px;
}

.w1070 {
    width: 1070px;
}

.pdr10 {
    padding-right: 10px;
}

.w1300 {
    width: 1300px !important;
}

.addhistorybank {
    /*        margin-left: 400px;*/
    width: 500px;
}

.w450 {
    width: 450px !important;
    ;
}

.img-img {
    margin: 0 !important;
}

.pdrgt5 {
    text-align: right;
    padding-right: 5px !important;
}

.pdrgt15 {
    text-align: right;
    padding-right: 15px !important;
}

.pdt10 {
    padding-top: 10px;
}

.blod {
    font-weight: bold;
}

.addhistorybank .form-group input, .addhistorybank .form-group textarea, .addhistorybank .form-group select {
    padding: 6px 6px 6px 14px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    background-clip: padding-box;
    border-color: #e7ebee;
    /* box-shadow: none; */
    font-size: 13px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    margin-right: 10px;
    height: 35px;
}

.addhistorybank .form-group input[type="radio"], .addhistorybank .form-group input[type="checkbox"] {
    height: inherit;
    vertical-align: middle;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    margin: 0 5px 0 5px !important;
}

.addhistorybank .form-group input[type="text"]:focus, .addhistorybank .form-group textarea:focus {
    outline: 0;
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.addhistorybank .form-group textarea {
    height: 90px;
    resize: none;
}

.addhistorybank .form-group select {
    width: 119px;
    padding-left: 8px;
}

.addhistorybank .form-group input [type="checkbox"] {
    cursor: pointer;
    position: absolute;
    width: 22px;
    height: 22px;
    left: 1px;
    top: 1px;
    background: #ffffff;
    content: "";
    border: 1px solid #e7ebee;
    border-radius: 3px;
    background-clip: padding-box;
}

.addhistorybank .btn-primary {
    display: block;
    margin: 0 auto;
}

.namecolor td {
    line-height: 35px;
    padding: 0;
}

.relat td {
    position: relative;
}

.righta {
    text-align: right;
    /* display: block; */
    position: absolute;
    right: 14px;
}

.bder0 {
    border-top: 0 !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
}

.bderr0 {
    border-right: 0 !important;
}

.bordercolor td {
    border: 1px solid #ddd !important;
    padding: 8px 15px !important;
}

input:-moz-read-only {
    background-color: #F2F2F2 !important;
}

input:read-only {
    background-color: #F2F2F2 !important;
}

.cksum {
    font-size: 13px;
    padding: 10px 0;
}

.huikuanmange input {
    padding: 5px !important;
}

.drop-iconchks {
    color: #16191c !important;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.chkshow {
    display: block;
}

.pagination {
    float: right;
    padding-right: 83px;
}

.chaxunip {
    width: auto;
    float: left;
}

.chaxunip textarea {
    float: left;
}

.chaxunip p {
    overflow: auto;
    clear: both;
}

.chaxunip span {
    width: 173px;
}

.chaxunip label {
    margin-left: 10px;
}

.chaxunip span, .chaxunip label {
    line-height: 48px;
    display: inline-block;
    float: left;
}

.chaxunip input {
    display: block;
    margin: 0 auto 7px auto;
    clear: both;
}

.flg {
    float: left;
}

.frg {
    float: right;
}

.tabft13 {
    font-size: 13px;
}

.tabft13 span {
    margin-right: 15px;
    /* overflow: auto; */
    display: inline-block;
    vertical-align: top;
}

.mgauto {
    display: block;
    margin: 0 auto;
}

.middle {
    text-align: center;
}

.pdrg15 {
    padding-right: 15px;
}

.spanmg0 span {
    margin-right: 0px;
}

.mgl61 {
    margin-left: 70px;
}

.border0 {
    border: 0px !important;
}

.pd11 {
    padding: 0 0 0 11px;
}

/****************************************ddkaiend**************************************/