body {
	font-family: Verdana, Geneva, sans-serif;font-size : 12px;color : #333;
	margin : 0;padding : 0;
	background : #f1f1f1;
	scrollbar-face-color: #f6f6f6;scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #cccccc; scrollbar-3dlight-color: #cccccc; 
	scrollbar-arrow-color: #330000; scrollbar-track-color: #f6f6f6; 
	scrollbar-darkshadow-color: #ffffff;
	line-height : 20px;
	border-bottom: 5px solid #73A2D6;
	border-top: 5px solid #73A2D6;
	border-right: 5px solid #73A2D6;
}

p, ol, ul, dl,dt, dd, li, div {
	font-family: Verdana, Geneva, sans-serif;
	font-size : 12px;
	line-height : 180%;
	margin : 0;
	padding : 0;
	overflow : hidden;
}
dt,dd,li {text-align : left;list-style : none;}
h1, h2, h3, h4, h5, h6, ul, ol, li {display : block;}

form, embed {display : inline;margin : 0;padding : 0;}
img, a img {vertical-align : middle;border : none;font-size:12px;}
a {font-family: Verdana, Geneva, sans-serif;color : #111;text-decoration : none;font-size:12px;}
a:hover {font-family: Verdana, Geneva, sans-serif;color : #f30;text-decoration : underline;font-size:12px;}
.font12{ font-size:12px;}
/*
.submit80{ padding:0; margin:0; border:0; background-image:url(../submit.gif); width:80px; height:24px; font-size:12px; color:#3C4D82;}
*/
.hong{ color:#F00}
.lan{ color:#00F}
div#pageMain {
	margin: 0 0px;
	width:auto;height: 100%;
	background:#f1f1f1;
	text-align : center;
	overflow:auto;
	font-size:12px;
}

div#mainBody {
	font-size:12px;
	overflow: auto;margin:auto;
	width:auto;height: 100%;
	border-width: 1px;
	border-top: 0px solid threedhighlight;
	border-left: 0px solid threedhighlight;
	border-right: 0px solid threedshadow;
	border-bottom: 0px solid threedshadow;
	padding:5px 0px;
}

div#pageMain dl {
	margin: 0px 5px;padding : 0px;
	width:auto;border-right:1px solid #ccc;
	/*border: medium none; */
	background: #e0e0e0 url(../leftbg.gif) repeat-y left;
	clear: both;
}
div#pageMain dt {font-weight : bold;letter-spacing: 1px;}
div#pageMain dd {
	padding: 0px; margin: 0px; border: 0px;
	background: #eee;
	border-top: 1px solid #fff;
	border-left: 5px solid #e0e0e0;
	padding-right:3px;
}
div#pageMain li {
	padding: 0px; margin: 0px; border: 0px;
	text-align: left;
	text-indent: 10px;
}
.menu_title, .menu_title1, .menu_title2 {
	padding: 0px; margin: 0px; border: 0px; padding-left: 15px;
	border-left: 5px solid #103667; 
	border-top: 1px solid #ffffff; 
	border-bottom: 1px solid #c0c0c0;
	width: auto;text-align: left;
	line-height: 26px;
	height: 26px;
	background: #e0e0e0;
	cursor:pointer!important;
	cursor:crosshair;
	display:block;
}
.menu_title {
	background: url(../arrow001.gif) no-repeat right center;
}
.menu_title1{
	background: url(../arrow001.gif) no-repeat right center;
}
.menu_title2{
	background: url(../arrow002.gif) no-repeat right center;
}
dl#systemInfo {border-bottom:1px solid #ccc;}

#pageMain li,#table1 td {text-decoration:none;font-size:12px;color:#000;height:20px;filter:dropshadow(offX=1,offY=1,color=#FFFFFF);}
#pageMain li,#table1 td a{text-decoration:none;font-size:12px;color:#000;height:20px;filter:dropshadow(offX=1,offY=1,color=#FFFFFF);}
#pageMain li,#table1 td a:hover{text-decoration:none;font-size:12px;color:#000;height:20px;filter:dropshadow(offX=1,offY=1,color=#FFFFFF);}

/**分页样式**/
.Pagination {margin:0 auto;}
.Pagination a {margin-left:2px; padding:3px 7px;}
.Pagination .dot{ border:medium none; padding:4px 8px}
.Pagination a:link, .Pagination a:visited {border:1px solid #dedede;color:#696969;text-decoration:none;}
.Pagination a:hover, .Pagination a:active, .Pagination a.current:link, .Pagination a.current:visited {border:1px solid #dedede;color:#fff; background-color:#900; background-image:none; border:#900 solid 1px;}
.Pagination .selectBar{ border:#dedede solid 1px; font-size:12px; width:95px; height:21px; line-height:21px; margin-left:10px; display:inline;}
.Pagination a.tips{_padding:4px 7px 1px;}

/**按钮样式**/
.lans{ padding:0px 5px; background-color:#036; color:#FFF; height:25px; line-height:25px; margin-right:5px;display:block; float:left;}
.hongs{ padding:0px 5px; background-color: #900; color:#FFF; height:25px; line-height:25px; margin-right:5px;display:block; float:left;}
.heis{ padding:0px 5px; background-color: #000; color:#FFF; height:25px; line-height:25px; margin-right:5px;display:block; float:left;}
.blues{ padding:0px 5px; background-color: #00F; color:#FFF; height:25px; line-height:25px;display:block;cursor:hand}
.greens{ padding:0px 5px; background-color: #060; color:#FFF; height:25px; line-height:25px;display:block;cursor:hand}
.reds{ padding:0px 5px; background-color: #F00; color:#FFF; height:25px; line-height:25px;display:block;cursor:hand}
.blacks{ padding:0px 5px; background-color: #000; color:#FFF; height:25px; line-height:25px;display:block;cursor:hand}
.kl8 .number{
	margin:0 0;
	background:url(../images/kl8Num.png)  no-repeat;
	display: flex;
	height:25px;
	background-position:0 -1350px;
}
.kl8 .num1{
	background-position:0 -1375px;
}
.kl8 .num2{
	background-position:0 -1325px;
}
.kl8 .num3{
	background-position:0 -1275px;
}
.kl8 .num4{
	background-position:0 -1300px;
}
.kl8 .num5{
	background-position:0 -1475px;
}
.kl8 .num6{
	background-position:0 -1500px;
}
.kl8 .num7{
	background-position:0 -1450px;
}
.kl8 .num8{
	background-position:0 -1400px;
}
.kl8 .num9{
	background-position:0 -1425px;
}
.kl8 .num10{
	background-position:0 -1100px;
}
.kl8 .num11{
	background-position:0 -1125px;
}
.kl8 .num12{
	background-position:0 -1075px;
}
.kl8 .num13{
	background-position:0 -1025px;
}
.kl8 .num14{
	background-position:0 -1050px;
}
.kl8 .num15{
	background-position:0 -1225px;
}
.kl8 .num16{
	background-position:0 -1250px;
}
.kl8 .num17{
	background-position:0 -1200px;
}
.kl8 .num18{
	background-position:0 -1150px;
}
.kl8 .num19{
	background-position:0 -1175px;
}
.kl8 .num20{
	background-position:0 -1850px;
}
.kl8 .num21{
	background-position:0 -1875px;
}
.kl8 .num22{
	background-position:0 -1825px;
}
.kl8 .num23{
	background-position:0 -1775px;
}
.kl8 .num24{
	background-position:0 -1800px;
}
.kl8 .num25{
	background-position:0 -1975px;
}
.kl8 .num26{
	background-position:0 -2000px;
}
.kl8 .num27{
	background-position:0 -1950px;
}
.kl8 .num28{
	background-position:0 -1900px;
}
.kl8 .num29{
	background-position:0 -1925px;
}
.kl8 .num30{
	background-position:0 -1600px;
}
.kl8 .num31{
	background-position:0 -1625px;
}
.kl8 .num32{
	background-position:0 -1575px;
}
.kl8 .num33{
	background-position:0 -1525px;
}
.kl8 .num34{
	background-position:0 -1550px;
}
.kl8 .num35{
	background-position:0 -1725px;
}
.kl8 .num36{
	background-position:0 -1750px;
}
.kl8 .num37{
	background-position:0 -1700px;
}
.kl8 .num38{
	background-position:0 -1650px;
}
.kl8 .num39{
	background-position:0 -1675px;
}
.kl8 .num40{
	background-position:0 -1000px;
}
.kl8 .num41{
	background-position:0 -325px;
}
.kl8 .num42{
	background-position:0 -350px;
}
.kl8 .num43{
	background-position:0 -300px;
}
.kl8 .num44{
	background-position:0 -250px;
}
.kl8 .num45{
	background-position:0 -275px;
}
.kl8 .num46{
	background-position:0 -450px;
}
.kl8 .num47{
	background-position:0 -475px;
}
.kl8 .num48{
	background-position:0 -425px;
}
.kl8 .num49{
	background-position:0 -375px;
}
.kl8 .num50{
	background-position:0 -400px;
}
.kl8 .num51{
	background-position:0 -75px;
}
.kl8 .num52{
	background-position:0 -100px;
}
.kl8 .num53{
	background-position:0 -50px;
}
.kl8 .num54{
	background-position:0 0px;
}
.kl8 .num55{
	background-position:0 -25px;
}
.kl8 .num56{
	background-position:0 -200px;
}
.kl8 .num57{
	background-position:0 -225px;
}
.kl8 .num58{
	background-position:0 -175px;
}
.kl8 .num59{
	background-position:0 -125px;
}
.kl8 .num60{
	background-position:0 -150px;
}
.kl8 .num61{
	background-position:0 -825px;
}
.kl8 .num62{
	background-position:0 -850px;
}
.kl8 .num63{
	background-position:0 -800px;
}
.kl8 .num64{
	background-position:0 -750px;
}
.kl8 .num65{
	background-position:0 -775px;
}
.kl8 .num66{
	background-position:0 -950px;
}
.kl8 .num67{
	background-position:0 -975px;
}
.kl8 .num68{
	background-position:0 -925px;
}
.kl8 .num69{
	background-position:0 -875px;
}
.kl8 .num70{
	background-position:0 -900px;
}
.kl8 .num71{
	background-position:0 -575px;
}
.kl8 .num72{
	background-position:0 -600px;
}
.kl8 .num73{
	background-position:0 -550px;
}
.kl8 .num74{
	background-position:0 -500px;
}
.kl8 .num75{
	background-position:0 -525px;
}
.kl8 .num76{
	background-position:0 -700px;
}
.kl8 .num77{
	background-position:0 -725px;
}
.kl8 .num78{
	background-position:0 -675px;
}
.kl8 .num79{
	background-position:0 -625px;
}
.kl8 .num80{
	background-position:0 -650px;
}