@charset "UTF-8";

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.bolder {
  font-weight: bolder;
}

.word-break {
  width: 100%;
  word-break: break-all;
}

.writing-mode {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.d-none {
  display: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-flow-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-content-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.justify-content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-content-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.align-items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.align-items-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: Microsoft JhengHei, '微軟正黑體', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.pl-1 {
  padding-left: 0.3125rem;
}

.pr-1 {
  padding-right: 0.3125rem;
}

.pt-1 {
  padding-top: 0.3125rem;
}

.pb-1 {
  padding-bottom: 0.3125rem;
}

.pl-2 {
  padding-left: 0.625rem;
}

.pr-2 {
  padding-right: 0.625rem;
}

.pt-2 {
  padding-top: 0.625rem;
}

.pb-2 {
  padding-bottom: 0.625rem;
}

.pl-3 {
  padding-left: 0.9375rem;
}

.pr-3 {
  padding-right: 0.9375rem;
}

.pt-3 {
  padding-top: 0.9375rem;
}

.pb-3 {
  padding-bottom: 0.9375rem;
}

.pl-4 {
  padding-left: 1.25rem;
}

.pr-4 {
  padding-right: 1.25rem;
}

.pt-4 {
  padding-top: 1.25rem;
}

.pb-4 {
  padding-bottom: 1.25rem;
}

.pl-5 {
  padding-left: 1.5625rem;
}

.pr-5 {
  padding-right: 1.5625rem;
}

.pt-5 {
  padding-top: 1.5625rem;
}

.pb-5 {
  padding-bottom: 1.5625rem;
}

.pl-6 {
  padding-left: 1.875rem;
}

.pr-6 {
  padding-right: 1.875rem;
}

.pt-6 {
  padding-top: 1.875rem;
}

.pb-6 {
  padding-bottom: 1.875rem;
}

.pl-7 {
  padding-left: 2.1875rem;
}

.pr-7 {
  padding-right: 2.1875rem;
}

.pt-7 {
  padding-top: 2.1875rem;
}

.pb-7 {
  padding-bottom: 2.1875rem;
}

.pl-8 {
  padding-left: 2.5rem;
}

.pr-8 {
  padding-right: 2.5rem;
}

.pt-8 {
  padding-top: 2.5rem;
}

.pb-8 {
  padding-bottom: 2.5rem;
}

.pl-9 {
  padding-left: 2.8125rem;
}

.pr-9 {
  padding-right: 2.8125rem;
}

.pt-9 {
  padding-top: 2.8125rem;
}

.pb-9 {
  padding-bottom: 2.8125rem;
}

.pl-10 {
  padding-left: 3.125rem;
}

.pr-10 {
  padding-right: 3.125rem;
}

.pt-10 {
  padding-top: 3.125rem;
}

.pb-10 {
  padding-bottom: 3.125rem;
}

.ml-1 {
  margin-left: 0.3125rem;
}

.mr-1 {
  margin-right: 0.3125rem;
}

.mt-1 {
  margin-top: 0.3125rem;
}

.mb-1 {
  margin-bottom: 0.3125rem;
}

.ml-2 {
  margin-left: 0.625rem;
}

.mr-2 {
  margin-right: 0.625rem;
}

.mt-2 {
  margin-top: 0.625rem;
}

.mb-2 {
  margin-bottom: 0.625rem;
}

.ml-3 {
  margin-left: 0.9375rem;
}

.mr-3 {
  margin-right: 0.9375rem;
}

.mt-3 {
  margin-top: 0.9375rem;
}

.mb-3 {
  margin-bottom: 0.9375rem;
}

.ml-4 {
  margin-left: 1.25rem;
}

.mr-4 {
  margin-right: 1.25rem;
}

.mt-4 {
  margin-top: 1.25rem;
}

.mb-4 {
  margin-bottom: 1.25rem;
}

.ml-5 {
  margin-left: 1.5625rem;
}

.mr-5 {
  margin-right: 1.5625rem;
}

.mt-5 {
  margin-top: 1.5625rem;
}

.mb-5 {
  margin-bottom: 1.5625rem;
}

.ml-6 {
  margin-left: 1.875rem;
}

.mr-6 {
  margin-right: 1.875rem;
}

.mt-6 {
  margin-top: 1.875rem;
}

.mb-6 {
  margin-bottom: 1.875rem;
}

.ml-7 {
  margin-left: 2.1875rem;
}

.mr-7 {
  margin-right: 2.1875rem;
}

.mt-7 {
  margin-top: 2.1875rem;
}

.mb-7 {
  margin-bottom: 2.1875rem;
}

.ml-8 {
  margin-left: 2.5rem;
}

.mr-8 {
  margin-right: 2.5rem;
}

.mt-8 {
  margin-top: 2.5rem;
}

.mb-8 {
  margin-bottom: 2.5rem;
}

.ml-9 {
  margin-left: 2.8125rem;
}

.mr-9 {
  margin-right: 2.8125rem;
}

.mt-9 {
  margin-top: 2.8125rem;
}

.mb-9 {
  margin-bottom: 2.8125rem;
}

.ml-10 {
  margin-left: 3.125rem;
}

.mr-10 {
  margin-right: 3.125rem;
}

.mt-10 {
  margin-top: 3.125rem;
}

.mb-10 {
  margin-bottom: 3.125rem;
}

.bgwhite {
  background-color: #f2f2f2;
}

.w-50 {
  width: 50%;
}

.colorRed {
  color: #ff0000;
}

.layui-layer-dialog .layui-layer-content {
  font-size: 1rem;
}

.layer_confirm .layui-layer-content {
  font-size: 1rem;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 4.438vw;
}

header {
  width: 100%;
  background: #1e1e1e;
  color: #c29c51;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

header nav {
  height: 3.75rem;
  padding: 0 0.9375rem;
}

header .logo {
  width: 9.6875rem;
}

header .usernameinfo .iconNav {
  text-align: center;
  color: #c29c51;
}

.iconNav+.iconNav {
  margin-left: 0.9375rem;
}

header .usernameinfo .iconNav a {
  display: block;
}

header .usernameinfo .iconNav img {
  width: 1.5625rem;
  margin: 0 auto;
}

header .usernameinfo .iconNav p {
  margin-top: 0.3125rem;
}

header .usernameinfo p {
  font-size: 1rem;
  color: #c29c51;
}

.logined+.logined {
  margin-top: 0.3125rem;
}

header .usernameinfo .userNavicon {
  width: 1.25rem;
  margin-right: 0.3125rem;
}

main {
  background-size: cover;
  background-position: center;
}

footer {
  width: 100%;
  height: 5.125rem;
  background: #000;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}

footer .footerItem {
  width: 20%;
  color: #9b9a99;
  text-align: center;
}

footer .footerItem a {
  display: block;
}

footer .footerItem .icon {
  width: 2.5rem;
  margin: 0 auto;
}

footer .footerItem p {
  font-size: 1rem;
  margin-top: 0.3125rem;
}

footer .footerItem a {
  color: #9b9a99;
}

footer .footerItem a:active {
  color: #9b9a99;
  background-color: transparent;
}

main {
  background-image: url("../images/index/bg.png");
  padding: 3.75rem 0 5.125rem 0;
}

.indexSection {
  width: 100vw;
  height: calc(100vh - 8.875rem);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.indexSection .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.indexSection .parallax-window {
  background: transparent;
}

.indexSection .title1,
.indexSection .title2,
.indexSection .title3 {
  width: 21.25rem;
}

.indexSection .bottom {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  overflow: hidden;
}

.indexSection1 .bottom {
  bottom: 1rem;
}

.indexSection .bottom .line {
  width: 0.125rem;
  height: 5rem;
  margin: 0 auto;
  background: #FFF;
}

.indexSection .bottom .next {
  display: block;
  width: 8.75rem;
  height: 2.25rem;
  line-height: 2rem;
  text-align: center;
  font-size: 1.125rem;
  color: #FFF;
  text-shadow: 0 0 0.25rem #00000066;
  border-radius: 1.6875rem;
  background: #FFFFFF4D;
  border: 0.125rem solid #FFF;
  margin-top: 0.625rem;
  cursor: pointer;
}

.indexSection1 .bg {
  top: 0;
  left: 0;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  background: url(../../../themes/saiban/assets/images/sport/index-banner.jpg) no-repeat left bottom;
  background-size: cover;
  -webkit-animation: blur 2s 0.3s forwards;
  animation: blur 2s 0.3s forwards;
}

@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes blur {
  0% {
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

.indexSection2 .bg {
  top: 0;
  left: 0;
  background: url(../../../themes/saiban/assets/images/sport/index-banner02.jpg) no-repeat left bottom;
  background-size: cover;
}

.indexSection3 .bg {
  top: 0;
  left: 0;
  background: url(../../../themes/saiban/assets/images/sport/index-banner03.jpg) no-repeat left bottom;
  background-size: cover;
}

.marquee {
  padding: 10px;
  background-color: #373534;
  color: #fff;
}

.marquee .notice-icon {
  width: 5%;
}

.marquee .notice-marquee {
  width: 95%;
  font-size: 22.4px;
}

.marquee .notice-marquee marquee {
  width: 95%;
}

.content a {
  color: #f2f2f2;
  display: block;
  font-weight: bold;
}

.content .act {
  position: relative;
}

.content .act:after {
  content: '';
  width: 97.5%;
  height: 6px;
  position: absolute;
  bottom: 8px;
  left: 2.5px;
  background-color: #c29c51;
}

.menu {
  padding: 5px 20px 0;
}

.tabInner {
  padding: 0 20px;
  background-color: rgba(194, 156, 81, 0.5);
}

.tabInner>div {
  display: none;
}

.card {
  width: 31.25%;
  text-align: center;
  padding: 5px 2.5px;
}

.sport-card {
  width: 65%;
}

.card .cardinner {
  min-height: 170px;
  background-image: url("../images/index/gamelist/box.png");
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  padding: 15px 0;
}

.card .cardinner p {
  font-size: 30px;
  font-weight: bold;
}

.card .icon {
  margin: 0 auto 10px;
  width: 61.5%;
}

.sport-card .icon {
  width: 76.15%;
}

.contentBottom {
  margin: 30px 20px;
  padding: 0 0 15px;
  border-bottom: 2px solid #5b3506;
}

.contentBottom .item {
  width: 25%;
  text-align: center;
}

.contentBottom .item p {
  font-size: 25.2px;
}

.contentBottom .icon {
  width: 50%;
  margin: 0 auto 10px;
}

.comInfo {
  width: 80%;
  margin: 0 auto;
  color: #9b9a99;
}

.comInfo .item {
  width: 25%;
}

.comInfo .item .icon {
  width: 50%;
  margin: 10px auto;
}

.comInfo .item p {
  font-size: 21px;
  text-align: center;
  color: rgba(194, 156, 81, 0.5);
}

.comInfo .footernode {
  margin-top: 10px;
  padding-bottom: 10px;
}

.comInfo .flag {
  width: 10%;
  margin: 0 10px;
}

.serviceQQ {
  font-size: 25.2px;
  color: #f2f2f2;
  font-weight: bold;
}

.layui-m-layerchild {
  font-size: 30px;
}

.imgAlert {
  width: 50%;
  height: auto;
}

.imgAlert .layui-m-layerchild {
  background-color: transparent;
}




/* ======================
    手機版 平台公告 彈跳視窗 
    ======================= */

.layui-layer {
  font-size: 1rem;
}

.layui-layer .layui-layer-title {
  font-size: 1.65em;
  font-weight: bold;
  text-shadow: 0 0 18px #7B5F15;
  text-align: center;
  position: relative;
  display: block;
  padding: 25px 15px;
  margin: 0;
  width: 100%;
  height: auto;
  background-color: #CAB272;
  color: #FFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.layui-layer .layui-layer-title:before {
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.4);
}

.layui-layer .card-header .btn {
  font-size: 0.95em;
  color: #545454;
  background: #FFF;
}

.layui-layer .card-body {
  font-size: 0.75em;
  line-height: 1.5;
  text-align: left;
}

.layui-layer .accordion {
  padding-left: 15px;
  padding-right: 15px;
}

.layui-layer .accordion * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.layui-layer .accordion .card {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  width: 100%;
  padding: 0;
  margin-top: 10px;
}

.layui-layer .accordion .card-header {
  position: relative;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, .03);
}

.layui-layer .accordion .card-body {
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding: 10px;
  background-color: #EFEFEF;
}

.layui-layer .accordion .card img {
  max-width: 100%;
}

.layui-layer .accordion .card h1 {
  font-size: 2rem;
}

.layui-layer .accordion .card h4 {
  font-size: 1.25rem;
}

.layui-layer .accordion .card h5 {
  font-size: 1.2rem;
}

.layui-layer .accordion .card h2 {
  font-size: 1.45rem;
}

.layui-layer .accordion .btn {
  position: relative;
  white-space: normal;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #FFF;
  overflow: hidden;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 12px 10px;
  padding-right: 70px;
  font-size: 0.95em;
  font-weight: bold;
  line-height: 1.5;
  width: 100%;
  text-align: left;
  border: 0;
  border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.layui-layer .accordion .icon-down {
  position: absolute;
  right: 0;
  top: 8px;
  width: 45px;
  height: 45px;
  pointer-events: none;
  margin: 0;
  background: url(/public/aomen/images/index/announcement/down.png) 50% 50% no-repeat;
  background-size: 26px;
  -webkit-transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -ms-transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.layui-layer .accordion .active .icon-down {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.layui-layer .layui-layer-setwin {
  top: 25px;
}

.layui-layer .layui-layer-setwin .layui-layer-close {
  width: 45px;
  height: 45px;
  margin: 0;
  background: url(/public/aomen/images/index/announcement/closeb.png) 50% 50% no-repeat;
  background-size: 43px;
}

.layui-anim {
  -webkit-animation-name: fade-in !important;
  animation-name: fade-in !important;
}

.layui-layer {
  transform: none !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}