
.confirm_mask {
    background: #000 none repeat scroll 0 0;
    opacity: 0.7;
}
.confirm_box {
    background: #eee none repeat scroll 0 0;
    border: 2px solid #666;
    border-radius: 3px;
    box-shadow: 0 2px 5px #333;
    font-size: 10pt;
    line-height: 0;
    margin: 20% 0 0;
}
#portal .confirm_box {
    margin: 50px 0 0;
}
.confirm_box .title {
    background: transparent url("/resource/img/pitaya/gradient.png") repeat-x scroll 0 0;
    color: #fff;
    display: block;
    height: 28px;
    line-height: 28px;
    margin: 1px;
    position: relative;
    text-shadow: 2px 2px #111111;
    width: auto;
}
.confirm_box .title .close {
    background: transparent url("/resource/img/pitaya/close.jpg") no-repeat scroll left top;
    border-radius: 2px;
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 10pt;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 4px;
    text-shadow: none;
    top: 4px;
    width: 20px;
}
.confirm_box .title .close:hover {
    background: transparent url("/resource/img/pitaya/close_over.jpg") no-repeat scroll left top;
}
.confirm_inner {
    background: #eee url("/resource/img/pitaya/q.png") no-repeat scroll 4px 8px;
    line-height: 11pt;
    margin: 0;
    min-height: 75px;
    padding: 0.5em 0.5em 0.5em 72px;
    text-align: left;
}
.confirm_box input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #2d3f57;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    color: white;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 3px;
    overflow: hidden;
    padding: 0 10px;
    text-decoration: none;
    text-overflow: ellipsis;
    text-shadow: 0 -1px 0 #3e5779;
    white-space: nowrap;
    width: auto;
}
.confirm_box input.YES {
    background-color: #50709a;
    background-image: linear-gradient(to bottom, #7c97bb 0%, #5a7caa 50%, #50709a 51%, #476489 100%);
}
.confirm_box input.NO {
    background-color: #e57a78;
    background-image: linear-gradient(to bottom, #e57a78, #dc504d 50%, #d83b38 51%, #ce2c28);
}
.confirm_mask {
}
.zoom_show {
    animation: 300ms ease 0s normal none 1 running boxzoomin;
}
.zoom_hide {
    animation: 150ms ease 0s normal none 1 running boxzoomout;
}
@keyframes boxzoomin {
0% {
    opacity: 0.25;
    transform: scale(0.2);
}
100% {
    opacity: 1;
    transform: scale(1);
}
}
@keyframes boxzoomin {
0% {
    opacity: 0.25;
    transform: scale(0.2);
}
100% {
    opacity: 1;
    transform: scale(1);
}
}
@keyframes boxzoomout {
0% {
    opacity: 1;
}
100% {
    opacity: 0.25;
}
}
@keyframes boxzoomout {
0% {
    opacity: 1;
}
100% {
    opacity: 0.25;
}
}
