.mbtop{
	display: flex;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.chiplist{
	width: 60%;
	display: flex;
	justify-content:space-between;

}
.chiplist li{
	width:18%;
	font-size: 21px;
	text-align: center;
	padding: 10px 0;
	background-color: #5b3506;
	color: #ffffff;
	border-radius: 10px;
}
.input-money{
	width: 35%;
	margin-left: auto;
}
.input-text{
	width: 100%;
	font-size: 21px;
	padding:10px 5px;
	border-radius: 10px;
	border:1px solid #5b3506;
}
.fast-sel{
	background-color: #f8d23c;
}
#nas_tabinner0 .fast-sel{
	background-color: #f8d23c;
}