@media only screen and (min-width: 430px) and (max-width: 500px) {
	body {
	 background: rgba(255, 255, 255, 0.8); 
	 /*background-color:#000;*/
	}

	.logo_img {
		display: block;
		margin: 20px 0 0 10px;
		width: 250px;
		height: 88px;
		float: left;
	}
	.logo_img{
    margin-top: 10px;
    margin-left: 10px;
    width: 250px;
    height: 88px;
	}
	.banner_img {
		height: auto;
	}

	.banner_img img {
		width: auto;
		height: 100%;
	}

	.h_lg,
	.h_pc,
	.h_split {
		width: auto;
		height: 36px;
		font-size: 1rem;
		margin: 0 0 0 3px;
		line-height: 109px;
	}

	.h_li {
		margin-top: 10px;
		margin-right: 0;
		float: left;

	}

	#h_menber {
		font-size: 22px;
		font-weight: bold;
		padding-right: 5px;
	}

	.font2 {
		font-size: 1rem;
	}

	.sortitem li img {
		width: 80px;
		height: 80px;
	}

	.sortitem li span {
		font-size: 21px;
		font-weight: 550;
	}

	.d_icon, .d_icon_img {
		width: 90px;
		height: 90px;
		background-size: cover;
	}

	.fund,
	.trsf,
	.msg,
	.pf,
	.cs {
		background: url(/public/aomen/img/home-icon-min.png) no-repeat;
	}

	.fund {
		background-position: 0px -92px;
	}

	.trsf {
		background-position: -90px -182px;
	}

	.msg {
		background-position: -180px -90px;
	}

	.pf {
		background-position: -272px -91px;
	}

	.fch {
		background: url(/public/aomen/img/account-menu-min.png) no-repeat;
		background-position: -276px 0px;
	}

	.cs {
		background-position: -91px -91px;
	}

	.ag,
	.bbin_icon,
	.agSport,
	.bbSport {
		background-position: center center !important;
		background-size: cover !important;
	}

	.d_icon_h {
		width: 90px;
		height: 90px;
		background-size: cover;
	}

	.d_name {
		font-size: 16px;
	}

	.cp15,
	.cp2,
	.cp3,
	.cp4,
	.cp5,
	.cp6,
	.cp7,
	.cp8,
	.cp9,
	.cp10,
	.cp11,
	.cp12,
	.cp14 {
		background-size: 90px 90px;
	}

	.foot_main {
		width: 100%;
	}

	.foot_ad {
		width: 450px;
	}
	.d_icon,
	.d_icon_img {
		width: 90px;
		height: 90px;
	}
}