#gray{width:100%;height:100%;background:rgba(0,0,0,0.3);position:fixed;top:0px;display:none;z-index:10000000;}

.popup2{
	width:85%; 
	max-width: 450px;
	height:auto;
	background-color:#fff;
	position:absolute;
	z-index:10000001;
	display:none;
	border:6px solid rgba(200,200,200,1);
	border-radius:3px;
	overflow:scroll;
}
.popup2 .top_nav{
	width:100%;
	height:3rem;
	background-color:#4975be;
	position:relative;
	cursor:move;
	z-index:10000002;
}
.popup2 .top_nav span{font:1rem/1rem 'microsoft yahei'; font-weight:bold; color:#FFFFFF;display:block;position:absolute;top:0.8rem;left:4.5rem;}

.popup2 .top_nav a.guanbi { background:url(/public/aomen/img/popup_guanbi.png) repeat 0px 0px; background-size:100% 200%; width:1.6rem; height: 1.6rem; display: block; position:absolute;top:0.6rem;right:0.6rem;cursor:pointer;}
.popup2 .top_nav a.guanbi span { display: none;}
.popup2 .min{width:98%;height:auto;padding:10px;}

	.tc{display: block;padding: 1em 1.5em;border: 3px solid #fff;font-weight: 700;margin: 50px auto;background:#1d7db1;color: #fff;}
	.tc a:hover{opacity: 0.6;}

.tc_login{width:100%;height:100%;background-color:#fff;}
.tc_login .left{width:100%; height:80%;}
.tc_login .right{width:100%; background-color:;}

.tc_login .right i{font-size:20px;color:#090;float:right;margin:15px 0 0px 0;}
.tc_login .right a{font:13px/18px 'microsoft yahei';color:#666;float:right;margin:16px 0 0px 6px;}
.tc_login .right a:hover{color:#06F;text-decoration: underline;}
.tc_login .right input{
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 40px;
    padding:0 0 0 34px;
	margin:10px 0px 0px 10px;
    transition: background 0.3s ease-in-out;
    width: 220px;
	float:right;
}
.tc_login .right input:focus {
    outline: none;
    border-color: #019A0D;
    box-shadow: 0 0 0px #019A0D;
}
.tc_login .right .input_yh{background:url(../images/tc_login_yonghu.jpg) no-repeat left top;}
.tc_login .right .input_mm{background:url(../images/tc_login_mima.jpg) no-repeat left top;}
.tc_login .right .input_yh:focus{background:url(../images/tc_login_yonghu2.jpg) no-repeat left top;}
.tc_login .right .input_mm:focus{background:url(../images/tc_login_mima2.jpg) no-repeat left top;}
.tc_login .right .button{
-webkit-appearance: none;
    background:#36a803;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 255px;
	padding:0 50px 0 50px;
	font-weight: bold;
	}
.tc_login .right .button:hover {

    background: #019A0D;
}
.tc_login .right dd{width:100%;height:30px;}
.tc_login .right dd a{font:12px/18px 'microsoft yahei';color:#06F;}
.tc_login .right dd a:hover{font:13px/18px 'microsoft yahei';color:#06F;text-decoration: underline;}
.tc_login .right hr{height:1px;border:none;border-top:1px dashed #E4E4E4;clear:both;margin:240px 0 5px 0px;}

.p_l_t{
	display:block;
	width:100%;
	height:2.5rem;
	font-size:1.2rem;
	line-height:2.5rem;
	overflow:hidden;
	border-bottom:1px solid #DDDDDD;
	color:#333333;
	text-decoration:none;
}
.p_l_t:hover, .p_l_t_hover{
	width:100%;
	background-color:#EEEEEE;
	border-right:0.2rem solid #4975be;
}
.p_l_t_d{
	color:#4975be;
	font-size:20px;
}
.p_r_t{
	color:#f4354a;
	text-align:center;
	font-weight:bold;
	margin:18px auto 18px auto;
}
.p_r_c{
	border-top:1px solid #DDDDDD;
	padding:0.5rem 0 0 0;
	/*max-height:10rem;*/
	overflow:scroll;
}
.p_r_c   p   img {
    width: 100% !important;
	height:100% !important;
}