@charset "utf-8";
.caipiaowrapbox-mid {
    width: 1000px;
    height: 750px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0px;
	background-color:rgba(0,0,0,0.2);
}

.caipiaowrapbox-mid div {
    display: block;
    width: 489px;
    height: 234px;
    float: left;
    margin-left: 7px;
    margin-top: 10px;
    _cursor: pointer;
    position: relative;
}

.caipiaowrapbox-mid .lotto-wrap-tt {
    background: url(img/lottery/cptt_bg.png) no-repeat;
}

.caipiaowrapbox-mid .lotto-wrap-jl {
    background: url(img/lottery/cpjl_bg.png) no-repeat;
}

.caipiaowrapbox-mid .lotto-wrap-vr {
    background: url(img/lottery/cpvr_bg.png) no-repeat;
}

.caipiaowrapbox-mid .lotto-wrap-sp {
    background: url(img/lottery/cpjqqd.png) no-repeat;
}

/* 電子遊藝 */
.caipiaowrapbox-mid .buyugame-wrap-aggame {
    background: url(img/lottery/buyugame01.png) no-repeat;
}
.caipiaowrapbox-mid .buyugame-wrap-yoplay {
    background: url(img/lottery/buyugame02.png) no-repeat;
}
.caipiaowrapbox-mid .buyugame-wrap-bbin {
    background: url(img/lottery/buyugame03.png) no-repeat;
}
.caipiaowrapbox-mid .buyugame-wrap-mg {
    background: url(img/lottery/buyugame04.png) no-repeat;
}

.caipiaowrapbox-mid .buyugame-wrap-pt {
    background: url(img/lottery/buyugame06.jpg) no-repeat;
}

.caipiaowrapbox-mid div .lotto-Convert {
    top: 170px;
    right: 60px;
    background: url(img/lottery/btn.png) no-repeat;
    position: absolute;
    display: block;
    width: 118px;
    height: 34px;
    cursor: pointer;
  
}


.caipiaowrapbox-mid div a.lotto-game {
    top: 170px;
    left: 60px;
    background: url(img/lottery/btn_game.png) no-repeat;
    position: absolute;
    display: block;
    width: 118px;
    height: 34px;
}

/* 電子遊藝 */
.caipiaowrapbox-mid div a.buyugame-game {
    top: 170px;
    left: 60px;
    background: url(img/lottery/btn_buyugame.png) no-repeat;
    position: absolute;
    display: block;
    width: 118px;
    height: 34px;
}
