/* ** 遊戲圖 共用樣式 ** 圖片顯示效果 Smarty 設定 ELE_GAMEIMG_EFFECT ** 遊戲形象(固定/變動) :
symbol_fixed / symbol_change ** 遊戲畫面(固定/變動) : screen_fixed / screen_change
*/
.ele-game-wrap {
    clear: both;
    min-height: 300px;
}

.ele-game-layout {
    position: relative;
    float: left;
}

.ele-game-name {
    position: relative;
    z-index: 1;
}

.ele-game-name h3 {
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ele-game-img {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    width: 320px;
    height: 170px;
}

.ele-game-pt-casino .ele-game-img {
    cursor: default;
}

.ele-game-img img {
    display: block;
    position: absolute;
    top: 0;
    bottom: auto;
    width: 320px;
}

.th .ctl-btn-rule {
    font-size: 16px;
}
/* ** 共用-廳的icon ** 圖片預設 Smarty
   設定 ELE_GAMEHALL_DEF */
.ele-hall-icon {
    float: left;
    margin-left: 5px;
    margin-right: 2px;
    height: 30px;
    width: 30px;
    background: url("../img/game_title_icon.png")  no-repeat left top;
}

.ele-hall-43 {
    width: 30px;
    background: url("../img/hall-43.png")  no-repeat left top;
}
 /*盈豐*/
 .ele-hall-45 {
    width: 30px;
    background: url("../img/hall-45.png") no-repeat left top;
} 
/*新葡*/
.ele-hall-47 {
    width: 30px;
    background: url("../img/hall-47.png") no-repeat left top;
} 
/*TT*/
.ele-hall-3D {
    width: 30px;
    background: url("../img/hall-3d.png")  no-repeat left top;
}
 /*3D*/
 .ele-hall-PT {
    width: 30px;
    background: url("../img/hall-pt.png") no-repeat left top;
}
 /*PT*/ /* ** 共用 狀態的icon */
 .ele-game-status {
    position: absolute;
    top: 0;
    right: 0;
    width: 92px;
    height: 62px;
}

.status-First {
    background: url("../img/comingsoon.png")  no-repeat left top;
}

.status-New {
    background: url("../img/new-left.png") no-repeat left top;
}

.status-NewBonus {
    background: url("../img/newbonus.png")  no-repeat left top;
}

.status-Recommend {
    background: url("../img/recommend.png") no-repeat left top;
}
/* ** 共用 操作功能列表 */
.ele-game-ctl-wrap {
    position: absolute;
    height: 0;
    overflow: hidden;
}

.ele-game-ctl-links {
    display: none;
}
/* ** 共用 工具列的icon */
 .ele-game-tool {
    line-height: 30px;
}

a.tool-btn-comingsoon {
    float: left;
    margin-left: 8px;
    color: #FFF;
}

.tool-btn-favorite {
    float: right;
    margin-right: 8px;
}

a.favorite-icon-N, a.favorite-icon-N:hover, a.favorite-icon-Y {
    color: #100805;
}

a.favorite-icon-N:hover, a.favorite-icon-Y {
    color: #FAC71C;
}

/* ** 共用 小彩金 */
 .ele-game-sub-jp .minorJP {
    display: none;
    text-align: right;
    font: normal bold 20px/36px 'Palatino','Palatino Linotype','Georgia',serif;
}

.ele-game-sub-jp .minorJP:before {
    float: left;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.5);
}

.ele-game-sub-jp .JP:before, .ele-game-sub-jp .JP3D:before {
    content: 'Minor';
}

.ele-game-sub-jp .JPPT:before {
    content: 'Jackpot';
}

.ele-game-sub-jp .minorJP.JP3D {
    height: 0;
    overflow: hidden;
}

.mega-menu ul, .mega-menu ul li {
    list-style: none;
}

.mega-menu ul {
    position: relative;
    padding: 0;
    margin: 0;
}

.mega-menu ul li ul {
    display: none;
}

.mega-menu .sub {
    display: none;
}

.mega-menu .sub ul {
    display: block;
}

.game-menu {
    font: normal 13px Arial, sans-serif;
    line-height: 16px;
}

.game-menu ul.mega-menu, .game-menu ul.mega-menu, .game-menu ul.mega-menu li {
    margin: 0;
    padding: 0;
    border: none;
}

.game-menu ul.mega-menu {
    position: relative;
}

.game-menu ul.mega-menu li {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: bold;
}

.game-menu ul.mega-menu li a {
    transition: all 0.2s ease;
    float: left;
    display: block;
    color: #EBDC7B;
    text-decoration: none;
}

.game-menu ul.mega-menu li.nav-normal > a {
    white-space: nowrap;
}

.game-menu ul.mega-menu li a.dc-mega {
    position: relative;
}

.game-menu ul.mega-menu li.mega-hover.nav-normal a, .game-menu ul.mega-menu li.nav-normal a:hover {
    background: #EEB619;
    text-shadow: none;
}

.game-menu ul.mega-menu li a:hover {
    color: #433730;
    text-shadow: none;
}

.game-menu ul.mega-menu li.mega-hover a .dc-mega-icon {
    background-position: 0 100%;
}

.game-menu ul.mega-menu li .sub-container {
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
    position: absolute;
    background: #EEB619;
    padding-left: 20px;
}

.game-menu ul.mega-menu li .sub {
    background: #EEB619;
    padding: 20px 20px 20px 10px;
}

.game-menu ul.mega-menu li .sub-container.mega .sub {
    padding: 20px 20px 10px 0;
}

.game-menu ul.mega-menu li .sub .row {
    width: 100%;
    overflow: hidden;
    clear: both;
    margin-bottom: 10px;
}

.game-menu ul.mega-menu li .sub li {
    list-style: none;
    float: none;
    width: 190px;
    font-size: 1em;
    font-weight: normal;
}

.game-menu ul.mega-menu li .sub li.mega-hdr {
    margin: 0 10px 0 0;
    float: left;
}

.game-menu ul.mega-menu li .sub li.mega-hdr.last {
    margin-right: 0;
}

.game-menu ul.mega-menu li .sub a {
    background: none;
    border: none;
    color: #333;
    padding: 7px 10px;
    display: block;
    float: none;
    text-decoration: none;
    font-size: 0.9em;
}

.game-menu ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a {
    padding: 5px 5px 5px 15px;
    margin-bottom: 5px;
    background: #F5D375;
    text-transform: uppercase;
    font-weight: bold;
    color: #643E1B;
}

.game-menu ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a:hover {
    text-shadow: none;
}

.game-menu ul.mega-menu .sub li.mega-hdr li a {
    padding: 4px 10px 4px 4px;
    font-weight: normal;
}

.game-menu ul.mega-menu .sub li.mega-hdr li a span {
    float: right;
    color: #333;
}

.game-menu ul.mega-menu .sub li.mega-hdr li a span.ele-game-num-hover {
    text-shadow: none;
    color: #FFF;
}

.game-menu ul.mega-menu .sub li.mega-hdr li a:hover {
    color: #FFF;
    background: #3C2418;
}

.game-menu ul.mega-menu .sub ul li {
    padding-right: 0;
}

.game-menu ul.mega-menu li a .nav-icon {
    color: #EBDC7B;
}

.game-menu ul.mega-menu li a:hover > .nav-icon {
    color: #433730;
}

.game-menu ul.mega-menu li:hover a.dc-mega {
    color: #433730;
}

.game-menu ul.mega-menu li:hover a.dc-mega > .nav-icon {
    color: #433730;
}

.game-menu ul.mega-menu .sub li.mega-hdr li a .nav-sub-icon {
    margin-right: 4px;
    color: #333;
}

.game-menu ul.mega-menu .sub li.mega-hdr li a:hover > .nav-sub-icon {
    color: #FFF;
}

.game-menu ul.mega-menu li.ele-active {
    background: #EEB619;
    cursor: default;
}

.game-menu ul.mega-menu li.ele-active > a {
    color: #433730;
    cursor: default;
}

.game-menu ul.mega-menu li.ele-active a .nav-icon {
    color: #433730;
    cursor: default;
}

.game-menu ul.mega-menu li .sub li.mega-hdr a.ele-active {
    cursor: default;
}

.game-menu ul.mega-menu .sub li.mega-hdr li a.ele-active {
    color: #FFF;
    background: #3C2418;
    cursor: default;
}

.game-menu ul.mega-menu .sub li.mega-hdr li a.ele-active span {
    color: #FFF;
    cursor: default;
}

.game-menu ul.mega-menu .sub li.mega-hdr li a.ele-active .nav-sub-icon {
    color: #FFF;
    cursor: default;
}

.ele-active .fa-trophy:before {
    content: "\f091" !important;
}

.ele-active .fa-plus:before {
    content: "\f067" !important;
}

.ele-active .fa-star:before {
    content: "\f005" !important;
}

.ele-active .fa-google-wallet:before {
    content: "\f1ee" !important;
}

a.ele-active .fa-chevron-right:before {
    content: "\f054" !important;
}

/*** 共用 遊戲導覽列 */
.game .game-menu {
    display: none;
}

.game-menu-title {
    display: inline-block;
    vertical-align: top;
}

.ele-game-nav {
    display: inline-block;
    vertical-align: middle;
}
/*刮刮樂*/
.ele-game-nav a i.nav-icon-scratch {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 28px;
    transition: all 0.2s ease;
    background: url("../img/scratch_icon.png") 0 0 no-repeat;
}
/*PT*/
.ele-game-nav a i.nav-icon-pt {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    transition: all 0.2s ease;
    background: url("../img/pt_icon.png") 0 0 no-repeat;
    /* 新增news icon用 */
    padding-left: 8px;
    background-position: 10px 0;
    /* 新增news icon用 */
}
/*NEWS*/
.ele-game-nav a i.nav-icon-news {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 33px;
    transition: all 0.2s ease;
    background: url("../img/new_icon.gif") 0 0 no-repeat;
}
/* ** 共用 遊戲搜尋 */
#ele-search-wrap {
    position: relative;
    float: right;
}

#ele-search-wrap .ele-search-input {
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #9A7B6C;
}

#ele-search-wrap ::-webkit-input-placeholder {
 /* WebKit browsers */
    color: #604C40;
}

#ele-search-wrap :-ms-input-placeholder {
 /* Internet Explorer 10+ */
    color: #604C40;
}

#ele-search-wrap ::-moz-input-placeholder {
 /* moz browsers */
    color: #604C40;
}

#ele-search-wrap label {
    position: absolute;
    cursor: text;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #604C40;
}

#ele-search-wrap .ele-search-btn {
    float: right;
    height: 100%;
    cursor: pointer;
    outline: none;
}

@media all and (-webkit-bb:0) {
    input[type="search"]::-webkit-search-cancel-button {
            -webkit-appearance: none;
    }
}

.game .ele-game-wrap {
    margin: 20px auto;
    width: 996px;
}
.ele-game-layout {
    margin: 8px 6px;
    width: 320px;
    background: url("../img/layout/game_bg.png") no-repeat left top;
}
.ele-game-name h3 {
    width: 210px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
}
.ele-game-layout .ele-hall-icon{
    background-position: center;
}
.ele-game-ctl-wrap,
.ele-game-ctl-tools,
.ele-game-ctl-links {
    width: 100%;
}
.ele-game-img,
.ele-game-ctl-wrap {
    bottom: 2px;
}
.ele-game-ctl-tools {
    height: 30px;
    background: url("../img/layout/game_toolbar.png") no-repeat left bottom;
}
/*
** 各站 遊戲連結
*/
.ele-game-link {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
}
.ele-game-ctl-links a{
    color:#000;
    background:#CCC;
    background:rgba(204, 204, 204, 0.8);
}
.ele-game-ctl-links a:hover{
    color:#000;
    background:#DDD;
    background:rgba(204, 204, 204, 0.9);
}
.ele-game-ctl-links a.ctl-btn-enter{
    color:#FFF;
    background:#643E1B;
    background:rgba(100, 62, 27, 0.8);
}
.ele-game-ctl-links a.ctl-btn-enter:hover{
    color:#FFF;
    background:#433730;
    background:rgba(67, 55, 48, 0.9);
}

#ele-game-wrap {
    float: left;
}

#ele-game-space {
    float: left;
    width: 996px;
    position: relative;
}

#mainBody_bg {
    margin: 0px auto;
    width: 1000px;
}