@charset "utf-8";

/* CSS Document */
body {
    background: #00757c;
    /* background: #00757c url(../mg/fond.jpg) no-repeat top center; */
    font-family: "微软雅黑", "Microsoft YaHei", "宋体";
    width: 100%;
    min-width: 1000px;
}

A {
    color: #c44d4d;
    text-decoration: none
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

.clear {
    clear: both;
    height: 0;
}

.floatL,
.left {
    float: left;
}

.floatR,
.right {
    float: right;
}

.red {
    color: #FF9900;
}

* {
    margin: 0px;
    padding: 0px;
}

ol,
ul {
    list-style: none;
}

img {
    border: 0;
}

img,
div {}

#mainall {
    margin: 0;
    padding: 0;
    height: auto;
}

#mainBody {
    margin: 0;
    padding: 0;
    height: auto;
}

#header {
    width: 1000px;
    margin: 0px auto;
    height: 167px;
    padding: 0;
}

#headtop {
    margin: 0;
    padding: 0;
    height: 130px;
    position: relative
}

#header-logo {
    width: 189px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    margin-left: 20px;
    margin-top: 10px;
}

#headright {
    float: right;
    width: 779px;
    height: auto;
    position: relative;
}

#hdselect {
    float: right;
    padding-right: 70px;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    text-align: right;
    background: url(../mg/flag.png) no-repeat right;
    color: #376178;
    font-family: "微软雅黑";
    color: #FFF
}

#hdselect a {
    color: #FFF;
}

#hdselect a:hover {
    text-decoration: underline;
    color: #F00
}

#loginbox {
    width: 779px;
    height: 27px;
    float: left;
}

#Loginbtnreg {
    float: left;
    width: 80px;
    height: 28px;
    cursor: pointer;
    display: inline;
    overflow: hidden;
}

#Loginbtnreg a {
    display: block;
    width: 80px;
    height: 28px;
    background: #ff6c00;
    line-height: 28px;
    text-align: center
}

#Loginbtnreg a:hover {
    background: #ff862d
}

#loginarea {
    float: left;
    width: 265px;
    overflow: hidden;
    margin-left: 290px;
    display: inline;
}

.logintxt {}

.za_text {
    float: left;
    margin: 0 2px;
    width: 125px;
    height: 28px;
    border: 0;
    background: #12444b;
    color: #69dbee;
    text-indent: 10px
}


.logintxt1 {
    float: left;
    overflow: hidden;
    display: inline;
}

.Loginbtn {
    float: left;
    background: #ff0100;
    color: #FFF;
    width: 59px;
    height: 28px;
    margin-left: 3px;
    border: 0
}

.Loginbtn:hover {
    background: #ff4544
}

#Loginbtnpwd {
    float: left;
    height: 28px;
    line-height: 28px;
    width: 78px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    display: inline;
    overflow: hidden;
}

#Loginbtnpwd a {
    color: #FFFFFF;
}

#Loginbtnpwd a:hover {
    text-decoration: underline;
}

#userinfo {
    width: 528px;
    padding-left: 16px;
    height: 68px;
    line-height: 34px;
    color: #00273d;
    background: url(../mg/userinfo.png) no-repeat;
    position: absolute;
    right: 0px;
    top: 130px;
}

#userinfo a {
    color: #00273d;
}

#btnlogout {
    position: absolute;
    top: 5px;
    right: 8px;
    width: 77px;
    height: 24px;
}

#btnlogout a {
    display: block;
    width: 77px;
    height: 24px;
    background: url(../mg/btnlogout.png) no-repeat;
}

#btnlogout a:hover {
    background: url(../mg/btnlogout.png) no-repeat;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}

/* 主選單 */
#L-Menual {
    margin: 0;
    height: 80px;
    zoom: 1;
    padding-top: 12px;
}

#L-Menual ul {
    margin: 0;
    padding: 0;
    width: 782px;
}

#L-Menual ul li {
    float: left;
    display: inline;
    width: 94px;
    height: 80px;
    position: relative;
}

#L-Menual ul li a {
    margin: 0 auto;
    width: 94px;
    height: 80px;
    line-height: 40px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #002f4a;
    font-weight: bold;
    overflow: hidden;
    font-size: 14px;
}

.homeNav {
    background: url(../mg/menu.png) no-repeat -3px 0
}

.homeNav.active,
.homeNav:hover {
    background-position: -3px -98px
}

.sportsNav {
    background: url(../mg/menu.png) no-repeat -6pc 0
}

.sportsNav.active,
.sportsNav:hover {
    background-position: -6pc -98px
}

.liveNav {
    background: url(../mg/menu.png) no-repeat -190px 0
}

.liveNav.active,
.liveNav:hover {
    background-position: -190px -98px
}

.slotsNav {
    background: url(../mg/menu.png) no-repeat -283px 0
}

.slotsNav.active,
.slotsNav:hover {
    background-position: -283px -98px
}

.lotteryNav {
    background: url(../mg/menu.png) no-repeat -377px 0
}

.lotteryNav.active,
.lotteryNav:hover {
    background-position: -377px -98px
}

.cooperationNav {
    background: url(../mg/menu.png) no-repeat -470px 0
}

.cooperationNav.active,
.cooperationNav:hover {
    background-position: -470px -98px
}

.promotionsNav {
    background: url(../mg/menu.png) no-repeat -564px 0
}

.promotionsNav.active,
.promotionsNav:hover {
    background-position: -564px -98px
}

.onlineServiceNav {
    background: url(../mg/menu.png) no-repeat -657px 0
}

.onlineServiceNav.active,
.onlineServiceNav:hover {
    background-position: -657px -98px
}

#L-Menual ul li.LS-youhui span {
    width: 23px;
    height: 20px;
    background: url(../mg/hot.png) no-repeat;
    position: absolute;
    top: -4px;
    right: 3px;
}


#L-Sub {
    position: relative;
    z-index: 9999;
    clear: both;
}

#L-Sub div {
    display: none;
    position: absolute;
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
    z-index: 100;
}

#L-Sub div a {
    float: left;
    display: block;
    background: url(../mg/sub.gif) 32px repeat-x;
    padding: 0 4px;
    color: #FFFFE4;
    text-decoration: none;
    font-size: 12px;
}

#L-Sub div a:hover {
    color: #F2E1B0;
}

#L-Sub span {
    display: block;
    float: left;
    width: 7px;
    height: 32px;
}

#L-Sub span.subbg-left {
    background: url(../mg/sub.gif) no-repeat;
}

#L-Sub span.subbg-right {
    background: url(../mg/sub.gif) no-repeat left bottom;
}

/*  header end */
/*#page-footer { margin:0;height:auto; }
center 22px; font-size:14px;  }
.honbet { float:left; width:150px; height:60px; }
#page-footer .honbet a { display:block; width:150px; height:60px;}
#ArticleList { margin:0; padding:0; height:40px; line-height:40px; overflow:hidden; text-align:center; color:#000000;  }
#ArticleList a {color:#000000;}
#ArticleList a:hover { text-decoration:underline;}
#footermsg { margin:0; padding:0; height:20px; line-height:20px; overflow:hidden; text-align:center; color:#000000;  }

#footerbottom { margin:0; height:329px; background:url(footerbottom.jpg) repeat-x center top;}
#footer1 { width:1000px;  padding-top:40px; margin:0 auto; line-height:20px;  font-size:12px; font-family:'微软雅黑';}
.font1 { font-size:12px; color:#0793e4;}*/
.footer {
    width: 1000px;
    margin: 0 auto;
    height: auto;
    padding-top: 85px;
    overflow: hidden;
}

.bgfooter {
    background: url(../mg/bgfooter.jpg) no-repeat bottom center;
    padding-top: 90px;
}

.hr {
    width: 64pc;
    height: 2px;
    background: url(../mg/lineHr.jpg) no-repeat
}

.bodyIndex .footer {
    padding-top: 90pt
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .bodyIndex .footer {
        padding-top: 75pt !important
    }
}

.footer .navFooter {
    float: left;
    margin: 0 0 30px 330px;
    line-height: 25px;
    height: 25px;
    overflow: hidden
}

.footer .navFooter {
    color: #7ef9ff
}

.footer .navFooter a {
    color: #7ef9ff
}

.footer .navFooter a:hover {
    color: #fff
}

.footer img {
    float: left
}

.footer .copyR {
    float: left;
    color: #7ef9ff;
    line-height: 38px
}

.footer .logoPartner li {
    float: left;
    padding: 10px 6px
}

.footer .colFooter li {
    float: left;
    padding: 0 6px;
    width: 236px
}

.footer .colFooter li h2 {
    padding: 20px 0 10px;
    color: #ff0;
    font-weight: 400;
    font-size: 1pc
}

.footer .colFooter li h3 {
    padding-top: 20px;
    color: #7ef9ff;
    font-size: 9pt
}

.footer .colFooter li p {
    color: #7ef9ff
}

.iconTop {
    width: 100%;
    height: 5pc;
    background: url(../mg/footerIndex.jpg) no-repeat bottom center;
    color: #fff;
    font: 400 9pt/20px SimSun, 微软雅黑, 宋体
}

.iconTop a {
    display: block;
    padding-top: 25px;
    color: #ff0;
    font-size: 1pc;
    font-family: Arial, Helvetica, sans-serif
}

.iconTop a,
.iconTop p {
    text-align: center
}

/* footer end */
#hdpublic {
    float: left;
    width: 750px;
    height: 252px;
}

#wrapindex {
    margin: 0 auto;
    height: auto;
    width: 1000px;
    overflow: hidden;
}

#flashbox {
    height: 437px;
    width: 750px;
    float: left;
    margin-left: 10px;
}

#ad-flash {
    width: 550px;
    height: 300px;
    float: right
}

#indexbox {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 60px;
}

#newsbg {
    float: left;
    margin: 75px 0 0 30px;
    width: 195px;
    height: 75px;
    color: #FFF;
}

#newsbg h2 {
    padding: 0 0 0 25px;
    height: 9pt;
    background: url(../mg/_sprite.png) no-repeat 0 -19px;
    color: #ff0;
    font-weight: 400;
    font-size: 14px;
    line-height: 9pt
}

#newsbg p marquee {
    height: 75pt
}

#newsbg p {
    margin: 2pc 0 0;
    width: 195px
}

.boxLeft {
    float: left;
}

.boxLeft li {
    padding: 5px 0;
    width: 228px;
    background: url(../mg/lineLeft.jpg) no-repeat
}

.boxLeft li:first-child {
    background: 0
}

.slide {
    float: left;
    margin-left: 5px;
}

#container {
    position: relative;
    z-index: 0;
    margin: 0 auto
}

#products {
    height: 271px;
    background: url(../mg/bgSlide.png) no-repeat
}

#products_example {
    position: relative;
    height: 265px
}

#products .slides_container {
    position: relative;
    float: left;
    padding: 4px 0 0 5px;
    width: 541px;
    height: 271px
}

.slides_container a {
    display: block;
    width: 525px;
    height: 255px
}

#products .pagination {
    float: left;
    margin: 0 0 0 -6px;
    width: 225px;
    background: url(../mg/bgPagination.jpg) no-repeat
}

#products .pagination li {
    float: left;
    list-style: none
}

#products .pagination li a {
    float: left;
    display: block;
    width: 211px;
    height: 66px;
    color: #fff;
    text-decoration: none;
    text-indent: 25px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Microsoft YaHei;
    line-height: 65px
}

#products .pagination li.current a {
    margin-left: -10px;
    width: 225px;
    background: #83f9ff;
    box-shadow: 0 5px 5px #333;
    color: #333;
    text-indent: 40px;
    opacity: .7;
    filter: alpha(opacity=70)
}




#firstgame {
    margin: 0;
    height: 226px;
    margin-top: 14px;
    position: relative;
    background: url(firstgame.png) no-repeat left bottom;
}

#f1 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 226px;
    width: 197px;
    z-index: 1;
}

#f1 a {
    display: block;
    height: 226px;
    width: 197px;
    background: url(../mg/f1.png) no-repeat;
}

#f1 a:hover {
    background: url(../mg/f1.png) no-repeat;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}

#f2 {
    position: absolute;
    top: 0px;
    left: 177px;
    height: 226px;
    width: 211px;
    z-index: 2;
}

#f2 a {
    display: block;
    height: 226px;
    width: 211px;
    background: url(../mg/f2.png) no-repeat;
}

#f2 a:hover {
    background: url(../mg/f2.png) no-repeat;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}

#f3 {
    position: absolute;
    top: 0px;
    left: 371px;
    width: 245px;
    height: 226px;
    z-index: 3;
}

#f3 a {
    display: block;
    width: 245px;
    height: 226px;
    background: url(../mg/f3.png) no-repeat;
}

#f3 a:hover {
    background: url(../mg/f3.png) no-repeat;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}

#f4 {
    position: absolute;
    top: 0px;
    left: 603px;
    width: 210px;
    height: 226px;
    z-index: 3;
}

#f4 a {
    display: block;
    width: 210px;
    height: 226px;
    background: url(../mg/f4.png) no-repeat;
}

#f4 a:hover {
    background: url(../mg/f4.png) no-repeat;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}

#f5 {
    position: absolute;
    top: 0px;
    right: 2px;
    width: 205px;
    height: 226px;
    z-index: 3;
}

#f5 a {
    display: block;
    width: 205px;
    height: 226px;
    background: url(../mg/f5.png) no-repeat;
}

#f5 a:hover {
    background: url(../mg/f5.png) no-repeat;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}

/*index end */

/*subIMG title*/
#center {
    margin: 0;
    padding: 0;
    height: auto;
    overflow: hidden;
}

#wrapbox {
    margin: 0;
    padding: 0;
    height: auto;
}

#wrapw {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 10px;
    /* background: #002f32 */
    background: #262626; 
}

#vistop {
    margin: 0;
    height: 22px;
    background: url(../mg/vistop.png) no-repeat;
    margin-top: 12px;
}

#visbox {
    padding-top: 19px;
    height: 152px;
    padding-bottom: 20px;
}

#v1 {
    float: left;
    width: 240px;
    height: 152px;
    margin-left: 1px;
    display: inline;
}

#v1 a {
    display: block;
    width: 240px;
    height: 152px;
    background: url(../mg/vhg.png) no-repeat;
}

#v1 a:hover {
    background: url(../mg/vhg.png) no-repeat;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}

#v2 {
    float: left;
    width: 240px;
    height: 152px;
    margin-left: 13px;
    display: inline;
}

#v2 a {
    display: block;
    width: 240px;
    height: 152px;
    background: url(../mg/vxtd.png) no-repeat;
}

#v2 a:hover {
    background: url(../mg/vxtd.png) no-repeat;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}

#v3 {
    float: left;
    width: 240px;
    height: 152px;
    margin-left: 13px;
    display: inline;
}

#v3 a {
    display: block;
    width: 240px;
    height: 152px;
    background: url(../mg/vag.png) no-repeat;
}

#v3 a:hover {
    background: url(../mg/vag.png) no-repeat;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}

#v4 {
    float: left;
    width: 240px;
    height: 152px;
    margin-left: 13px;
    display: inline;
}

#v4 a {
    display: block;
    width: 240px;
    height: 152px;
    background: url(../mg/vbbin.png) no-repeat;
}

#v4 a:hover {
    background: url(../mg/vbbin.png) no-repeat;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}

.form #forget label span,
.form #agent label span,
.form dl,
.form #register label span,
.form div,
.form h2,
#linesulbox input,
#middle #linesulbox ul li,
#deskpositionleft {
    color: #000;
}

/*video*/
#main.video {
    padding-top: 10px;
}

.video {
    padding-bottom: 10px;
}

.video ul li {
    float: left;
    list-style: none;
}

.video ul li a {
    color: #FFF;
}

.video h1 {
    padding-top: 5px;
}

.videoInfo {
    width: 98%;
    border: none;
    margin: 0 auto;
    margin-top: 10px;
}

.videoInfo p {
    padding: 10px;
    line-height: 20px;
}

.videoInfo p a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}

#game {
    background: url(../mg/loader.gif) no-repeat #FFF;
    background-position: center center;
    height: 98%;
}

.start {
    font-size: 16px;
    font-weight: bold;
}

#youhui li {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#youhui .small {
    cursor: pointer;
}

#youhui .big {
    display: none;
}

#youhui .selected {}

.wrapc {
    margin: 0;
    padding: 0;
    height: auto;
}

#headcontainer {
    margin: 0px;
    height: 204px;
    overflow: hidden;
    background: url(../mg/container_bg_x.jpg) repeat-x;
}

#headpublic {
    width: 1000px;
    margin: 0px auto;
    height: 177px;
    overflow: hidden;
    background: url(../mg/banner-light.png) no-repeat top center;
}

#headwelcome {
    width: 1000px;
    margin: 0px auto;
    height: 204px;
    overflow: hidden;
    background: url(../mg/title_welcome.png) no-repeat;
}

#headmsg {
    width: 850px;
    padding: 0 30px 0 120px;
    margin: 0px auto;
    height: 37px;
    line-height: 37px;
    background: url(../mg/newsbg02.jpg) no-repeat;
}

/*首頁捲動圖*/



#wrapall {
    margin: 0;
    padding: 0;
    height: auto;
    overflow: hidden;
}

#page-container {
    width: 1000px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    zoom: 1;
    background: url(../mg/bg_area.jpg) top left #201F1F repeat-x;
}

#page-bodycc {
    margin: 0;
    padding: 0px;
    padding-bottom: 20px;
    background: url(../mg/insBg01.png) repeat-y;
}

#page-left {
    margin: 0;
    padding: 0;
}

#left_center {
    margin: 0;
    height: auto;
    padding: 0px;
    padding-top: 19px;
    background: url(../mg/sidetop.jpg) no-repeat center top;
}

#Game-Menual {
    margin: 0;
}

#Game-Menual a {
    display: block;
    height: 38px;
    width: 229px;
    line-height: 31px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    background: url(../mg/sidea.jpg) no-repeat center top;
}

#Game-Menual a:hover {
    color: #FFFFFF;
}

#left_down {
    margin: 0;
    height: 40px;
    background: url(../mg/sidebottom.jpg) no-repeat center top;
}

#left_down img {
    display: none;
}


#page-right {
    float: left;
    width: 700px;
    margin-left: 10px;
    padding: 0 10px 0 15px;
}

.lny_lk {
    background-color: #000325;
    height: 30px;
    border-top: 1px solid #121534;
}

#centerwrap {
    width: 1000px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    background: url(../mg/gamearea.jpg) repeat-y;
}

/*#centerwraphead { width:1000px; margin:0 auto; padding:0; padding-left:10px; padding-top:10px; height:30px; font-size:16px; font-weight:bold; color:#FFFDF6; }*/
#centerwrapfoot {
    width: 1000px;
    margin: 0 auto 10px auto;
    padding: 0;
    height: 25px;
    background: url(../mg/gamearea_down.jpg) no-repeat;
    overflow: hidden;
}

#cwrapleft {
    margin: 0;
    height: auto;
    overflow: hidden;
}

#cwrapleft1 {
    margin-left: 10px;
    width: 249px;
    float: left;
    overflow: hidden;
    display: inline;
}


#cwrapright {
    float: right;
    width: 720px;
    padding: 0px;
    height: auto;
    overflow: hidden;
    display: inline;
}

#cwraprwp {
    margin: 0;
    padding: 0;
    height: auto;
    overflow: hidden;
}

#cwraprwp1 {
    margin: 0;
    padding: 0;
    height: auto;
    overflow: hidden;
    background: url(../mg/righttxt_top.png) no-repeat;
}

#cwraprfoot {
    margin: 0;
    padding: 0;
    height: 10px;
    background: url(../mg/righttxt_down.png) no-repeat;
}

#cwraprcen {
    margin: 0;
    padding: 0;
    height: auto;
    overflow: hidden;
    background: url(../mg/about_med.png) repeat-y;
}

#beifoot {
    width: 1000px;
    margin: 0 auto;
    height: 25px;
    background: url(../mg/gamearea_down.jpg) no-repeat;
}

#centerwrap1 {
    width: 1000px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
}

#cwrapright1 {
    float: right;
    width: 740px;
    display: inline;
    padding: 0px;
    height: auto;
    overflow: hidden;
}

.pagetitle {
    margin: 0;
    padding: 0px;
    padding-left: 15px;
    height: 35px;
    line-height: 35px;
    background: url(../mg/BG_advertiseHead.jpg) repeat-x;
    color: #FFFFFF;
    font-weight: bold;
}

.pagecontent {
    margin: 0;
    padding: 0px 10px 10px 15px;
    overflow: hidden;
    zoom: 1;
    height: auto !important;
    height: 525px;
    min-height: 525px;
    overflow: hidden !important;
    overflow: visible;
    zoom: 1;
    line-height: 20px;
    color: #FFFFFF;
    color: #FFF;
    word-wrap: break-word;
    overflow: hidden;
    padding-bottom: 30px;
}

.beimain {
    margin: 0;
    padding: 30px 20px 20px 20px;
    height: auto;
    overflow: hidden;
}

.beititle {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    overflow: hidden;
}

.beimain .beititle font {
    font-size: 12px;
    color: #FF0000;
    font-weight: normal;
}

.beibox {
    margin: 0;
    padding: 0;
    height: 50px;
    overflow: hidden;
}

.beiboxtime {
    float: left;
    width: 90px;
    height: 35px;
    overflow: hidden;
}

.beiboxjt {
    float: left;
    width: 30px;
    padding-top: 3px;
    overflow: hidden;
    font-size: 20px;
    color: #ffffff;
}

.beiboxurl {
    float: left;
    width: 200px;
    overflow: hidden;
}

.beiboxsub {
    float: left;
    width: 60px;
    font-size: 14px;
    padding-top: 3px;
    font-weight: bold;
    color: #ffffff;
    overflow: hidden;
}

.beibox .beiboxsub a {
    color: #FFFFFF;
}

.beibutton {
    cursor: pointer;
}

/**/




/*new*/
.owrap {
    margin: 0;
    padding: 0;
    height: auto;
    overflow: hidden;
}

.wrap {
    width: 980px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

/*cp*/
.cptitle {
    margin: 0;
    padding: 0;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    background: url(../mg/img02.jpg) no-repeat 0px 5px;
}

.kkleft {
    width: 481px;
    height: 105px;
    float: left;
    overflow: hidden;
    padding-bottom: 8px;
}

a.Game-Rule {
    float: left;
    margin-left: 30px;
    margin-top: 60px;
    width: 68px;
    height: 23px;
    display: block;
    background: url(../mg/rule.jpg) top no-repeat;
}

a.cp-login {
    float: left;
    margin-left: 30px;
    margin-top: 60px;
    width: 52px;
    height: 23px;
    display: block;
    background: url(../mg/login.jpg) top no-repeat;
}

.tpurl {
    width: 152px;
    float: right;
    margin-top: 8px;
    margin-right: 16px;
    display: inline;
}

.kkleft .tpurl a,
.kkright .tpurl a {
    display: block;
    width: 152px;
    height: 86px;
    overflow: hidden;
    color: #FF9900;
}

.kkright {
    width: 481px;
    height: 105px;
    float: right;
    overflow: hidden;
    padding-bottom: 8px;
}

/*dianzi*/
.gametitle {
    margin: 0;
    padding: 10px 0 0 30px;
    background: url(../mg/star-point.png) no-repeat 10px 10px;
    height: 23px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
}

.dzgameleft {
    float: left;
    width: 238px;
    height: 205px;
    overflow: hidden;
    margin-top: 6px;
    margin-right: 5px;
    display: inline;
    background: url(../mg/EGame_bg.png) no-repeat;
}

.dzgimg {
    width: 207px;
    height: 152px;
    border: 1px solid #FFFFFF;
    margin-top: 13px;
    margin-left: 13px;
    overflow: hidden;
}

.dzgtxt {
    margin: 0;
    padding: 0 0 0 30px;
    height: auto;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    color: #FF9900;
    height: 32px;
    line-height: 32px;
    background: url(../mg/star-point.png) no-repeat 12px 6px;
}

.dzgameleft .dzgtxt a {
    color: #FFFFFF;
}

/*shixun*/
#livegame {
    margin: 0;
    padding: 13px 0 0 0;
    height: auto;
    overflow: hidden;
}

.gameleft {
    width: 480px;
    height: 238px;
    float: left;
    overflow: hidden;
    background: url(../mg/game_bg.png) no-repeat;
}

.gameright {
    width: 480px;
    height: 238px;
    float: right;
    overflow: hidden;
    background: url(../mg/game_bg.png) no-repeat;
}

.gameright1 {
    width: 479px;
    height: 237px;
    padding-top: 1px;
    padding-left: 1px;
    float: right;
    overflow: hidden;
    background: url(../mg/game_bg2.png) no-repeat;
}

.gameimg {
    margin: 0;
    padding-top: 13px;
    padding-left: 9px;
    height: 186px;
    overflow: hidden;
}

.gametxt {
    margin: 3px 0 0 0;
    padding: 0 0 0 40px;
    height: 21px;
    overflow: hidden;
    line-height: 21px;
}

.gameleft .gametxt font a,
.gameright .gametxt font a {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}

.gameleft .gametxt font a:hover,
.gameright .gametxt font a:hover {
    color: #FF9900;
}

.gameleft .gametxt *,
.gameright .gametxt * {
    vertical-align: middle;
    line-height: 21px;
}

.gadv01 {
    width: 490px;
    height: 70px;
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
}

.gadv02 {
    width: 490px;
    height: 70px;
    float: right;
    margin-bottom: 10px;
    overflow: hidden;
}

.guanimg {
    width: 345px;
    height: 334px;
    float: left;
    overflow: hidden;
    margin-top: 15px;
}

.guaninfo {
    width: 562px;
    height: auto;
    float: right;
    overflow: hidden;
    margin-top: 15px;
    line-height: 20px;
    display: inline;
    color: #FFFFFF;
}

.guanstart {
    width: 542px;
    padding-left: 20px;
    margin-top: 20px;
    height: 30px;
    float: right;
    overflow: hidden;
    background: url(../mg/star-point.png) no-repeat;
    font-size: 14px;
    font-weight: bold;
    color: #FF9900;
}

#owrap .guanstart a {
    color: #FF9900;
}

.guanup {
    margin: 10px 0 20px 0;
    text-align: center;
    height: 30px;
    float: center;
    overflow: hidden;
    background: url(../mg/pf_up.png) no-repeat 410px 0;
    font-size: 14px;
    font-weight: bold;
    color: #FFCC00;
}

#owrap .guanup a {
    color: #FF9900;
}



#ifrbox {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

#ifrleft {
    width: 195px;
    height: auto;
    overflow: hidden;
    float: left;
}

#ifrright {
    width: 800px;
    height: auto;
    overflow: hidden;
    float: right;
}

#floatc {
    width: 122px;
    height: 277px;
    background: url(../mg/kf.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: 150px;
    right: 10px;
}

#floatkf {
    margin: 0;
    height: 251px;
    overflow: hidden;
}

#floatkf a {
    display: block;
    width: 122px;
    height: 251px;
    overflow: hidden;
    cursor: pointer;
}

#floatclose {
    margin: 0;
    height: 26px;
    overflow: hidden;
    background: url(../mg/close.png) no-repeat;
}


#floatdown {
    width: 121px;
    height: 177px;
    background: url(../mg/down.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: 150px;
    left: 5px;
    cursor: pointer;
}

#floatmous {
    margin: 0;
    height: 151px;
    overflow: hidden;
}

#floatmous a {
    display: block;
    width: 121px;
    height: 151px;
}

#floatdownclose {
    margin: 0;
    height: 26px;
    overflow: hidden;
    background: url(../mg/close.png) no-repeat;
}



#welcome {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.980wrap {
    width: 980px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

#nicewrap {
    width: 980px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

#wellwrap {
    width: 1000px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
}


#innerNewsBg {
    background: url(../mg/news1.jpg) left top no-repeat;
    margin: 0 auto;
    padding: 12px 30px 0 170px;
    width: 800px;
    height: 40px;
}

#innerNewsBg marquee {
    color: #FFF;
}

#game_classify {
    width: 960px;
    height: auto;
    margin: 0px auto;
}

#gameIconArea {
    float: left;
    width: 512px;
    height: auto;
    padding: 0px 0 0 30px;
}

#gameIconArea img {
    border: 0;
}

##gameIconArea a {
    color: #FFFFFF;
}

#gameIconArea ul li {
    float: left;
}

#gameIconArea li.mtab .icon_title {
    color: #ffffff;
}

.iconframe {
    float: left;
    width: 116px;
    height: 123px;
    padding: 15px 6px;
}

.icon_img {
    float: left;
    width: 116px;
    height: 105px;
}

.icon_title {
    float: left;
    width: auto;
    height: 14px;
    color: #FFFFFF;
    font-size: 12px;
    padding-top: 8px;
    line-height: 12px;
    font-weight: bold;
}

.iconframe .icon_title a {
    color: #FFFFFF;
}

#ShadowLine {
    width: 13px;
    height: 350px;
    float: left;
    background: url(../mg/ShadowLine.png) top left no-repeat;
    margin: 0px 9px 0 9px;
}

#fontframe {
    float: left;
    display: block;
    width: 340px;
    height: auto;
    padding: 0 5px 0 20px;
    color: #FFFFFF;
    line-height: 24px;
    margin-top: 10px;
    font-weight: bold;
    position: relative;
}

#btn {
    float: left;
    width: 220px;
    height: 55px;
    position: relative;
    top: 30px;
    left: 17px;
    z-index: 1;
}

#btn a {
    color: #FFFFFF;
}

.btnRule {
    width: 276px;
    height: 43px;
    display: block;
    background: url(../mg/btn_rule.png) top left no-repeat;
    font-size: 16px;
    line-height: 45px;
    text-decoration: none;
    color: #2E2D2C;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 2;
}

.btnRule:hover {
    background: url(../mg/btn_rule.png) no-repeat left bottom;
}


.content {
    line-height: 28px;
    color: #ffffff;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 10px;
}

/* bz */
.bzinput {
    width: 220px;
}

.bzinput1 {
    width: 180px;
}

.bzshua {
    margin: 0;
    padding: 0;
    height: 30px;
    padding-top: 30px;
    font-weight: bold;
    font-size: 14px;
    padding-left: 300px;
}

#middle a {
    color: #FFFFFF;
}

/* dianzi */
.description {
    padding-left: 15px;
}

#main .description a {
    color: #FFFFFF;
}

/*member*/


/* jia de */

#MemberExclusive_area {
    padding-bottom: 20px;
    padding-top: 5px;
}

#main.mainlines {
    padding-top: 0px;
}

#centerwraphead {
    height: 30px;
    width: 1000px;
    margin: 0 auto;
    background: url(../mg/banner-ad.jpg) no-repeat;
}

#centerwraphead span {
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 25px;
}

.linesul {
    padding-top: 10px;
}

#main.mainnav h1 {
    width: 1000px;
    height: 1px;
    margin: 0 auto;
    position: relative;
}

#main.mainnav h1 span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding-left: 260px;
    position: absolute;
    padding-top: 10px;
}

/*#privateag {position:absolute; top:0; left:0; height:57px; width:982px; margin:0 auto; background:url(banner-ad.jpg) no-repeat;}
#privateag span {display:block; position: absolute; top:60px; left:245px; font-size:14px; font-weight:bold; height:30px; line-height:30px; font-family:Arial, Helvetica, sans-serif;}*/

/*#agentregurl { margin:0; margin-top:70px;}*/

.reg_add {
    font-weight: bold;
    font-size: 14px;
    padding-left: 0px;
}

#czpwd {
    margin: 0;
    padding: 0;
    height: 28px;
    font-size: 12px;
    font-weight: bold;
    width: 750px;
    position: relative
}

#czpwd span {
    position: absolute;
    left: 38px;
    top: 6px;
}

#main h1 span#videoinfotitle,
#main h1 span#videoindextitle {
    display: block;
}

#videoinfotitle {
    display: block;
    height: 30px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    font-size: 14px;
}

#videoindextitle {
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
}

.reg_bottom {
    background: url(../mg/reg_border_bottom.png) no-repeat left top;
    height: 15px;
    width: 735px;
    padding-left: 0px;
}

#forget div.reg_bottom {
    border: 0;
    width: 735px;
}



.form label span {
    color: #f8e678;
}

#main.video h1 {
    display: none;
}

#main.mainlines #centerwraphead {
    display: none;
}

#main.cnyouhui #centerwraphead {
    display: none;
}

#middle.description {
    width: 740px;
    margin-top: 10px;
}

#main.mainlines #left {
    width: 229px;
    float: left;
    margin-top: 20px;
}

#main.mainlines #middle {
    width: 759px;
    float: right;
    background: #CCC
}

#main.sport {
    margin-top: 5px;
}

#main.mainnav #left {
    width: 229px;
    margin-top: 20px;
}

#main.mainnav #middle {
    margin-top: 30px;
}

#main.fp #left,
#main.agent #left,
#main.reg #left {
    width: 229px;
    float: left;
    margin-top: 20px;
}

#main.fp #middle,
#main.agent #middle,
#main.reg #middle {
    margin-top: 0;
    width: 770px;
    float: right;
}

#main.fp .reg_top,
#main.agent .reg_top,
#main.reg .reg_top {
    display: none;
}

/*#main.fp .reg_add, #main.agent .reg_add ,#main.reg .reg_add { display:none;}*/
#main.agent .reg_bg,
#main.reg .reg_bg {
    background: none;
}

#main.fp .reg_bg {
    background: none;
    height: 500px;
}


#main.fp .reg_top,
#main.agent .reg_top,
#main.reg .reg_top {
    display: none;
}

#main.agent .reg_bg,
#main.reg .reg_bg {
    background: none;
}

#main.fp .reg_bg {
    background: none;
    height: 500px;
}

#main.reg .reg_bg {
    height: auto;
}

#main.agent .reg_bg {
    height: auto;
}



#main.gameList {
    padding-top: 10px;
    padding-bottom: 20px;
}

#main.gameList h1 div {
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

#main.gameList #youxiguize {
    position: absolute;
    top: -5px;
    right: 0;
    width: 200px;
    padding-left: 60px;
}

#main.gameList h1 span {
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.gameList ul li {
    float: left;
    width: 250px;
    overflow: hidden;
    list-style: none;
    text-align: center;
    margin-top: 10px;
}

.gameList a {
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
}

#main.gameList h1 span.description {
    position: absolute;
    right: 0;
    top: -5px;
}

.linesul li {
    margin-top: 5px;
}

#left {
    float: left;
}

#middle {
    float: right;
}

.notice {
    color: #FF0000;
}

/*#publicvisbox li a { display:block;  }
#publicvisbox li a.gamestart , #publicvisbox li a.gametest , #publicvisbox li a.gameinfo{ display:block;  }*/

.form h2,
.form label .title,
.form div,
.form dl,
.cnlinesotherright p,
.cnlinestime,
.cnlineswz,
.content,
#main.mainnav h1 span,
#main .description a,
.form label span {
    color: #fff;
}

.form #forget label span,
.form #agent label span,
.form dl,
.form #register label span,
.form div,
.form h2,
#linesulbox input,
#middle #linesulbox ul li,
#deskpositionleft {
    color: #fff;
}