/* new game  */
.newgame_menubox {
    height: 41px;
    background: #343535;
    margin-top: 10px;
}

.newgame_menubox ul {
    margin: 0;
    padding: 0;
}

.newgame_menubox ul li {
    float: left;
}

.newgame_menubox ul li a {
    display: block;
    width: 76px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    color: #FFF;
    background: url(../images/mg/newgameli.png) no-repeat right center;
}

.newgame_menubox ul li a:hover,
.newgame_menubox ul li a.cur {
    width: 76px;
    height: 43px;
    margin-top: -1px;
    background: #f39800;
}

.newgame_banner {
    height: 107px;
    background: #121212;
    margin-top: 1px;
}

.newgame_banner_in {
    height: 107px;
}

.ngb_mg {
    background: url(../images/mg/mgLogo.png) no-repeat 79px center;
}

.ngb_pt {
    background: url(../images/pt/ptLogo.png) no-repeat 79px center;
}

.ngb_yg {
    background: url(../images/mg/ygLogo.png) no-repeat 79px center;
}

.ngb_hb {
    background: url(../images/mg/hbLogo.png) no-repeat 79px center;
}

.ngb_ps {
    background: url(../images/mg/psLogo.png?v=02) no-repeat 79px center;
}

.newgame_search {
    float: right;
    padding-top: 43px;
    padding-right: 67px;
}

.newgame_input {
    float: left;
    padding-left: 5px;
    width: 149px;
    height: 25px;
    line-height: 25px;
    background: #ffffff;
    border: 0px;
    color: #333333;
}

.newgame_sub {
    float: left;
    width: 59px;
    height: 26px;
    background: url(../images/mg/mgsearch.png) no-repeat;
    border: 0px;
    margin-left: 5px;
    display: inline;
    cursor: pointer;
}


.newgame_menu2 {
    height: 43px;
    background: #1f1f1f;
}

.newgame_menu2_text {
    float: left;
    width: 100px;
    line-height: 43px;
    height: 43px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}

.newgame_menu2_list {
    float: left;
    padding-top: 5px;
}

.newgame_menu2 .newgame_menu2_list a {
    float: left;
    display: block;
    width: 77px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #FFF;
    margin-right: 5px;
}

.newgame_menu2 .newgame_menu2_list a:hover,
.newgame_menu2 .newgame_menu2_list a.cur {
    background: #333333;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.newgame_main {
    width: 1000px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px 0px;
    background: #262626;
}

.ps_list li {
    width: 250px;
    height: 250px;
    float: left;
    padding-top: 11px;
    background: url(../images/mg/psbg.png) no-repeat center top;
    position: relative;
    text-align: center;
}

.psgamepic {
    margin: 0;
    height: 180px;
    text-align: center;
    overflow: hidden;
}

.psgamepic a {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    text-align: center;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 180px 180px;
    overflow: hidden;
}

.psgamewlink {
    padding-top: 15px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    overflow: hidden;
    font-family: '微软雅黑';
}

.psgamewlink a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
}

.ps_list li .gameinto {
    display: none;
    width: 102px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    font-size: 17px;
    font-family: '微软雅黑';
    background: url(../images/mg/gamebutton.png) no-repeat;
    position: absolute;
    top: 98px;
    left: 72px;
    z-index: 5;
    color: #FFFFFF;
}

.ps_list li:hover .gameinto {
    display: block;
    color: #ff0;
}

.setPageDiv {
    display: flex;
}

.wrap {
    width: 200px;
}

.mgimg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.paginationjs-gamelabel .paginationjs-pages li:first-child, .paginationjs .paginationjs-pages li{
    border:none;
}
.paginationjs-gamelabel .paginationjs-pages li:first-child, .paginationjs .paginationjs-pages li a{
    background:transparent;
    color:#fff;
}
.paginationjs-gamelabel .paginationjs-pages li.paginationjs-next{
    border:none;
}
.paginationjs-gamelabel .paginationjs-pages li.active>a{
    height: auto;
    line-height: 21px;
    background: orange;
    border-radius: 8px;
}
.totalitem{
    color: #fff;
    line-height: 28px;
    margin-right: 15px;
}
/* 网页版 hover 效果 */
/*.mgbox:hover{
    position: relative;
    cursor: pointer;
}
.mgbox:hover .mgimg::before{
    content: "";
    width: 186px;
    height: 209px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top:0;
    left: 0;
}
.mgbox:hover .mgimg::after{
    content: "立即游戏";
    width:80px;
    height: auto;
    padding: 5px 0;
    position: absolute;
    top: 65px;
    left: 57px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    border:2px solid #ff0;
    background-color: rgba(0, 0, 0, 0.5);


}*/