
/*
  网站公用css 文件 
*/
/*IE 6.0 背景图片缓存操作*/
html {
    _filter: expression(document.execCommand("BackgroundImageCache",false,true));
}
/*a 标签*/
a {
    text-decoration: none;
    cursor: pointer;
    outline: none; /* for Firefox Google Chrome  */
    behavior: expression(this.onFocus=this.blur()); /* for IE */
    color: #fff;
}

    a:hover {
        color: #fff;
    }

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    color: #fff;
    font-family: "SimSun","Microsoft YaHei", "微软雅黑", "宋体";
    background-color: #20140c;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.dis-none {
    display: none;
}

.floatL {
    float: left;
    _display: inline;
}

.floatR {
    float: right;
    _display: inline;
}
/* 全局 start  */
#body-wrap {
    overflow: hidden;
}

.whole-auto {
    width: 1025px;
    margin: 0 auto;
    position: relative;
}

#hd-wrap {
    width: 100%;
    height: 157px;
    background: #201c19;
}

#hd-top {
    height: 108px;
    border-bottom: 2px solid #14100e;
    width: 100%;
}

    #hd-top .logo {
        width: 335px;
        height: 109px;
        display: block;
        float: left;
    }

        #hd-top .logo a {
            width: 335px;
            height: 109px;
            display: block;
        }

.hd-top-links {
    color: #A87416;
    height: 45px;
    line-height: 45px;
}

#hd-top .hd-top-links a {
    color: #A87416;
}

    #hd-top .hd-top-links a:hover {
        color: #DFB975;
    }

.ele-lang-wrap {
    width: 66px;
    height: 18px;
    display: block;
    margin-top: 14px;
}

.ele-lang-option {
    background: url(../images/flag.png) no-repeat;
    display: block;
    float: left;
    height: 18px;
    margin-right: 4px;
    width: 18px;
    display: inline;
}

.ele-lang-zh-tw {
    background-position: 0 0;
}

.ele-lang-zh-cn {
    background-position: -22px 0;
}

.ele-lang-en {
    background-position: -47px 0;
}

/* 登录注册  */
#login {
    height: 51px;
    width: 667px;
    background: url(../images/form-box-test.png) no-repeat;
    position: relative;
    float: right;
}

.input-box {
    overflow: hidden;
    text-align: left;
    width: 667px;
    position: absolute;
    top: 6px;
    left: 13px;
}

    .input-box li.wid {
        height: 28px;
        background: url(../images/form-input-bg.png) no-repeat;
        float: left;
        margin-right: 13px;
        width: 167px;
        position: relative;
        margin-top: 3px;
    }

    .input-box li .form-btn {
        background: url(../images/form-btn-bg.png) no-repeat;
        width: 66px;
        height: 26px;
        line-height: 26px;
        position: absolute;
        right: 1px;
        top: 1px;
        text-align: center;
        display: block;
        color: #ffffa9;
        font-family: "微软雅黑";
    }

    .input-box li .free-btn {
        background: url(../images/free-play-btn.gif) no-repeat;
        width: 72px;
        height: 23px;
        position: absolute;
        right: 30px;
        top: 3px;
        text-align: center;
        display: block;
        text-indent: -9999px;
    }

    .input-box li.yzm {
        height: 28px;
        width: 114px;
        background: url(../images/form-yz-input-bg.png) no-repeat;
        position: relative;
        margin-top: 3px;
    }

        .input-box li.yzm .form-yzm-img {
            position: absolute;
            right: 2px;
            top: 3px;
        }

    .input-box li {
        float: left;
        margin: 0 7px 0 0;
    }

.input-txt {
    border: medium none;
    color: #FFFFFF;
    height: 26px;
    line-height: 26px;
    margin: 0 4px;
    width: 92px !important;
    float: left;
    background: #1b0f0c;
}

.input-txt-yzm {
    border: medium none;
    color: #FFFFFF;
    height: 26px;
    line-height: 26px;
    margin: 0px 4px;
    width: 61px !important;
    float: left;
    background: #1b0f0c;
}

.input-box li.login_btn {
    border: medium none;
}

.input-box li .btn-sty-001 {
    background: url(../images/form-login-btn.png) no-repeat;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    height: 35px;
    overflow: hidden;
    text-indent: -9999px;
    width: 67px;
    float: left;
}

/* 登录后 start */
.hd-top-inner {
    position: relative;
}

#account-info {
    color: #fff;
    float: right;
    position: absolute;
    right: 0px;
    text-align: right;
    top: 40px;
}

    #account-info .user-info {
        color: #605150;
        float: right;
        position: absolute;
        right: 0;
        top: 20px;
        width: 610px;
    }

    #account-info a {
        color: #fff;
    }

.exit-btn {
    background: url(../images/exits-btn.png) no-repeat;
    height: 28px;
    width: 65px;
    float: right;
}

/* 登录后 end */

/* 登录注册  */

/* 导航菜单  */
#hd-nav-wrap {
    background: url(../images/nav-bg.jpg) repeat-x;
    height: 47px;
    width: 100%;
}

    #hd-nav-wrap .hd-nav-inner {
        position: relative;
        height: 47px;
        padding-left: 10px;
        width: 1015px !important;
    }

    #hd-nav-wrap .hd-nav-wel {
        height: 47px;
        position: absolute;
        left: 15px;
        top: 0;
    }

.hd-nav {
    float: left;
    height: 47px;
    line-height: 47px;
    padding-left: 0px;
}

    .hd-nav li {
        height: 47px;
        float: left;
        display: inline-block;
        padding: 0 12px;
        position: relative;
    }

        .hd-nav li a {
            background: url(../images/nav.png) no-repeat left top;
            height: 47px;
            width: 100px;
            display: block;
            cursor: pointer;
            text-indent: -9999px;
        }

        .hd-nav li.LS-first a {
            background-position: 0px 0px;
        }

            .hd-nav li.LS-first a:hover {
                background-position: 0 -51px;
            }

            .hd-nav li.LS-first a.current {
                background-position: 0 -51px;
            }

        .hd-nav li.LS-sports a {
            background-position: -144px 0px;
        }

            .hd-nav li.LS-sports a:hover {
                background-position: -147px -51px;
            }

            .hd-nav li.LS-sports a.current {
                background-position: -147px -51px;
            }

        .hd-nav li.LS-LiveMain a {
            background-position: -288px 0px;
        }

            .hd-nav li.LS-LiveMain a:hover {
                background-position: -292px -51px;
            }

            .hd-nav li.LS-LiveMain a.current {
                background-position: -292px -51px;
            }

        .hd-nav li.LS-Game a {
            background-position: -544px 0px;
        }

            .hd-nav li.LS-Game a:hover {
                background-position: -544px -51px;
            }

            .hd-nav li.LS-Game a.current {
                background-position: -544px -51px;
            }

        .hd-nav li.LS-Six a {
            background-position: -681px 0px;
        }

            .hd-nav li.LS-Six a:hover {
                background-position: -681px -51px;
            }

            .hd-nav li.LS-Six a.current {
                background-position: -681px -51px;
            }

        .hd-nav li.LS-Lottery a {
            background-position: -413px 0px;
        }

            .hd-nav li.LS-Lottery a:hover {
                background-position: -413px -51px;
            }

            .hd-nav li.LS-Lottery a.current {
                background-position: -413px -51px;
            }

        .hd-nav li.LS-pre a {
            background-position: -806px 0px;
        }

            .hd-nav li.LS-pre a:hover {
                background-position: -811px -51px;
            }

            .hd-nav li.LS-pre a.current {
                background-position: -811px -51px;
            }

        .hd-nav li.LS-service a {
            background-position: -943px 0px;
        }

            .hd-nav li.LS-service a:hover {
                background-position: -943px -51px;
            }

            .hd-nav li.LS-service a.current {
                background-position: -943px -51px;
            }

.youhui-icon {
    background: url("../images/hot.gif") no-repeat;
    display: block;
    height: 11px;
    position: absolute;
    right: 0;
    top: 5px;
    width: 23px;
    z-index: 99;
}


/*副導覽列*/
#live-nav {
    position: absolute;
    top: 46px;
    z-index: 9999;
}

    #live-nav a {
        background: url(../images/hd-nav-on.png) center bottom repeat-x;
        color: #6a2a0c;
        height: 28px;
        line-height: 28px;
        overflow: hidden;
        display: inline;
        float: left;
        text-decoration: none;
        font-size: 12px;
        text-align: center;
        width: 75px;
        position: relative;
    }

        #live-nav a:hover {
            color: #000;
        }
/* 导航菜单  */
/* 公告  */
#wram-wrap {
    height: 46px;
    width: 100%;
    background: #27221d;
}

    #wram-wrap .wram-wrap-inner {
        position: relative;
        height: 46px;
        line-height: 46px;
        background: url(../images/news-bar.png) no-repeat;
        width: 1052px;
        height: 47px;
    }

        #wram-wrap .wram-wrap-inner .openAccount-btn {
            width: 195px;
            height: 46px;
            display: block;
            position: absolute;
            left: 5px;
            top: 0px;
        }

        #wram-wrap .wram-wrap-inner .onlineService-btn {
            width: 195px;
            height: 46px;
            display: block;
            position: absolute;
            right: 5px;
            top: 0px;
        }

        #wram-wrap .wram-wrap-inner .news-bar {
            width: 550px;
            height: 46px;
            line-height: 50px;
            position: absolute;
            left: 290px;
            top: 0px;
            color: #8a7b78;
        }

/* 公告  */

/* 尾部 */
#footer-wrap {
    background: url(../images/footer-bg.jpg) repeat-x;
    width: 100%;
    height: 128px;
}

#fried-links {
    color: #fff;
    height: 47px;
    line-height: 47px;
    width: 100%;
    text-align: center;
}

    #fried-links a {
        color: #fff;
    }

        #fried-links a:hover {
            color: #CCC755;
        }

#footer-wrap .comper-bar {
    background: url(../images/ft-bar.jpg) no-repeat;
    width: 850px;
    height: 37px;
    margin: 0px auto;
    margin-top: 6px;
}

#footer-wrap .own-name {
    width: 100%;
    text-align: center;
    color: #523300;
    height: 30px;
    line-height: 30px;
}

.footer-state-con {
    background: #181411;
    padding: 10px 0px;
    color: #968366;
    padding-top: 18px;
}

.sitemap {
    width: 1025px;
}

.sitemap-title {
    font-weight: bold;
    height: 37px;
    line-height: 42px;
    color: #ad8114;
    border-bottom: 1px solid #000;
}

.sub-title {
    font-weight: bold;
    margin-top: 13px;
}

.sitemap li {
    float: left;
    list-style: none outside none;
    margin-right: 20px;
    width: 230px;
}

    .sitemap li.last {
        margin-right: 0px;
    }

.sitemap-content {
    line-height: 15pt;
    margin-bottom: 20px;
}

/* 尾部 */
#banner-wrap {
    height: 217px;
    background: #080705;
    width: 100%;
}

    #banner-wrap .banner-wrap-bg {
        background: url(../images/banner-bg.jpg) no-repeat center center #010100;
        margin: 0 auto;
        height: 217px;
    }

        #banner-wrap .banner-wrap-bg .banner-inner {
            position: relative;
            height: 217px;
        }

            #banner-wrap .banner-wrap-bg .banner-inner .banner-attr {
                position: absolute;
                width: 237px;
                height: 87px;
                left: 20px;
                bottom: 50px;
                display: block;
            }

#page-main-wrap {
    padding: 15px 0px;
    /*background: #211c18;*/
    height: auto;
    overflow: hidden;
    clear: both;
}

/* 首页  */
#index-banner-wrap {
    background: url(../images/banner-index-bg.jpg) center top no-repeat;
    height: 473px;
    width: 100%;
}

.index-banner-pos {
    height: 473px;
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.index-banner {
    position: absolute;
    right: 35px;
    top: 0;
    width: 410px;
    height: 190px;
}

#page-index-wrap {
    height: 235px;
    background: #211c18;
    padding: 15px 0px;
    height: 205px !important;
}

    #page-index-wrap .index-pho-attr {
        width: 149px;
        height: 199px;
        margin-left: 29px;
        float: left;
        display: inline;
    }

        #page-index-wrap .index-pho-attr a {
            width: 149px;
            height: 199px;
            display: block;
        }

    #page-index-wrap .page-index-pho-live {
        background: url(../images/index-list-pho-live.png) no-repeat;
    }

    #page-index-wrap .page-index-pho-game {
        background: url(../images/index-list-pho-game.png) no-repeat;
    }

    #page-index-wrap .page-index-pho-magic {
        background: url(../images/index-list-pho-magic.png) no-repeat;
        width: 341px;
        height: 199px;
        display: block;
        float: left;
    }

        #page-index-wrap .page-index-pho-magic a {
            width: 341px;
            height: 199px;
            display: block;
            float: left;
        }

    #page-index-wrap .page-index-pho-lottery {
        background: url(../images/index-list-pho-lottery.png) no-repeat;
        width: 149px;
        height: 199px;
        display: block;
        float: left;
    }

        #page-index-wrap .page-index-pho-lottery a {
            width: 149px;
            height: 199px;
            display: block;
            float: left;
        }

    #page-index-wrap .page-index-pho-ele {
        background: url(../images/index-list-pho-ele.png) no-repeat;
    }

/* 首页  */

/* 彩票页面 */
.page-lottery-list ul {
    display: inline;
    float: left;
    margin: 0 0 10px 19px;
    width: 319px;
}

.lot-page-body ul li {
    margin-bottom: 10px;
}

.page-lottery-list {
    width: 1025px;
}

    .page-lottery-list li {
        float: left;
        width: 319px;
        margin: 0px 0px 10px 20px;
        display: inline;
    }

    .page-lottery-list .lottery-box {
        background: url(../images/lottery-list-box.png) no-repeat;
        height: 144px;
        position: relative;
        width: 319px;
    }

.lottery-pho-xglhc a {
    background: url(../images/lottery-pho-mark.png) no-repeat -10px 0px;
}

.lottery-pho-fc a {
    background: url(../images/lottery-pho-3d.png) no-repeat -10px 0px;
}

.lottery-pho-pl3 a {
    background: url(../images/lottery-pho-pl3.png) no-repeat -10px 0px;
}

.lottery-pho-jxsc a {
    background: url(../images/lottery-pho-jxsc.png) no-repeat -10px 0px;
}

.lottery-pho-xjsc a {
    background: url(../images/lottery-pho-xjsc.png) no-repeat -10px 0px;
}

.lottery-pho-shsc a {
    background: url(../images/lottery-pho-shsc.png) no-repeat -10px 0px;
}

.lottery-pho-tjsc a {
    background: url(../images/lottery-pho-tjhappy.png) no-repeat -10px 0px;
}

.lottery-pho-gdhappy a {
    background: url(../images/lottery-pho-gdhappy.png) no-repeat -10px 0px;
}

.lottery-pho-tjhappy a {
    background: url(../images/lottery-pho-tjhappy.png) no-repeat -10px 0px;
}

.lottery-pho-cqsc a {
    background: url(../images/lottery-pho-cqsc.png) no-repeat -10px 0px;
}

.lottery-pho-xglhc a:hover {
    background: url(../images/lottery-pho-mark.png) no-repeat -7px -124px;
}

.lottery-pho-fc a:hover {
    background: url(../images/lottery-pho-3d.png) no-repeat -7px -124px;
}

.lottery-pho-pl3 a:hover {
    background: url(../images/lottery-pho-pl3.png) no-repeat -7px -124px;
}

.lottery-pho-jxsc a:hover {
    background: url(../images/lottery-pho-jxsc.png) no-repeat -7px -124px;
}

.lottery-pho-xjsc a:hover {
    background: url(../images/lottery-pho-xjsc.png) no-repeat -7px -124px;
}

.lottery-pho-shsc a:hover {
    background: url(../images/lottery-pho-shsc.png) no-repeat -7px -124px;
}

.lottery-pho-tjsc a:hover {
    background: url(../images/lottery-pho-tjhappy.png) no-repeat -7px -124px;
}

.lottery-pho-gdhappy a:hover {
    background: url(../images/lottery-pho-gdhappy.png) no-repeat -7px -124px;
}

.lottery-pho-tjhappy a:hover {
    background: url(../images/lottery-pho-tjhappy.png) no-repeat -7px -124px;
}

.lottery-pho-cqsc a:hover {
    background: url(../images/lottery-pho-cqsc.png) no-repeat -7px -124px;
}

.lottery-pho-attr {
    height: 118px;
    left: 179px;
    position: absolute;
    top: 16px;
    width: 125px;
}

    .lottery-pho-attr a {
        height: 118px;
        ;
        width: 125px;
        display: block;
    }

.lottery-title-attr {
    height: 20px;
    line-height: 20px;
    left: 53px;
    position: absolute;
    top: 24px;
}

.lottery-btn {
    width: 110px;
    height: 34px;
    display: block;
    position: absolute;
    left: 27px;
    top: 65px;
}
/* 彩票页面 */

/* 电子游艺页面 */
.banner-ele-title {
    background: url(../images/banner-ele-title.png) no-repeat;
}
/* 电子游艺页面 */

/* 关于我们页面 */
.banner-abount-title {
    background: url(../images/banner-register-title.png) no-repeat;
}

.page-abount-list {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden;
}

    .page-abount-list .page-abount-left {
        background: url(../images/abount-left-sider.png) no-repeat;
        width: 204px;
        height: 484px;
        float: left;
        position: relative;
    }

    .page-abount-list .page-abount-right {
          /* width: 800px; */
    height: auto !important;
    height: 100%;
    overflow: hidden;
    background: #13100e;
    float: left;
    padding: 20px;
    width: 760px !important;
    border: 1px solid #080706;
    color: #8a7b78;    margin-left: 20px;
  
    }

        .page-abount-list .page-abount-right h1 {
            font-weight: bold;
            font-family: "微软雅黑";
            ;
        }

        .page-abount-list .page-abount-right h2 {
            font-size: 12px;
            font-weight: normal;
        }

        .page-abount-list .page-abount-right .section {
            margin-bottom: 5px;
        }

            .page-abount-list .page-abount-right .section p {
                font-size: 12px;
                text-indent: 2em;
                line-height: 2em;
            }

#about-sub-nav {
    left: 18px;
    position: absolute;
    top: 123px;
}

    #about-sub-nav ul li {
        float: left;
        height: 27px;
        line-height: 27px;
        text-align: center;
        width: 176px;
        margin-bottom: 6px;
        font-family: "微软雅黑";
    }

        #about-sub-nav ul li a {
            display: block;
            height: 27px;
            width: 176px;
            color: #fff;
        }

            #about-sub-nav ul li a:hover, #about-sub-nav ul li.cur a {
                color: #010101;
                background: url(../images/abount-sub-nav-on.png) no-repeat;
            }

/* abount 导航内容样式*/
.abount-con p {
    line-height: 21px;
    margin: 5px 5px 10px;
    text-indent: 2em;
}

.mtab-menual {
    margin: 10px 0px;
}

    .mtab-menual li {
        border-bottom: 1px solid #261502;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        float: left;
        height: 30px;
        line-height: 30px;
        margin-right: 20px;
        padding: 0 18px;
        position: relative;
    }

        .mtab-menual li.mtab {
            background-color: #795313;
            color: #fff;
        }

table.articles-table-sty001 {
    margin: 10px;
    text-align: center;
    width: 95%;
}

    table.articles-table-sty001 th {
        background-color: #795313;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        vertical-align: middle;
    }

    table.articles-table-sty001 td {
        padding: 5px 0;
    }

/* 关于我们页面 */

/* 优惠活动页面 */
.banner-vip-title {
    background: url(../images/banner-vip-title.png) no-repeat;
}
/* 优惠活动页面 */

/* 真人娱乐页面 */
.banner-live-title {
    background: url(../images/banner-live-title.png) no-repeat;
}

#page-live-list .page-live-pho-box {
    background: url(../images/live-pho-box.png) no-repeat;
    width: 324px;
    height: 259px;
    float: left;
    display: block;
    margin: 0px 0px 20px 17px;
    position: relative;
    display: inline;
}

    #page-live-list .page-live-pho-box a {
        width: 324px;
        height: 259px;
        display: block;
    }

    #page-live-list .page-live-pho-box .live-pho-atttr {
        width: 301px;
        height: 161px;
        display: block;
        position: absolute;
        left: 10px;
        top: 7px;
    }

    #page-live-list .page-live-pho-box .page-live-pho-hsdcqjt {
        background: url(../images/live-pho-qjd.png) no-repeat;
    }

    #page-live-list .page-live-pho-box .page-live-pho-bbin {
        background: url(../images/live-pho-bbin.png) no-repeat;
    }

    #page-live-list .page-live-pho-box .page-live-pho-og {
        background: url(../images/live-pho-og.png) no-repeat;
    }

    #page-live-list .page-live-pho-box .page-live-pho-mg {
        background: url(../images/live-pho-mg.png) no-repeat;
    }

    #page-live-list .page-live-pho-box .page-live-pho-ag {
        background: url(../images/live-pho-ag.png) no-repeat;
    }

    #page-live-list .page-live-pho-box .page-live-pho-ct {
        background: url(../images/live-pho-ct.png) no-repeat;
    }

    #page-live-list .page-live-pho-box .live-title-attr {
        width: 173px;
        height: 33px;
        position: absolute;
        bottom: 55px;
        left: 75px;
        text-indent: -9999px;
    }

    #page-live-list .page-live-pho-box .page-live-title-qjd {
        background: url(../images/live-title-qjd.png) no-repeat;
    }

    #page-live-list .page-live-pho-box .page-live-title-bbin {
        background: url(../images/live-title-ag2.png) no-repeat;
    }

    #page-live-list .page-live-pho-box .page-live-title-og {
        background: url(../images/live-title-og.png) no-repeat;
    }

    #page-live-list .page-live-pho-box .page-live-title-mg {
        background: url(../images/live-title-mg.png) no-repeat;
    }

    #page-live-list .page-live-pho-box .page-live-title-ct {
        background: url(../images/live-title-ag.png) no-repeat;
    }

    #page-live-list .page-live-pho-box .page-live-title-ag {
        background: url(../images/live-title-ag3.png) no-repeat;
    }




/*注册 */

.page-abount-right form .submitbtn {
    background: url("../images/register-submit-btn.png?=568") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    display: block;
    float: left;
    height: 57px;
    overflow: hidden;
    text-indent: -9999px;
    width: 147px;
}

.page-abount-right form .resetbtn {
    background: url("../images/register-reset-btm.png?=568") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    height: 57px;
    text-indent: -9999px;
    width: 147px;
}

#register-rule {
    width: 574px;
    margin: 25px auto;
    line-height: 30px;
}

h3.reg-title {
    margin: 17px 0 0 36px;
}

.formular {
    color: #fff;
    font-family: "宋体";
    font-size: 12px;
    line-height: 1.5;
    margin: 20px auto;
    text-align: left;
    width: 700px;
}

    .formular fieldset {
        width: 660px;
        margin: 0 auto 15px;
        border: 1px solid #666361;
        padding: 15px;
    }

    .formular legend {
        color: fff;
    }

    .formular p {
        height: 32px;
        line-height: 32px;
    }

        .formular p label, .formular p input, .formular p select, .formular p img, .formular p span {
            display: inline-block;
            _display: inline;
            float: left;
        }

        .formular p label {
            width: 135px;
            text-align: right;
        }

        .formular p input, .formular p select {
            color: #000;
            background: #fff;
            border: 1px solid #b2afad;
            height: 20px;
            line-height: 20px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            box-shadow: 0 0 2px #cfd1d8;
            -moz-box-shadow: 0 0 #cfd1d8;
            -webkit-box-shadow: 0 0 3px #cfd1d8;
        }

        .formular p.memCash_text {
            margin: 0 0 0 86px;
            color: #ede3b3;
        }

        .formular p input#HiddenInput {
            width: 1px;
            height: 1px;
            background: transparent;
            border: 0;
        }

        .formular p img {
            margin-left: 5px;
        }

.reg-tip {
    margin: 10px 0 10px 34px;
}

.reg-select {
    margin-right: 10px;
    padding: 0;
    border: 0;
}

.reg-input-text {
    width: 110px;
}

.reg-input-yzm {
    width: 40px;
}

.formular .mar {
    margin: 11px 0 0 34px;
}

.formular .star {
    color: #ff0000;
    float: none;
}

.submitbtn {
    border: none;
    cursor: pointer;
    height: 50px;
    width: 145px;
    overflow: hidden;
    background: url(../images/abount/reg-sure-btn.png) no-repeat;
    text-indent: -9999px;
    display: block;
    float: left;
}

.resetbtn {
    border: none;
    cursor: pointer;
    height: 50px;
    width: 145px;
    background: url(../images/abount/reg-reset-btn.png) no-repeat;
    text-indent: -9999px;
}

.ref-btn {
    height: 57px;
    margin-top: 10px;
    padding-left: 165px;
    width: 550px;
}



#register-title p {
    margin-bottom: 5px;
}

#register-main-inner {
    margin: 20px auto;
    background: #6e0004;
}

#register-title-bar {
    background: url(../images/common/page-login-bg.jpg) repeat-x;
    height: 85px;
    margin-bottom: 10px;
}

#register-con-box {
    width: 938px;
    height: 1127px;
    color: #fff;
    font-size: 18px;
}
/*表单验证样式*/

/* 密码强度 */
.top_testresult {
    font-weight: bold;
    font-size: 13px;
    font-family: arail,helvetica,san-serif;
    color: #fff;
    padding: 0;
    margin: 0 0 2px 0;
    width: 180px;
    border-radius: 3px;
    box-shadow: 0px 0px 6px #999;
    text-align: center;
}

    .top_testresult span {
        padding: 6px;
        margin: 0;
    }

.top_shortPass {
    background: #FF0000;
    display: block;
    position: absolute;
}

    .top_shortPass span {
    }

.top_badPass {
    background: #FF0000;
    display: block;
    position: absolute;
}

    .top_badPass span {
    }

.top_goodPass {
    background: #D4BC1C;
    display: block;
    position: absolute;
}

    .top_goodPass span {
    }

.top_strongPass {
    background: #77C801;
    display: block;
    position: absolute;
    color: #000;
}

    .top_strongPass span {
    }
/*注册界面end*/



/* us by validation */
.FormError {
    position: absolute;
    top: 300px;
    left: 300px;
    display: block;
    z-index: 500;
}

    .FormError .FormErrorC {
        width: 100%;
        background: #ee0101;
        position: relative;
        z-index: 501;
        color: #fff;
        font-family: tahoma;
        font-size: 11px;
        line-height: 14px;
        border: 2px solid #ddd;
        box-shadow: 0 0 6px #000;
        -moz-box-shadow: 0 0 6px #000;
        -webkit-box-shadow: 0 0 6px #000;
        padding: 4px 10px 4px 10px;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    }

    .FormError .FormErrorA {
        width: 15px;
        margin: -2px 0 0 13px;
        position: relative;
        z-index: 506;
    }

    .FormError .FormErrorABottom {
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        margin: 0px 0 0 12px;
        top: 2px;
    }

    .FormError .FormErrorA div {
        border-left: 2px solid #ddd;
        border-right: 2px solid #ddd;
        box-shadow: 0 2px 3px #444;
        -moz-box-shadow: 0 2px 3px #444;
        -webkit-box-shadow: 0 2px 3px #444;
        font-size: 0px;
        height: 1px;
        background: #ee0101;
        margin: 0 auto;
        line-height: 0;
        font-size: 0;
        display: block;
    }

    .FormError .FormErrorABottom div {
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
/*use by jquery ui dialog*/
.ui-dialog-content {
    padding: 5px 1px;
}

.ui-dialog-title {
    font-size: 14px;
}

#Dialog {
    font-size: 12px;
}

    #Dialog p {
        line-height: 16px;
        margin: 10px 0px 10px 10px;
        height: auto;
    }

#SendForm input[type=text], #SendForm input[type=password] {
    border: 1px solid #6A4444;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 0 2px #6A4444;
    -moz-box-shadow: 0 0 2px #6A4444;
    -webkit-box-shadow: 0 0 3px #6A4444;
}

    #SendForm input[type=text]:hover, #SendForm input[type=password]:hover {
        border: 1px solid #6A4444;
    }

    #SendForm input[type=text]:focus, #SendForm input[type=password]:focus {
        border: 1px solid #6A4444;
    }
/*  ADVANCED STYLES */
.top_testresult {
    font-weight: bold;
    font-size: 12px;
    font-family: arail,helvetica,san-serif;
    color: #FFF;
    padding: 0;
    margin: 1px 0 0 15px;
}

    .top_testresult span {
        padding: 0 6px;
        margin: 0;
        height: 20px;
        line-height: 20px;
    }

.top_shortPass {
    background: #FF0000;
}

.top_badPass {
    background: #5A025A;
}

.top_goodPass {
    background: #0029AA;
}

.top_strongPass {
    background: #128511;
}


/* 固定banner*/
#common-banner {
    width: 1400px;
    margin: 0px auto;
}
/* 字体样式 */
.gray-color {
    color: #8d8a88;
}

.col-advertis-red {
    color: #ffff00;
}

.col-yellow {
    color: #ffff00;
}
/*客服css 重置*/
.skin_blue .content_list, .skin_blue .content_bottom {
    background: none;
    position: relative;
}

.close_btn, .close_btn a {
    width: 44px;
    height: 13px;
}

.close_btn {
    left: 58px;
    bottom: 15px;
    top: auto;
}
/* 固定banner*/
#common-banner {
    width: 1400px;
    margin: 0px auto;
}

/* css 客服 */
.img-png-l, .img-png-r {
    display: block;
    background-repeat: no-repeat;
}

.img-png-r {
    background-image: url(../images/rights.png);
    width: 133px;
}

.kf-server {
    background-position: 0 0;
    height: 221px;
}

.kf-freeReg {
    background-position: 0 -221px;
    height: 64px;
}

.kf-newGuid {
    background-position: 0 -284px;
    height: 37px;
}

.kf-agent {
    background-position: 0 -320px;
    height: 40px;
}

.kf-band {
    background-position: 0 -358px;
    height: 51px;
}

.kf-close-r {
    background-position: 0px -408px;
    height: 26px;
}
/*add*/
.live-page-body ul, .page-ele-list, .lot-page-body-list, #MemberExclusive_area {
    z-index: 99;
}


#float {
    right: 14px;
    position: absolute;
    top: 0px;
    z-index: 12;
    width: 100%;
}

    #float .float-list {
        position: absolute;
    }

    #float .float-img-left {
        width: 124px;
        text-align: center;
        left: -124px;
    }

        #float .float-img-left.on {
            left: 0px !important;
        }

    #float li {
        position: relative;
        text-align: center;
    }

    #float .float-img-right {
        width: 124px;
        right: -124px;
    }

        #float .float-img-right.on {
            right: 0px !important;
        }

.mess {
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    text-align: center;
    z-index: 101;
    position: absolute;
    top: 50%;
    width: 850px;
    height: 463px;
    left: 50%;
    margin: -232px 0 0 -425px;
}

    .mess p {
        margin: 0;
        padding: 0;
    }

.Poptop {
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    font-family: microsoft yahei;
}

.Poptitle {
    color: #333;
    font-size: 14px;
    line-height: 40px;
    float: left;
}

.closePopbtn {
    background: #E7D767;
    width: 80px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    margin-top: 8px;
    float: right;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    text-align: center;
}

.Popcontent img {
    width: 850px;
    height: 420px;
}

.MemberExclusive_area {
    margin: 10px auto 0 auto;
    width: 940px;
}

    .MemberExclusive_area .actitem {
        margin-bottom: 10px;
    }

        .MemberExclusive_area .actitem a {
            display: block;
        }

.memExclusive img {
    height: 130px;
    width: 940px;
}

.eventtext {
    display: none;
    width: 940px;
   
}

.MemberExclusive_area .chk {
    display: block;
}

.eventtext p {
    width: 100%;
    margin: 10px 0px;
    line-height: 24px;
}

.eventtext table th, td {
       padding: 10px !important;
    text-align: center !important;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.eventtext h3 {

color:white;}

.yule {

    position: absolute;
    top: 46px;
    z-index: 9999;} .yule a {
    background: url(../images/hd-nav-on.png) center bottom repeat-x;
    color: #6a2a0c;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    display: inline;
    float: left;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    width: 75px;
    position: relative;
}

.zict {

width: 1025px; margin: 0 auto;}
.zirgrame {

  float: left; width: 816px;
}