#liveGames ul {
    text-align: center;
    padding: 20px 0;
    font-size: 0;
}

ul {
    list-style: none;
}

#liveGames ul li.live1 {
    background: url("/public/moduleresous/images/4v7live/live_AG.png") center 30px no-repeat;
}

#liveGames ul li.live2 {
    background: url("/public/moduleresous/images/4v7live/live_AG_WAP.png") center 30px no-repeat;
}

#liveGames ul li.live3 {
    background: url("/public/moduleresous/images/4v7live/live_BB.png") center 30px no-repeat;
}

#liveGames ul li.live4 {
    background: url("/public/moduleresous/images/4v7live/live_DS.png") center 30px no-repeat;
}

#liveGames ul li.live5 {
    background: url("/public/moduleresous/images/4v7live/live_OG.png") center 30px no-repeat;
}

#liveGames ul li.live6 {
    background: url("/public/moduleresous/images/4v7live/live_MG.png") center 30px no-repeat;
}

#liveGames ul li a {
    position: relative;
    background: url("/public/moduleresous/images/4v7live/live_Background.png") center 0 no-repeat;
    _background: url("/public/moduleresous/images/4v7live/live_Background_ie6.png") center 0 no-repeat;
}

#liveGames ul li a:hover {
    background-position: center bottom;
}

#liveGames ul li.live1 a span {
    background: url("/public/moduleresous/images/4v7live/liveAG.png") center center no-repeat;
}

#liveGames ul li.live2 a span {
    background: url("/public/moduleresous/images/4v7live/liveAGWAP.png") center center no-repeat;
}

#liveGames ul li.live3 a span {
    background: url("/public/moduleresous/images/4v7live/liveBB.png") center center no-repeat;
}

#liveGames ul li.live4 a span {
    background: url("/public/moduleresous/images/4v7live/liveDS.png") center center no-repeat;
}

#liveGames ul li.live5 a span {
    background: url("/public/moduleresous/images/4v7live/liveOG.png") center center no-repeat;
}

#liveGames ul li.live6 a span {
    background: url("/public/moduleresous/images/4v7live/liveMG.png") center center no-repeat;
}

#liveGames ul li a span {
    width: 160px;
    height: 40px;
    display: block;
    margin: 0px auto;
    margin-top: 220px;
    cursor: pointer;
}

#liveGames ul li {
    margin: 10px 5px;
}

#liveGames ul li, #liveGames ul li a {
    display: inline-block;
    *display: inline;
    width: 305px;
    height: 275px;
    float: left;
}

#liveGames {
    width: 950px;
    margin: 0 auto;
    padding-bottom: 50px;
    min-width: 950px;
    min-height: 100%;
}


body{margin:0;padding:0}
/* Livecasino hall room*/
#page-container {
    position: relative;
    
    margin: 0 auto;
    width: 1000px;
}
.livecasino {
	background: url("/public/moduleresous/images/4v7live/livecasino_agroom.png") 0 0
		no-repeat;
	height: 423px;
	position: relative;
	left: -0;
	top:0;
	width:1000px;
}

.livecasino .main_left_hover {
	top: -346px;
	left: -247px;
	width: 388px;
	height: 423px;
	background:
		url("/public/moduleresous/images/4v7live/livecasino_bbroom_hover.png") 0 0
		no-repeat;
	display: none;
	position: absolute;
}
.mainBody_bg{
    width: 970px;
    height: 423px;
}

.livecasino .main_middle_hover {
	top: -12px;
	left: -253px;
	width: 421px;
	height: 377px;
	background:
		url("/public/moduleresous/images/4v7live/livecasino_agroom_hover.png") 0 0
		no-repeat;
	display: none;
	position: absolute;
}

.livecasino .main_right_hover {
	top: -346px;
	left: -297px;
	width: 414px;
	height: 423px;
	background:
		url("/public/moduleresous/images/4v7live/livecasino_mgroom_hover.png") 0 0
		no-repeat;
	display: none;
	position: absolute;
}

.livecasino .main_left {
	position: absolute;
	top: 0;
	left: 0;
	width: 388px;
	height: 423px;
	background: url("/public/moduleresous/images/4v7live/livecasino_bbroom.png") 0 0
		no-repeat;
}

.livecasino .main_left .bb_star {
	position: absolute;
	bottom: 45px;
	right: 52px;
	width: 89px;
	height: 19px;
	background: none;
	border: 0;
}

.livecasino .main_middle {
	position: absolute;
	top: 0;
	left: 388px;
	width: 200px;
	height: 423px;
}

.livecasino .main_middle .ag_star {
	position: absolute;
	left: 156px;
	top: 30px;
	width: 89px;
	height: 19px;
	background: none;
	z-index: 10;
	border: 0;
}

.livecasino .main_right {
	position: absolute;
	top: 0;
	right: 0;
	width: 414px;
	height: 423px;
	background: url("/public/moduleresous/images/4v7live/livecasino_mgroom.png") 0 0
		no-repeat;
}

.livecasino .main_right .mg_star {
	position: absolute;
	bottom: 45px;
	right: 28px;
	width: 89px;
	height: 19px;
	background: none;
	border: 0;
}

#mainBody_bg{
        padding-top: 50px;
}