<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="已导入的规则 1">
                    <match url="^DepositCallback\.php$" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="已导入的规则 2">
                    <match url="^(.*)/([\w\-]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="{R:1}/{R:2}.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
