@charset "utf-8";
.caipiaowrapbox-mid {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0px;
	background-color:rgba(0,0,0,0.2);
}

.caipiaowrapbox-mid .gameBox {
    display: block;
    width: 489px;
    height: 234px;
    float: left;
    margin-left: 7px;
    margin-top: 10px;
    position: relative;
}

.caipiaowrapbox-mid div .game-Convert {
    top: 170px;
    right: 60px;
    background: url(../img/btn.png) no-repeat;
    position: absolute;
    display: block;
    width: 118px;
    height: 34px;
    cursor: pointer;
}


.caipiaowrapbox-mid div a.game-game {
    top: 170px;
    left: 60px;
    background: url(../img/btn_game.png) no-repeat;
    position: absolute;
    display: block;
    width: 118px;
    height: 34px;
}
.game_vg{background: url(../img/vg-qp.jpg) no-repeat;}
.game_fish{background: url(../img/new_by.jpg) no-repeat;}
.game_ky{background: url(../img/new_ky.jpg) no-repeat;}
.game_qp{background: url(../img/new_qp.jpg) no-repeat;}
.game_le{background: url(../img/new_le.jpg) no-repeat;}
.game_comesoon{background: url(../img/jqqd.jpg) no-repeat;}